<div class="block">
  <div class="sechead">Activities</div>
  <div class="content">
    <a href="display.php?node=studygroup">Study Groups</a><br>
    <a href="display.php?node=installfest">Installfests</a><br>
    <a href="display.php?node=dtc_info">Monthly Meetings</a><br>
    <a href="display.php?node=calendar_2012">2012 Calendar</a><br>
  </div>
</div>

