<div class="block">
<h3>Monthly Meeting</h3>
<div class="content">
CLUE hosts a monthly meeting on the 2nd Tuesday of each month.

<p><b>Next Meeting: </b>8 March 2016, 7:00 PM</b><br>
<b>Location: </b><a href="display.php?node=dtc_info">McAfee</a><br>
<b>Speaker: </b>None
<br>
<b>Topic: </b>Final Meeting
</p>
<p>This will be the last scheduled meeting for CLUE. Our hosts are no longer
able to provide space due to organizational changes so we don't have a place to
meet. If you'd like to arrange for future meetings please say so on the list.
</p>

<p><b>Upcoming meetings:</b>
<ul>
    <li>None, unless someone wants to arrange space for one.
</ul>
<b>Speakers Needed: </b>CLUE is seeking speakers to give presentations for our meetings. Topics may be anything related to Linux or other Free/Open-Source software. If you would like to make a presentation at one of our meetings, or know of someone who would, please contact <?PHP echo SPEAKERS; ?>.
</div>
</div>
