<div class="block">
<a name="installfest"></a><h3>Installfest</h3>
<div class="content">
An "Installfest" is a social gathering where folks interested in Linux share knowledge about Linux installation and configuration. Often, those new to or interested in Linux will bring their computers for installation assistance. Others have already installed Linux and wish to try out new configurations or software. Typically, the CLUE installfests last for most of a weekend day.
<p>
We try to alternate locations between the DeVry University Denver South Campus in the Denver Tech Center and DeVry Westminster near 120th and Huron.  Please see our <a href="display.php?node=installfest">Installfest page</a> for more information.
</div>
</div>
