<div class="block">
<div class="sechead">Linux</div>
<div class="content">
<img src="objects/tux_86w.png" alt="tux the penguin" width=86 height=103><br><a href="http://www.linux.org/">Linux</a> is a registered trademark of Linus Torvalds.
</div>
</div>
