BODY {
  color: #FFEEAA;
  background-color: #2d586e;
  background-attachment: "fixed";
  font-family: "sans-serif";
  margin: 10px;
  padding: 0px;
}

A:link {color: #51188e}
A:visited {color: #373f50}
A:active {color: #0080af}
A:hover {color: #003399}

div.header {
  background-color: #373f50;
  color:            #000000;
  border: 1px solid black;
  margin-bottom: 1em;
}

div.footer {
  font-size: small;
  background-color: #ffffff;
  color:            #000000;
  padding: 3px;
  border: 1px solid black;
}

div.topnav {
	border-top: 1px solid black;
	background: #373f50;
	padding: 3px 0px 3px 0px;
}
div.topnav a, div.topnav a:visited {
	color: white;
	background: transparent;
	border-right: 1px solid black;
	padding: 3px 8px;
}
div.topnav a:hover {
	color: yellow;
	background: #798bae;
	border-right: 1px solid black;
}

table.main {
    background-color: white;
    color: black;
}

TD {
  text-align: left;
  vertical-align: top;
}

div.block {
  margin: 0.5em;
  border: 1px solid black;
}

div.sechead {
  background-color: #e5edff;
  color:            black;
  font-weight:      bold;
  padding: 6px;
}

div.block > h3 {
  font-size: large;
  margin: 0px;
  background-color: #e5edff;
  color:            black;
  font-weight:      bold;
  padding: 6px;
}

div.content {
  padding: 6px;
}

div.block h4 {
  padding-left: 6px;
}


div.error {
  margin: 1em 2em 1em 2em;
  border-left: 1px solid red;
  padding-left: 0.5em;
}

div.error > b {
  color: red;
  font-size: large;
}

div.error > samp {
  font-family: courier;
  font-weight: bold;
}

div.error > em {
  font-size: large;
  font-style: normal;
}

td.leftnav {
  text-align: right;
  background-color: #e5edff;
  margin: 0px;
  padding: 0px;
  border-right: 1px solid black;
}

table.sponsor {
  margin: 1em;
  border-collapse: collapse;
}

table.sponsor tr {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

table.sponsor td {
  padding: 0.5em;
  text-align; left;
}

td.sponsor_logo {
  padding: 0.5em;
  text-align; center;
}

div.footer blockquote {
  font-style: italic;
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid black;
  background-color: #e5edff;
}

div.presentation {
  color: inherit;
  background-color: inherit;
#  border: 1px solid black;
  margin: 0px 0px 0.5em 0px;
  padding: 0.5em;
}

div.presentation h4 {
  color: black;
  background-color: #e5edff;
  color: white;
  background-color: #2d586e;
  padding: 3px;
  margin: 0px 0px 0.5em 0px;
}

#bookreview {
  margin: 1em;
}
#bookreview td {
  vertical-align: top;
  text-align: left;

}.logocolor {color: #788aae;}
