<div class="block">
<h3>North Meeting</h3>
<div class="content">
CLUE hosts a monthly meeting, usually on the 4th Monday of each month, at the DeVry University Westminster Campus.
<p>
<!-- Haven't heard squat from Zach
<b>Next Meeting:</b> 28 April 2008, 7:00 PM<br>
<b>Location:</b> <a href="display.php?node=north_info">DeVry University, Room 300</a><br>
<b>Topic:</b> Nagios
<p>
<b>Upcoming Meetings:</b>
<ul>
    <li>26 January 2009</li>
    <li>23 February 2009</li>
    <li>23 March 2009</li>
    <li>27 April 2009</li>
    <li>25 May 2009</li>
    <li>22 June 2009</li>
    <li>27 July 2009</li>
    <li>24 August 2009</li>
    <li>28 September 2009</li>
    <li>26 October 2009</li>
    <li>23 November 2009</li>
    <li>December 2009 — No Meeting</li>
</ul>
<p> -->
<b>Speakers Needed:</b> CLUE is seeking speakers to give presentations for our meetings. Topics may be anyting related to Linux or other Free/Open-Source software. If you would like to make a presentation at one of our meetings, or know of someone who would, please contact <?PHP echo NORTH; ?>.
</div>
</div>
