<div class="block">
<div class="sechead">North Meeting</div>
  <div class="content">
    <a href="display.php?node=north_info">Meeting Info</a><br>
    <a href="display.php?node=north_2009">Presentations</a>
  </div>
</div>
