<div class="block">
<h3>Search CLUE</h3>
<div class="content">
<!-- Search Google -->
<center>
<FORM method=GET action="http://www.google.com/search">
<TABLE bgcolor="#FFFFFF"><tr><td>
<A HREF="http://www.google.com/">
<IMG SRC="http://www.google.com/logos/powered_by_google_135x35.gif" 
border="0" ALT="Google" align="absmiddle"></A>
<INPUT TYPE=text name=q size=25 maxlength=255 value="">
<INPUT type=submit name=btnG VALUE="Search">
<input type=hidden name="as_sitesearch" value="cluedenver.org">
</td></tr></TABLE>
</FORM>
</center>
<!-- Search Google -->
</div>
</div>
