<div class="block">
<h3>Who is CLUE?</h3>
<div class="content">
Colorado Linux Users &amp; Enthusiasts (CLUE) is the <a href="http://www.linux.org/groups/">Linux User's Group</a> (LUG) for the Denver metro area. Our goal is simple: we advocate the <a href="http://linux.org/">GNU/Linux</a> operating system. Our advocacy is achieved by social gatherings and dissemination of information about GNU/Linux, and other <a href="http://www.gnu.org/philosophy/">Free</a> and <a href="http://opensource.org/docs/definition.php">Open Source</a> software.
<p>
Participation in CLUE is free and open to everyone. We have regular meetings, and provide several mailing lists for discussions about Free and Open Source Software, and other topics of interest to Linux enthusiasts. Meetings are held in the <a href="display.php?node=dtc_info">Denver Tech. Center</a> area on the second Tuesday of each month.
<p>
Whether you are new to Linux, a Linux expert, or just interested in Linux,
please join us at our next meeting. If you cannot attend the monthly meetings,
we encourage you to get involved in CLUE remotely by joining the CLUE <a href="<?php print MAILMAN ?>">email</a> lists.
<p>
We have hosted <a href="#installfest">Installfests</a>, where CLUEbies gather to
share knowledge about Linux installation and configuration. While everyone
seemed to enjoy them we do not have volunteers to organize them at this time.
Hopefully that will change sooner rather than later.
</div>
</div>
