<div class="block">
<h3>Web Site</h3>
<div class="content">
The code for this web site is available from <a href="http://gitlab.com">GitLab</a>.

<p>You should be able to clone the code from <a href="https://gitlab.com/CLUE/web.git">https://gitlab.com/CLUE/web.git</a>.

<p>If you see anything you want to change, get the code and submit a merge
request.  In fact, maybe your first change could be to write down how to do that
right here.
</div>
</div>
