body {
	background: #ffffe0;
	font-family: lucida, helvetica, sans-serif;
	font-size: 14pt;
}
h1 {
	color: #000000;
	text-align: center;
}
h2 {
	color: #0000ff;
}
h3 {
	color: #0000ff;
}
th {
	background: #ddddff;
	font-size: 14pt;
}
td {
	font-size: 14pt;
}
pre {
	font-size: 14pt;
}
code {
	font-size: 14pt;
}
