BODY
{
	font:normal normal 16pt times, serif;
	background:#6B0094;
	color:white;
	width:770px;
}
ul.bullet1
{
	font-size:0.8em;
}
li
{
	padding:0.2em;
}
.title
{
	text-align:center;
	font:normal normal 28pt arial, lucida, helvetica, san-serif;
}
.slide
{
	position:relative;
	margin-bottom:0px;
	height:400px;
	padding:30px;
}
.screenshot
{
	font-size:12pt;
	position:absolute;
	height:400px;
	width:700px;
	padding:0.5em;
	color:white;
	background-color:black;
	border:3px ridge silver;
}
.copyright
{
	text-align:center;
	font:italic normal 12pt times, serif;
	margin-top:10pt;
}
a
{
	color:white;
}

