<TABLE BORDER="1" CELLSPACING="0" CELLPADDING="2" BORDERCOLOR="#000000" id="bookreview">
    <tr><td><b>Author</b></td><td>Paul Albitz & Cricket Liu</td></tr>
    <tr><td><b>Title (year)</b></td><td>DNS and BIND</td></tr>
    <tr><td><b>Publisher</b></td><td><a href="http://www.oreilly.com/">O'Reilly</a></td></tr>
    <tr><td><b>Pages</b></td><td>599</td></tr>
    <tr>
        <td><b>Rating</b></td><td>
          <img src="objects/tux_sm.gif" width=15 height=18 border=0>
          <img src="objects/tux_sm.gif" width=15 height=18 border=0>
          <img src="objects/tux_sm.gif" width=15 height=18 border=0>
          <img src="objects/tux_sm.gif" width=15 height=18 border=0> (1=safely ignore; 5=must have!)
        </td>
    </tr>
    <tr><td><b>Reviewer</b></td><td><a href="mailto:Paul@eBille.cudenver.edu">Paul Bille</a></td></tr>
    <tr><td><b>ISBN</b></td><td>0-596-00158-4</td></tr>
    <tr>
        <td><b>Summary</b></td><td>
This book is of particular interest to System Administrators and those interested in or responsible for network administration, network services and security. The popularity of network operating systems: LINUX, UNIX and the trend of Windows in this direction has significantly enlarged this group. This is no longer the exclusive realm of high priests and technophiles. If you want to offer network services, this book is for you.
<p>
The title of the book describes the content. It's a large and important topic that warrants a book dedicated to it.
        </td></tr>
    <tr><td><b>Review</b></td>
    <td>
A technical topic like DNS and BIND can quickly obfuscate most readers, even experienced computer users. It's a dry topic that can put even the busiest computer professional to sleep. The first three chapters of this book are dedicated to the lighter subject, a qualitative description of network naming services. It's an easy to read introduction to a complex topic written in a style that maintains interest while gradually introducing some of the terminology and concepts required for later, more technical chapters.
<p>
Chapter 4 is gruesome. It has all the details that are necessary to properly configure a DNS server. Whereas the previous chapters are interesting, light reading, this chapter is a reference, requiring focus and immediate access to a server for "hands on" learning. This chapter will be read and re-read to be fully appreciated. Each time this section is referenced, more detail will be revealed.
<p>
The remainder of the book goes into related topics in increasing detail, services that rely on DNS such as electronic mail, debugging, maintaining and adapting servers through time as the network grows and changes.</p>
<p>
If you're looking for bedside reading, this is no substitue for "Blackhawk Down" or "Hunt for Red October" but if you're operating network servers or even setting up your own intranet, this book is a must.
        </td>
    </tr>
</table>
