<H2>CLUE Book Reviews</H2>
<P>Welcome to CLUE Book Reviews! This is the location for CLUE members to
read and write book reviews for books donated to our meetings.

<H3>What's in it for me?</H3>
<P>As the old saying goes, your name will
'be in lights', published for all to see on the CLUE web site. The
most recently published book review will be listed on the CLUE home
page. In addition, to the gratifying aspect of being published on
the internet, aspiring internet writers and journalists can hone
their writing skills.</P>

<H3><B>What's in it for the publishers?</B></H3>
<P>Most all of the books that we give as meeting prizes were donated by
the publisher of the book. Each publisher would love to read reviews of
the books that we give away. It gives the publisher and author direct
feedback about their wares.</P>

<H3>What's in it for CLUE?</H3>
<P> The more books we review and publish
on the CLUE web site, the more apt a publisher will be to continue to
donate. In addition, as more books are reviewed, the CLUE site will
be a destination for Linux enthusiasts to read book reviews before
they make a purchase.</P>

<H3>Review guidelines</H3>
<OL>
	<LI><P>Read the book! Publishers and authors know if you did not
	read the <I>entire</I> book. In their interests, and for the sake
	of your credibility read the book so you can give an honest and fair
	review.</P>
	<LI><P>Outline your thoughts on the book. The most important
	question to answer for your reader is 'should I plunk down hard cash
	for this book?' The following should help you organize your
	thoughts:</P>
	<OL>
		<P>Who was the audience for the book?<BR>Would the audience like
		this book?<BR>Does the title match the contents? <BR>Is the depth
		of the book appropriate?<BR>How was the organization of of the
		book? <BR>How were the illustrations?<BR>What did you like and
		dislike most about the book?<BR>Did additional items (e.g., CD-ROM)
		come with the book?<BR>Were the additional items useful?</P>
	</OL>
	<LI><P>Write the review! Now that you have read the book and
	organized your thoughts, you can write the review. See the 'How do
	I submit a review?' for specific information to include.</P>
	<LI><P>Submit the review!</P>
</OL>
<H3>How do I submit a review?</H3>
Email your review to <?php print REVIEWS ?>.
Make sure it contains the following information:
<p>
<TABLE BORDER="1" CELLSPACING="0" CELLPADDING="2" BORDERCOLOR="#000000" id="bookreview">
<tr><td><b>Author</b></td><td>Name of the author.</td></tr>
<tr><td><b>Title (Year)</b></td><td>Book Title and year published.</td></tr>
<tr><td><b>Publisher</b></td><td>Name of the publisher.</td></tr>
<tr><td><b>Pages</b></td><td>Number of pages in the book.</td></tr>
<tr><td><b>Rating</b></td><td>Number of penguins out of 5 (1=horrible, 5=great).</td></tr>
<tr><td><b>Reviewer</b></td><td>Your name and email address.</td></tr>
<tr><td><b>ISBN</b></td><td>The ISBN for the book (check the cover).</td></tr>
<tr><td><b>Summary</b></td><td>A one-sentance summary of your review.</td></tr>
<tr><td><b>Review</b></td><td>There is no formal length requirement, but 4-6 paragraphs
(about 1 page of text) is probably the minimum. Do consider that a review is
not a restatement of the book, so if you get too long, your lessen the
effects of the review. Be sure to organize your thoughts and please
strive for correct spelling, punctuation, and grammar. We will not
edit the review text, but if it needs some additional work, we will
let you know.</td></tr>
</table>
