<TABLE BORDER="1" CELLSPACING="0" CELLPADDING="2" BORDERCOLOR="#000000" id="bookreview">
        <tr><td><b>Author</b></td><td>Kurt Wall, Mark Watson</td></tr>
        <tr><td><b>Title (year)</b></td><td>Linux Programming Unleashed</td></tr>
        <tr><td><b>Publisher</b></td><td><a href="http://www.samspublishing.com/opensource/">Sams</a></td></tr>
        <tr><td><b>Pages</b></td><td>886</td></tr>
        <tr><td><b>Rating</b></td><td>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        (1=safely ignore; 5=must have!)
        </td></tr>
        <tr><td><b>Reviewer</b></td><td><a href="mailto:Paul@eBille.cudenver.edu">Paul Bille</a>.
        </td></tr>
        <tr><td><b>ISBN</b></td><td>0-672-32021-5</td></tr>
        <tr><td><b>Summary</b></td><td>
This book is of particular interest to developers and kernel hackers in addition to system administrators. It contains information on the full spectrum of tools necessary to write, compile, distribute and install applications developed in any language on the LINUX platform. Topics include:
<ul>
<li>Compilers</li>
<li>Libraries</li>
<li>Code Management using RCS and CVS</li>
<li>programming environment and debugging</li>
<li>Interprocess Communication</li>
<li>Network Programming and Sockets</li>
<li>XWindows Programming</li>
<li>Shell Programming</li>
<li>Device Drivers</li>
</ul>
In addition to being an excellent reference, parts of this book are written in a flowing style more often associated with narratives. These sections provide a conceptual backdrop for the more technical parts of the book that are organized in the traditional style of references. 
</td></tr>
        <tr><td><b>Review</b></td>
<td>
This book provides a good overview of a wide range of topics from command line invocation of shell scripts to compiling and debugging in an integrated development environment. The perspective is at the operating system level. This is not a "C" programming manual. It does not get bogged down in particular details of any one language but rather concentrates on the support the operating system provides for a variety of languages and development styles. This book also addresses tasks associated with application development. There are sections that suggest good practices for organizing, maintaining and distributing code.
<p>
This book is a "must have" for anyone developing on a LINUX platform. Information in the sections on network programming are unlikely available in any "C" manual or any other programming language reference. The sections on organizing a project, maintaining and distributing code are probably also unique. 
</p>
</td></tr>
</table>
