<TABLE width=100% BORDER="1" CELLSPACING="0" CELLPADDING="2" BORDERCOLOR="#000000" id="bookreview">
  <tr><td><b>Author</b></td><td>John P. Lathrop</td></tr>
  <tr><td><b><nobr>Title (year)</nobr></b></td><td><a href="http://www.apress.com/book/bookDisplay.html?bID=11">Linux in Small Business: A Practical User's Guide</a> (Jan 2002)</td></tr>
  <tr><td><b>Publisher</b></td><td><a href="http://www.apress.com/">Apress</a></td></tr>
  <tr><td><b>Pages</b></td><td>308</td></tr>
  <tr>
    <td><b>Rating</b></td>
    <td>
      <img src="objects/tux_sm.gif" width=15 height=18 border=0>
      <img src="objects/tux_sm.gif" width=15 height=18 border=0>
  	  (1=safely ignore; 5=must have!)
  	</td>
  </tr>
  <tr><td><b>Reviewer</b></td><td>Gary Threlkeld</td></tr>
  <tr><td><b>ISBN</b></td><td>1-893115-46-1</td></tr>
  <tr>
    <td><b>Summary</b></td>
    <td>
As the title of the book implies, the author presents practical guidelines for small businesses to adopt Linux; how it can be a cost-effective alternative to an "all Windows" environment; and how Linux can perform in both server and workstation roles.
  </td> 
  </tr>
  <tr><td><b>Review</b></td>
    <td>
The book takes a basic approach - assuming a fictitious small business is looking to introduce Linux into a Windows shop.   For simplicity, the book chooses to explore installation of Red Hat (V7.2) along with a PostgreSQL database implementation.
<p>
Starting with the obligatory installation mechanics (well covered by many other sources), the author transitions to discussions of how to become comfortable with Linux through a high-level review of the desktop environment, X-Windows, GNOME, and how to mount floppies & CD's - along with other basic operational mechanics.  Subsequent chapters detail using Linux as a platform for LAN server functions including connecting to the Internet, file/print sharing with NFS/SAMBA, email, and serving up web pages.  Next,discussions turned back to focus on the workstation platform - covering setup and usage of Star Office as a replacement for proprietary solutions.   The last chapters attempt to "round out" the tour by walking through systems management, command line operations and how to make a boot disc.  Probably the best portion of the book was an appendix that summarized all the different functional roles that Linux could provide and the associated Linux configuration files that would require customization.
<p>
If looking for ammunition to defend Linux as a business solution over other proprietary operating systems, you should look elsewhere.  If you are looking for a "comprehensive guide" to lead you through integration of Linux into your business processes, this also misses the mark.  As a practical user's guide it expends a lot of effort on describing the mechanics of "how" to implement functionality with numerous references to examples that can be downloaded from the author's consulting company website (discussions that are just as well covered by package installation documentation).  Too little effort is spent in exploring "why" the described features/functions are necessary and its importance to business. 
  </td>
</tr>
</table>
