<TABLE BORDER="1" CELLSPACING="0" CELLPADDING="2" BORDERCOLOR="#000000" id="bookreview">
		<tr><td><b>Authors</b></td><td>Randy Jay Yarger, George Reese, and Tim King</td></tr>
		<tr><td><b>Title</b></td><td>MySQL and mSQL (1999). (see note)</td></tr>
		<tr><td><b>Publisher</b></td><td><a href="http://www.oreilly.com/">O'Reilly</a></td></tr>
		<tr><td><b>Pages</b></td><td>487</td></tr>
		<tr><td><b>Rating</b></td><td>
		<img src="objects/tux_sm.gif" width=15 height=18 border=0>
		<img src="objects/tux_sm.gif" width=15 height=18 border=0>
		<img src="objects/tux_sm.gif" width=15 height=18 border=0>
		(1=safely ignore; 5=must have!)
		</td></tr>
		<tr><td><b>Reviewer</b></td><td><a href="mailto:jason@powerpull.net">Jason Friedman</a>.
		</td></tr>
		<tr><td><b>ISBN</b></td><td>1-56592-434-7</td></tr>
		<tr><td><b>Summary</b></td><td>It's hard to go wrong with O'Reilly.</td></tr>
		<tr><td><b>Review</b></td><td>
<p>Like most O'Reilly texts, this book is well-written, has a detailed index and table of contents, and uses good fonts.
</p>
<p>The book starts with a pretty good description of database design and theory.  The description is incomplete, but contains 95% of what most people designing a web backend would need to know.
</p>
<p>The book covers mSQL in addition to MySQL.  mSQL is an even lighter-weight database than MySQL.  I did not read those pages and so cannot comment on them.
</p>
<p>The book covers the use of the Perl DBI with MySQL.  Readers familiar with the Perl DBI will find this section sufficient to serve as a reminder of its functionality, but readers unfamiliar with it are advised to get a separate tutorial on that subject.  The book also describes other programming interfaces to MySQL, such as Python, PHP, C, C++, and Java, which pages I also did not read.
</p>
<p>My major complaint with this book is the reference material.  It contains a section with a listing of every MySQL command.  The examples are lacking, however, and the listing itself is missing a few commands.  The MySQL website is a much better source of information.
</p>
<p>It briefly touches on installing MySQL.</p>
		</td></tr>
		<tr><td><b>Note</b></td><td>This title is no longer in print. &nbsp;O'Reilly offers
		MySQL, 2nd edition.
</table>
