<TABLE BORDER="1" CELLSPACING="0" CELLPADDING="2" BORDERCOLOR="#000000" id="bookreview">
        <tr><td><b>Author</b></td><td>Edited by Chris DiBona, Sam Ockman, and Mark Stone.</td></tr>
        <tr><td><b>Title (year)</b></td><td>Open Sources: Voices from the Open Source Revolution</td></tr>
        <tr><td><b>Publisher</b></td><td><a href="http://www.oreilly.com/">Oreilly</a></td></tr>
        <tr><td><b>Pages</b></td><td>886</td></tr>
        <tr><td><b>Rating</b></td><td>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        (1=safely ignore; 5=must have!)
        </td></tr>
        <tr><td><b>Reviewer</b></td><td><a href="mailto:jlarue@jlarue.com">James LaRue</a>.

        </td></tr>
        <tr><td><b>ISBN</b></td><td>1-56592-582-3</td></tr>
        <tr><td><b>Summary</b></td><td>
At once history, business and economic analysis, cultural anthropology, and intellectual autobiography, "Open Sources" is a good introduction to the roots of today's Open Source environment. It's also a good read. 
        </td></tr>
        <tr><td><b>Review</b></td>
        <td>
This 272 page collection of essays features the key "voices" of what was first just good hacking, then became "free software," and eventually emerged on the world economy as Open Source. Among the writers are:
<ul>
<li>Eric Raymond, creator of the fetchmail program. Raymond is also author of "The Cathedral and the Bazaar," which became the cultural manifesto of the Open Source movement.</li>
<li>Richard Stallman of the Free Software Foundation, creator of emacs, gcc, and GNU. Stallman also gives us the ideas of "copyleft" and the GNU General Public License.</li>
<li>Larry Wall, author of the Perl programming language, and a gifted linguist.</li>
<li>Jim Hamerly, CEO of the company that began the odyssey of Netscape to Mozilla.</li>
<li>Tim O'Reilly, founder of the publishing house that dominates the Open Source world.</li>
<li>Robert Young, the founder of Red Hat.</li>
<li>And of course, Linus Torvalds, the man who started Linux, and has served so well as the benevolent dictator of a powerful new model of software engineering.</li>
</ul>

All of the above, as well as the others (there are 14 writers in all), 
are clear and often passionate writers. They do a good job of not only 
laying out the personal motivations that pulled them into leadership 
positions in the Open Source world, but also in detailing the 
connections between all the forces that make Open Source work.
</td></tr>
        </table>

        </td>
    </tr>
</table>
