<TABLE BORDER="1" CELLSPACING="0" CELLPADDING="2" BORDERCOLOR="#000000" id="bookreview">
        <tr><td><b>Author</b></td><td>Martin McCarthy</td></tr>
        <tr><td><b>Title (year)</b></td><td>The Procmail Companion (2001).</td></tr>
        <tr><td><b>Publisher</b></td><td><a href="http://www.aw.com/">Addison Wesley</a></td></tr>
        <tr><td><b>Pages</b></td><td>235</td></tr>
        <tr><td><b>Rating</b></td><td>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        (1=safely ignore; 5=must have!)
        </td></tr>
        <tr><td><b>Reviewer</b></td><td><a href="mailto:jason@powerpull.net">Jason Friedman</a>.
        </td></tr>
        <tr><td><b>ISBN</b></td><td>0-201-73790-6</td></tr>
        <tr><td><b>Summary</b></td><td>This is a truly great book!</td></tr>
        <tr><td><b>Review</b></td><td>

        <p>The Procmail Companion is one of those rare books that combines
        here-is-how-to-do-it for beginners with a complete reference for
        those who already know how to do some of it.</p>

        <p>The book starts with a description of procmail, how to install it,
        how to intelligently set up a .procmailrc with logging, and how to
        debug.  It then moves on to simple recipes (configurations), walking
        through in exquisite, useful detail what each command does.</p>

        <p>The book covers, among other things, the procmail regular expression syntax
        (a little different than Perl or grep), scoring, variables, connecting
        with external programs.  It has a full section describing how to manage
        a mailing list, a cookbook of very useful scripts, and a full reference.</p>

        </td></tr>
</table>
