<TABLE BORDER="1" CELLSPACING="0" CELLPADDING="2" BORDERCOLOR="#000000" id="bookreview">
        <tr><td><b>Author</b></td><td></td></tr>
        <tr><td><b>Title (year)</b></td><td></td></tr>
        <tr><td><b>Publisher</b></td><td><a href="http://www.oreilly.com/">Oreilly</a></td></tr>
        <tr><td><b>Pages</b></td><td></td></tr>
        <tr><td><b>Rating</b></td><td>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        (1=safely ignore; 5=must have!)
        </td></tr>
        <tr><td><b>Reviewer</b></td><td><a href="mailto:"></a></td></tr>
        <tr><td><b>ISBN</b></td><td></td></tr>
        <tr><td><b>Summary</b></td><td>
        <! Summary here ->
        </td></tr>

        <tr><td><b>Review</b></td>
        <! Review here ->
        <td></td></tr>
        </table>

        </td>
    </tr>
</table>
