<TABLE width=100% BORDER="1" CELLSPACING="0" CELLPADDING="3" BORDERCOLOR="#000000" id="bookreview">
  <tr><td><b>Author</b></td><td>Richard Petersen and Ibrahim Haddad</td></tr>
  <tr><td><b><nobr>Title (year)</nobr></b></td><td><a href="http://shop.osborne.com/cgi-bin/osborne/0072230754.html?id=Yf5FQqkM">Red Hat The Complete Reference Enterprise Linux and Fedora Edition</a> (December 2003)</td></tr>
  <tr><td><b>Publisher</b></td><td><a href="http://www.osborne.com/">Osborne</a></td></tr>
  <tr><td><b>Pages</b></td><td>896</td></tr>
  <tr>
    <td><b>Rating</b></td>
    <td>
      <img src="objects/tux_sm.gif" width=15 height=18 border=0>
      <img src="objects/tux_sm.gif" width=15 height=18 border=0>
      <img src="objects/tux_sm.gif" width=15 height=18 border=0>
      <img src="objects/tux_sm.gif" width=15 height=18 border=0>
  	  (1=safely ignore; 5=must have!)
  	</td>
  </tr>
  <tr><td><b>Reviewer</b></td><td>Gary Threlkeld</td></tr>
  <tr><td><b>ISBN</b></td><td>0072230754</td></tr>
  <tr>
    <td><b>Summary</b></td>
    <td>
A well-rounded and easy-to-read comprehensive reference for Red Hat & Fedora distributions. A DVD-ROM containing the Fedora 1 distribution is included to start the reader off with the ability to install a distribution and "learning by doing".
  </td> 
  </tr>
  <tr><td><b>Review</b></td>
    <td>
The book identifies and covers seven major Linux topics:  basic setup; desktop environments; applications; security; servers; system administration; and network administration.
<p>
The authors describe the book as actually five books in one: a user interface book; a security book; a server book; a networking book; and a system administration book.  Each of these areas is covered in a straight-forward writing style that makes the discussions easy to follow and entices the reader to go to the keyboard and try out some of the concepts discussed. 
<p>
The book can be used by users trying to grasp the concepts of a new desktop environment and still provides in-depth reviews of Linux features for seasoned developers, network and system administrators.  The organization of the book makes it easy for each person to quickly identify and focus on areas that are of interest to their job role while safely ignoring areas targeting other job functions. 
<p>
This one's a keeper &#151; giving a lot of practical information without the usual boredom associated with reference manuals. 
  </td>
</tr>
</table>
