<TABLE BORDER="1" CELLSPACING="0" CELLPADDING="2" BORDERCOLOR="#000000" id="bookreview">
        <tr><td><b>Author</b></td><td>Jack Koziol, David Litchfield, Dave Aitel, Chris Anley, Sinan Eren, Neel Metha, and Riley Hassell</td></tr>
        <tr><td><b>Title (Year)</b></td><td><a href="http://www.wiley.com/WileyCDA/WileyTitle/productCd-0764544683.html">The Shellcoder's Handbook: Discovering and Exploiting Security Holes</a> (2004)</td></tr>
        <tr><td><b>Publisher</b></td><td><a href="http://www.wiley.com/">Wiley</a></td></tr>
        <tr><td><b>Pages</b></td><td>620</td></tr>
        <tr><td><b>Rating</b></td><td>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        <img src="objects/tux_sm.gif" width=15 height=18 border=0>
        (1=safely ignore; 5=must have!)
        </td></tr>
        <tr><td><b>Reviewer</b></td><td>Niko Gonzales</a>
        </td></tr>
        <tr><td><b>ISBN</b></td><td><a href="http://www.wiley.com/WileyCDA/WileyTitle/productCd-0764544683.html">0-7645-4468-3</a></td></tr>
        <tr><td><b>Summary</b></td><td>Great book for getting into the art of writing shellcode and defending against buffer overflows.
        </td></tr>
        <tr><td><b>Review</b></td>
        <td>
<i>The Shellcoder's Handbook</i> is a lengthy descriptive guide to writing shell code. The book requires some knowledge of C and a good grasp on assembly for the IA32 chipset, and deals with basic as well as advanced stack and heap exploitations. Even if you are a novice programmer you won't have much of a problem understanding the book. You'll learn what a stack is, how it works, and what you need to know to exploit it within the first chapter. The book progresses smoothly and goes over small steps like extracting hex opcodes on your linux box. The book also offers quick solutions to problems if you are a sysadmin, and uses standard compilers that come with all (maybe some rhat and Suse/mandrake distros don't come with them) linux distros, which are nasm and gcc. The book also covers exploitation within the Windows environment, which might give some readers some insight into how Windows works, (Actually it should be how Windows doesn't work.)
<p>
Overall this book not only teaches about buffer overflows, it sets you off in many other directions. Go buy this book; it's worth the $50 and these programmers could be selling code instead of books. Be happy and go get it.
        </td></tr>
        </table>

        </td>
    </tr>
</table>
