<TABLE BORDER="1" CELLSPACING="0" CELLPADDING="2" BORDERCOLOR="#000000" id="bookreview">
    <tr><td><b>Author</b></td><td>Rickford Grant</td></tr>
    <tr><td><b>Title (year)</b></td><td><a href="http://nostarch.com/ubuntu_3.htm">Ubuntu for Non-Geeks, 3rd Edition </a> (2008)</td></tr>
    <tr><td><b>Publisher</b></td><td><a href="http://nostarch.com/">No Starch Press</a></td></tr>
    <tr><td><b>Pages</b></td><td>336</td></tr>
    <tr>
        <td><b>Rating</b></td><td>
          <img src="objects/tux_sm.gif" width=15 height=18 border=0>
          <img src="objects/tux_sm.gif" width=15 height=18 border=0>
          <img src="objects/tux_sm.gif" width=15 height=18 border=0>
          <img src="objects/tux_sm.gif" width=15 height=18 border=0>
          <img src="objects/tux_sm.gif" width=15 height=18 border=0> (1=safely ignore; 5=must have!)
        </td>
    </tr>
    <tr><td><b>Reviewer</b></td><td>Louis Miller</td></tr>
    <tr><td><b>ISBN</b></td><td>978-1-59327-180-0</td></tr>
    <tr><td><b>Review</b></td>
<td>
<p>
This book is excellent for the beginner to Linux! Using Ubuntu, the easiest version of Linux for the uninitiated, it will teach the reader all sorts of tasks from creating a new user account, to customizing the desktop to how to install thousands of dollars of free software without visiting a store or surfing websites, with their special web interface program, synaptic!
</p><p>
It starts out by giving the reader several choices, with all steps clearly spelled out, and with lots of screenshots, on how to install or just use Ubuntu with the LiveCD, then it goes into more detail, allowing the user to learn what should be more difficult or complex tasks, like how to install programs from source code or how to use the command line for simple tasks.
</p><p>
The book is not just a reference work that tells you what to do and then leaves you on your own. The book is a tutorial and instructs you, step-by-step on everything you need to know to accomplish tasks in Linux that you are used to doing with your other OS.
</p><p>
The book does all this in a readable and entertaining style with the author displaying a good sense of humor. Read it, buy a copy for that friend of yours who thinks Linux is only for geeks and if you don't know everything about Linux, buy a copy for your own library!</p>
</td>
    </tr>
</table>
