body {
	background: #ffffe0;
	font-family: lucida, helvetica, sans-serif;
	font-size: 14pt;
}
h1 {
	color: #0000ff;
	text-align: center;
}
h2 {
	color: #0000ff;
}
h3 {
	color: #0000ff;
}
th {
	background: #ddddff;
	font-size: 14pt;
}
td {
	font-size: 14pt;
}
pre {
	font-size: 14pt;
}
code {
	font-size: 14pt;
}
.fmt-folder {
	color: #0000ff;
	font-size: 18pt;
	font-weight: bold;
}
.tab-head {
	background: #80c0f0;
}
.tab-dn {
}
.tab-addr {
	font-style: italic;
}
.tab-email {
	font-weight: bold;
	font-style: italic;
}
.tab-fn {
}
.tab-attr {
}
