<div class="block">
<h3>CLUE Book Reviews</h3>
<div class="content">
Welcome to CLUE Book Reviews! This is the location for CLUE members to
read and write book reviews for books donated to our meetings. If you
would like to contribute a book review, please read our <a href="display.php?node=bookguidelines">guidelines</a>.
</div>
</div>

<div class="block">
<h3>Latest Reviews</h3>
<div class="content">
<ul>
	<li>Jason Friedman reviews <a href="display.php?node=br_Javascript_Definitive_Guide">
	Javascript: A Definitive Guide</a>.</li>
	<li>David Anselmi reviews <a href="display.php?node=br_SSH">SSH, The Secure Shell: The Definitive Guide</a></li>
	<li>Jason Friedman reviews <a href="display.php?node=br_MySQL_mSQL">MySQL and mSQL</a></li>
	<li>Ed Hill reviews <a href="display.php?node=br_GNU_Autotools.html">GNU Autoconf, Automake, and Libtool</a></li>
	<li>Jason Friedman reviews <a href="display.php?node=br_Procmail_Companion">The Procmail Companion</a></li>
	<li>Paul Bille reviews <a href="display.php?node=br_DNS_and_Bind">DNS and Bind</a></li>
	<li>James LaRue reviews <a href="display.php?node=br_Open_Sources">Open Sources: Voices from the Revolution</a></li>
	<li>Paul Bille reviews <a href="display.php?node=br_Linux_Programming">Linux Programming</a></li>
    <li>Gary Threlkeld reviews <a href="display.php?node=br_linux_in_small_business">Linux in Small Business; A Practical Guide</a></li>
    <li>Gary Threlkeld reviews <a href="display.php?node=br_rh_complete_ref-el_and_fedora">Red Hat The Complete Reference Enterprise Linux and Fedora Edition</a></li>
    <li>Niko Gonzales reviews <a href="display.php?node=br_shellcoders_handbook">The Shellcoder's Handbook: Discovering and Exploiting Security Holes</a></li>
    <li>Louis Miller reviews <a href="display.php?node=br_Ubunu_for_Non-Geeks">Ubuntu for Non-Geeks</a></li>
</ul>
</div>
</div>

<div class="block">
<h3>Feedback</h3>
<div class="content">
Please contact the author directly regarding their review. Other comments
can be posted to the <?php print WEBMASTER ?>.</a>
</div>
</div>
