<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<h4>What's in it for me?</h4>
As the old saying goes, your name will "be in lights", published for all to see on the CLUE web site. The most recently published book review will be listed on the CLUE home page. In addition, to the gratifying aspect of being published on the internet, aspiring internet writers and journalists can hone their writing skills.

<h4>What's in it for the publishers?</h4>
Most all of the books that we give as meeting prizes were donated by the publisher of the book. Each publisher would love to read reviews of the books that we give away. It gives the publisher and author direct feedback about their wares.

<h4>What's in it for CLUE?</h4>
The more books we review and publish on the CLUE web site, the more apt a publisher will be to continue to donate. In addition, as more books are reviewed, the CLUE site will be a destination for Linux enthusiasts to read book reviews before they make a purchase.

<h4>Review guidelines</h4>
<ol>
    <li>Read the book! Publishers and authors know if you did not read the <I>entire</I> book. In their interests, and for the sake of your credibility read the book so you can give an honest and fair review.</li>
    <li>Outline your thoughts on the book.  The most important question to answer for your reader is "should I plunk down hard cash for this book?". The following should help you organize your thoughts:</li>
    <div style="margin: 0.5em 2em 0.5em 2em;">
        Who was the audience for the book?<br>
        Would the audience like this book?<br>
        Does the title match the contents?<br>
        Is the depth of the book appropriate?<br>
        How was the organization of of the book?<br>
        How were the illustrations?<br>
        What did you like and dislike most about the book?<br>
        Did additional items (e.g., CD-ROM) come with the book?<br>
        Were the additional items useful?
    </div>
    <li>Write the review! Now that you have read the book and organized your thoughts, you can write the review. See the <i>How do I submit a review?</i> below for specific information to include.</li>
    <li>Submit the review!</li>
</ol>

<h4>How do I submit a review?</h4>
Email your review to <?php print REVIEWS; ?>.
Make sure it contains the following information:
<p>
<center>
<table width=95% border="1" cellspacing="0" cellpadding="2" nosave bordercolor="#000000">
<tr><td><b>Author</b></td><td>Name of the author.</td></tr>
<tr><td><b>Title (Year)</b></td><td>Book Title and year published.</td></tr>
<tr><td><b>Publisher</b></td><td>Name of the publisher.</td></tr>
<tr><td><b>Pages</b></td><td>Number of pages in the book.</td></tr>
<tr><td><b>Rating</b></td><td>Number of penguins out of 5 (1=horrible, 5=great).</td></tr>
<tr><td><b>Reviewer</b></td><td>Your name and email address.</td></tr>
<tr><td><b>ISBN</b></td><td>The ISBN for the book (check the cover).</td></tr>
<tr><td><b>Summary</b></td><td>A one-sentance summary of your review.</td></tr>
<tr><td><b>Review</b></td><td>There is no formal length requirement, but 4-6 paragraphs
(about 1 page of text) is probably the minimum.  Do consider that a review is
not a restatement of the book, so if you get too long, your lessen the
effects of the review.  Be sure to organize your thoughts and please
strive for correct spelling, punctuation, and grammar.  We will not
edit the review text, but if it needs some additional work, we will
let you know.</td></tr>
</table>
</center>
</div>
</div>
