<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">
<p>CLUE hosts many events throughout the year. We have monthly meetings, typically consisting of socializing and technical presentations on Free Software, or other topics of interest to Linux users. We also hold <i>Installfests</i>, where people get together to install Linux, and/or get hands-on help with their Linux systems and Free Software. See below for all the details. We'll include a few other events which, while not hosted by CLUE, are also of interest to CLUE participants.</p>
<p>For even more events, check out David Willson's <a href="https://zimbra.thegeek.nu/home/dlwillson@thegeek.nu/GeekCal.html">Geek Calendar</a>, the <a href="http://lug.boulder.co.us/calendar.html">Boulder Linux Users Group Calendar</a>, and <a href="http://nclug.org/">Northern Colorade Linux Users Group</a>.</p>
<div class="presentation">
<h4>11 January 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
</div>

<div class="presentation">
<h4>22 January 2011</h4>
<p><b>Event: </b> <a href="display.php?node=installfest">CLUE Installfest</a></p>
</div>

<div class="presentation">
<h4>05 February 2011</h4>
<p><b>Event: </b> <a href="http://lug.boulder.co.us/">BLUG</a> Installfest in the Cloud</p>
<p><b>Time: </b> 10am-2pm</p>
<p><b>Location: </b> Aztek Networks, 2477 55th Street, Suite 202, Boulder, CO 80301</p>

<p>Walk in with a laptop/netbook/tablet. Walk out with a free Linux server, installed, running, and on the internet.</p>
<p>You keep hearing about Cloud Computing. Come do it, hands-on. If you've already done it, come help.</p>
<p>This will *not* be a talk. Nope. This is your chance to come in and fumble through setting up your Amazon Web Services (AWS) account and then launching your server in a room with a whole bunch of other folks who're doing the same thing. Wander in when you want, wander out when you're done. Or stick around to help someone else.</p>
<p>TekSystems -- specifically, Patrick Homans and Clint Rubottom -- stepped up and volunteered to get us pizza. There really is such a thing as a free lunch.</p>
<p>Aztek Networks is donating space. (Thanks, Daryl!) Dean Johnson, Aztek's SysAdmin, says he'll make sure we have a big enough pipe out to the internet. I believe him.  </p>
<p>The "Aha!" that what we really need is an Installfest comes from Rob Nagler, of bivio Software.</p>
<p>Ben Whaley, of Unix and Linux System Administration Handbook fame, jumped in and says he'll supply the expertise.</p>
<p>It's so easy your mom can do it; if she wants her own free, Cloud, Linux server, bring her along.</p>
<p>Prerequisites:
<ul>
<li>a regular Amazon account (You must have bought *something* from Amazon in your life, right?)</li>
<li>a box you can bring up a browser on</li>
<li>a way to run ssh on the same box</li>
</ul>
</p>
<p>If you need help with these, too, come anyway. Surely someone will be able to help you.</p>
</div>

<div class="presentation">
<h4>08 February 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
<p><b>Topic: </b> VMware/ESX with Mike Bean
</div>

<div class="presentation">
<h4>08 March 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
<p><b>KISS: </b> David Willson will talk about how to give a technical talk that doesn't suck very much.
<p><b>Topic: </b> How To Troubleshoot Linux, Especially Kernel Modules</p>
<p>Lori Spencer will talk about how to troubleshoot those gosh darn modules thatn never seem to work properly so you can finally use your WWAN card and your WLAN card and your Wacom artist pad.
</div>

<div class="presentation">
<h4>12 April 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
</div>

<div class="presentation">
<h4>10 May 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
</div>

<div class="presentation">
<h4>14 June 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
</div>

<div class="presentation">
<h4>12 July 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
</div>

<div class="presentation">
<h4>09 August 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
</div>

<div class="presentation">
<h4>13 September 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
</div>

<div class="presentation">
<h4>11 October 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
</div>

<div class="presentation">
<h4>08 November 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
</div>

<div class="presentation">
<h4>13 December 2011</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
</div>

</div> <!-- content -->
</div> <!-- block -->
