<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">
<p>CLUE hosts many events throughout the year. We have monthly meetings, typically consisting of socializing and technical presentations on Free Software, or other topics of interest to Linux users. We also hold <i>Installfests</i>, where people get together to install Linux, and/or get hands-on help with their Linux systems and Free Software. See below for all the details. We'll include a few other events which, while not hosted by CLUE, are also of interest to CLUE participants.</p>
<p>For even more events, check out David Willson's <a href="https://zimbra.thegeek.nu/home/dlwillson@thegeek.nu/GeekCal.html">Geek Calendar</a>, the <a href="http://lug.boulder.co.us/calendar.html">Boulder Linux Users Group Calendar</a>, and <a href="http://nclug.org/">Northern Colorade Linux Users Group</a>.</p>
<div class="presentation">
<h4>10 January 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
<p><b>Topic: Introduction to PostgreSQL</b> </p>
<p><b>Speaker: Kevin Kempter</b><br></p>
<p>If you've been waiting for the right time to get the basics on Postgres, or for an opportunity to ask your hard question to an highly skilled DBA, get there.
</div>

<div class="presentation">
<h4>08 February 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
<p><b>Topic: CLUE Business</b> </p>
<p><b>Speaker: </b><br></p>
<p>
<ul>
<li>Officer elections</li>
<li>Should CLUE pursue a 501c3?</li>
<li>Drupal website</li>
</ul>
</p>
</div>

<div class="presentation">
<h4>13 March 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE DTC Monthly Meeting</a></p>
<p><b>Topic: </b>Using Git</p>
<p><b>Speaker: </b>Dennis Perkins<br></p>
<p>
Git is the distributed version control system (DCVS) invented by Linux Torvalds for the Linux kernel.  Learn how to use it on your computer.
</p>
</div>

<div class="presentation">
<h4>10 April 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE Broadway Monthly Meeting</a></p>
<p><b>Topic: </b>Kickstart</p>
<p><b>Speaker: </b>David Willson</p>
<p>
David Willson discusses how to use Kickstart to automate system installation and configuration.
</p>
</div>

<div class="presentation">
<h4>8 May 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE Broadway Monthly Meeting</a></p>
<p><b>Topic: </b>Dealer's Choice</p>
<p><b>Speaker: </b>Open Forum</p>
<p>Whatever you want to talk about, like how to get better talks! :-)</p>
</div>

<div class="presentation">
<h4>12 June 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE Broadway Monthly Meeting</a></p>
<p><b>Topic: </p>
<p><b>Speaker: </b><br></p>
</div>

<div class="presentation">
<h4>10 July 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE Broadway Monthly Meeting</a></p>
<p><b>Topic: </b><br><br>
<p><b>Speaker: </b><br></p>
</div>

<div class="presentation">
<h4>14 August 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE Broadway Monthly Meeting</a></p>
<p><b>Topic: </b><br><br>
<p><b>Speaker: </b><br></p>
</div>

<div class="presentation">
<h4>11 September 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE Broadway Monthly Meeting</a></p>
<p><b>Topic: </b><br><br>
<p><b>Speaker: </b><br></p>
</div>

<div class="presentation">
<h4>09 October 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE Broadway Monthly Meeting</a></p>
<p><b>Topic: </b><br><br>
<p><b>Speaker: </b><br></p>
</div>

<div class="presentation">
<h4>13 November 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE Broadway Monthly Meeting</a></p>
<p><b>Topic: </b><br><br>
<p><b>Speaker: </b><br></p>
</div>

<div class="presentation">
<h4>11 December 2012</h4>
<p><b>Event: </b> <a href="/display.php?node=dtc_info">CLUE Broadway Monthly Meeting</a></p>
<p><b>Topic: </b><br><br>
<p><b>Speaker: </b><br></p>
</div>

</div> <!-- content -->
</div> <!-- block -->
