<div class="block">
<h3>CLUE Volunteers</h3>
<div class="content">

CLUE Volunteers are responsible for making CLUE a successful Linux User Group.  Each position and its description are listed below. If you are interested in helping CLUE leadership, please drop an email to <?php print PRESIDENT ?>.

There are currently no volunteers helping CLUE.  The group continues to function
through inertia and the occasional effort of random members.  <?php print
PRESIDENT ?> gets messages submitted through the form linked here. You might
consider posting to the <a
href="http://cluedenver.org/mailman/listinfo/clue">CLUE mailing list</a> for
better results.

<!-- contact links to the various positions:
<?php print PRESIDENT ?>
<?php echo SPONSORS; ?>
<?php echo SPEAKERS; ?>
<?php print EVENTS ?>
<?php print WEBMASTER ?>
-->

<p>
<b>President</b> &#151; <?php print PRESIDENT ?> 
<ul>
<li>Cordinate the Activities of other volunteers.</li>
<li>Call steering committee meetings.</li>
<li>Manage CLUE funds</li>
<li>Manage CLUE e-mail lists</li>
<li>Send meeting announcements</li>
<li>Respond to general inquiries regarding CLUE</li>
<li>Conduct CLUE Monthly meetings</li>
<li>Fill in for open positions.</li>
</ul>

<b>Sponsor Coordinator</b> &#151; <?php echo SPONSORS; ?>
<ul>
<li>Collect and distribute door prizes.</li>
<li>Coordinate vendor tables.</li>
</ul>

<b>Speaker Coordinator</b> &#151; <?php echo SPEAKERS; ?>
<ul>
<li>Schedule meeting speakers.</li>
<li>Coordinate speaker abtracts between speakers and CLUE webmaster.</li>
<li>Act as the primary point of contact for the speaker.</li>
</ul>

<b>Special Events Coordinator</b> &#151; <?php print EVENTS ?>
<ul>
<li>Make arrangements for CLUE events other than meetings, such as <a href="display.php?node=installfest">Installfests</a></li>
</ul>

<b>Webmaster</b> &#151; <?php print WEBMASTER ?></a>
<ul>
<li>Manage the CLUE web site.</li>
<li>Coordinate contributions to the CLUE web site.</li>
</ul>

</div>
</div>
<a name="tasks"></a>
<div class="block">
<h3>CLUE Responsibilities</h3>
<div class="content">
<p>
Around Nov 2011 we started talking about the state of CLUE.  Here is a list of
things that have to be done to keep the group running.  This may allow people
to volunteer in a more granular way than the above list of positions and may
allow us to identify what isn't getting done so we can anticipate the impact.
</p>

<p>
I don't know whether this is sufficiently granular or how related tasks might
be grouped or not.
</p>

<b>Meetings:</b>
<ul>
<li>Arrange speakers
<li>Provide space
<li>Publish the meeting schedule/topics sufficiently in advance
<li>Announce the meetings sufficiently in advance
<li>Conduct meetings according to a standard agenda
<li>Archive presentations/meeting details
</ul>

<b>Installfest:</b>
<ul>
<li>Provide space
<li>Publish details and information sufficiently in advance
<li>Announce sufficiently in advance
</ul>

<b>Web site:</b>
<ul>
<li>Provide hosting (fundraising?)
<li>Register domain name and maintain DNS service
<li>Maintain server
<li>Maintain mailing lists
<li>Maintain web site
<li>Perform back up and restore
</ul>

<b>Leadership:</b>
<ul>
<li>Provide organization and motivation to enable and encourage people to do
the above things (perhaps this is too vague, or belongs to all of us and
shouldn't be spelled out)
</ul>

</div>
</div>

