<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>10 June 2014</h4>
<p><b>Topic:</b> Raspberri Pi Projects</p>
<p>George Sexton talks about neat things he's done with a Raspberry Pi,
including a marquee driver, tier 1 NTP server, and garage door opener (or more
importantly, closer).  Slides are available at:
<a href="presentations/LUGRaspberryPiPresentation.zip">LUGRaspberryPiPresentation.zip</a>
</p>
</div>


</div> <!-- content -->
</div> <!-- block -->
