<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>13 January 2004</h4>
<b>Main Topic:</b> Linux From Scratch with Dennis J. Perkins
<p>
Dennis will present an overview of the <a href="http://lfs.130th.net/lfs/news.html">Linux From Scratch</a> project: its purpose, how to build an LFS system, and how to expand LFS into a full-featured system using <a href="http://lfs.130th.net/blfs/news.html">Beyond Linux From Scratch</a>.
<p>
Dennis is a PLC engineer at Teledyne Monitor Labs. He has been using Linux since 1994, and experimenting with Linux From Scratch since 2002.
<p>
<b>KISS Session Topic:</b> User and Group File Permissions with Rick Burton
</div>

<div class="presentation">
<h4>10 February 2004</h4>
<b>Main Topic:</b> Open Source GIS with Alastair Mayer
<p>
What do you get if you cross a map with a database?  A GIS, or
Geographic Information System. (Sorry, I couldn't come up with
a funny alternative answer.) GIS systems are used at all levels
of government, by utility companies, emergency services, real
estate brokers, and anyone who has ever used MapQuest to get 
travel directions. They're used in planning, mapmaking, even
archeological research.
<p> 
There is a vast wealth of geographic data freely available on
the net. There are also a number of Linux applications available
(many free/open source) for viewing it, analysing and
manipulating it, and creating reports, charts and maps from it.
This presentation will give a brief introduction to GIS concepts
and applications, demonstrate several free GIS packages
available for Linux, and discuss some other uses of the technology.
<p>
Alastair Mayer has been designing and developing Unix software
for nearly 20 years (Linux for nearly ten), including six years
at GeoVision Systems, a major GIS vendor whose technology was
acquired by Autodesk and formed the core of their Enterprise GIS
Server. He has developed geographic analysis software for the
Canadian Broadcast Company, mapping software for the Royal
Australian Navy, and outside plant and facility management software
for telecoms including US West (now Qwest), Southwest Bell, and
Telebras, the Brazilian telephone company. He's also the architect
and chief programmer of the open-source <a href="http://www.cavor.org/">Cavor</a> project.
<p>
<b>KISS Session:</b>Using Knoppix to Access Other Systems with Dennis Dallas
<p>
Dennis will discuss how he and a friend used <a href="http://www.knopper.net/knoppix/index-en.html">Knoppix</a> to gain access to files on a Windows NT system that had a lost system administrator password. They used the <a href="http://www.samba.org/">SAMBA</a> facility to connect the Windows NT box (running Knoppix) to a Win98 system. <a href="presentations/using_knoppix.sxi">Presentation Slides</a> [77K Impress].
</div>

<div class="presentation">
<h4>9 March 2004</h4>
<b>Main Topic:</b> Rescheduled
<p>
<b>KISS Session:</b> Sun's Java / Linux desktop with Jeff Cann
<p>
<p>Jeff has been a Linux user since 1995. As a professional software developer, he has experienced the superiority of <a href="http://www.gnu.org/philosophy/">Free Software</a>. He has particular interest in Linux software used in web environments and advocates <a href="http://www.gnu.org/">GNU</a> software whenever possible. His efforts to introduce GNU software have led to the successful integration of SAMBA, CVS, and the GNU development tools at his current employer.
</div>

<div class="presentation">
<h4>13 April 2004</h4>
<b>Main Topic:</b> The Oracle Cluster Filesystem (OCFS2) on Linux with Mark Fasheh of <a href="http://www.oracle.com/tech/linux/index.html">Oracle Corporation</a>
<p>
OCFS2 is the development branch of the Oracle Cluster File System, a clustered database file system written at Oracle for the Linux kernel and released under the GNU GPL. The presentation will cover the basics of OCFS2 design as well as upcoming features. The new feature of OCFS2 that is usually of most interest to Oracle administrators is that it will support a shared oracle_home installation. For more information about OCFS2 (including a complete list of new features), please see <a href="http://oss.oracle.com/projects/ocfs2/">the OCFS2 site</a>.
<p>
Mark Fasheh has taken an active role in the Linux Community since being introduced to the OS during his freshman year at UCLA. While there, he helped found the UCLA Linux Users group and spent three years advocating Linux use as the LUG President. Since joining Oracle, Mark has taken an active role in the development of the Oracle Clustered File System.
<p>
<b>KISS Session:</b> Oracle and Linux with Todd Trichler from Oracle Corporation
</div>

<div class="presentation">
<h4>11 May 2004</h4>
<b>Main Topic:</b> Linux &#151; Making the Leap; From Unemployed to Professional with Dale and Patty Laushman from <a href="http://www.theuptimegroup.com/">The Uptime Group</a>
<p>
Whether you are a basement enthusiast or a veteran guru, you will want to see this talk about training and career paths in the Linux arena. From the perspective of a Linux consultant and former technical recruiter, you will find out what they see happening as the world of Linux adoption and the Denver job market collide, as well as pick up tips on stacking the job hunt cards in your favor.
<p>
Topics include:
<ul>
<li>Linux trends
<li>Obstacles to Linux adoption
<li>Denver job market
<li>Improving marketability for beginners
<li>Role of the resume
<li>How to leverage your personal contacts
<li>Job postings &#151; how to get ahead when responding
<li>Networking for results
</ul>
<p>
<b>KISS Session:</b> Koha: The First Open Source Integrated Library System with David Jenne
<p>
David will present an overview of Koha and its installation and use in a school library on a Linux/MySQL platform.
</div>

<div class="presentation">
<h4>8 June 2004</h4>
<b>Main Topic:</b> <a href="http://www.gentoo.org/">Gentoo Linux</a> with Collins Richey
<p>
Gentoo is a highly-adaptable version of Linux that can be optimized and customized for just about any application or need. According to Collins: "I started experimenting with linux about 10 years ago &#151; Slackware on a 386. When that machine died, I moved on to Caldera. After Caldera bit the dust, I ran Mandrake for a while and tinkered with Linux From Scratch. Then along came Gentoo, and I was hooked. I've put up RedHat, SuSe, and Fedora since then, but nothing satisfies like Gentoo."
<p>
<a href="presentations/gentoo_introduction.sxi">Presentation slides</a> [73K Impress]
<p>
<b>Kiss Session:</b> The <a href="http://bochs.sourceforge.net/">Bochs x86 Emulator</a> with Dennis Dallas
<p>
Bochs is a program that simulates a complete Intel x86 computer. It can be configured to act like a 386, 486, Pentium, or Pentium Pro. Bochs interprets every instruction from power-up to reboot, and has device models for all of the standard PC peripherals: keyboard, mouse, VGA card/monitor, disks, timer chips, network card, etc. Because Bochs simulates the whole PC environment, the software running in the simulation "believes" it is running on a real machine. This approach allows Bochs to run a wide variety of software with no modification, include most popular x86 operating systems: Windows 95/98/NT, all Linux flavors, all BSD flavors, and more.
<p>
Dennis will present an introductory over-view of what Bochs is and how to get started using it.
</div>

<div class="presentation">
<h4>13 July 2004</h4>
<b>Main Topic:</b> Application Portability Between Unix/Linux Versions and the POSIX Standard with <a href="http://www.awprofessional.com/authors/bio.asp?a=afac0a13-a141-47d6-b508-04a03d7b4634">Marc Rochkind</a>
<p> 
Marc Rochkind started his career at Bell Labs in 1970, where he was lucky enough to get into UNIX at its infancy. His best-known invention back then was the Source Code Control System, the ancestor of all modern version-control systems. He left Bell Labs in the early 1980s when personal computers started to get interesting. Since then, he has been a writer, teacher, consultant, engineering manager, and entrepreneur (having founded XVT Software, which sold a GUI-portability development tool). Now he's back to being a writer, and is a big fan of Linux, open source, and web-based applications.
<p>
Marc's latest book is the second edition of <a href="http://www.awprofessional.com/title/0131411543">Advanced Unix Programming</a>, available at <a href="http://store.yahoo.com/softpro/0-13-141154-3.html">SoftPro Books</a>.
<p>
<b>KISS Session:</b> <a href="http://www.openssh.org/">SSH</a> with Dave Anselmi
<p>
SSH, the Secure SHell, is a secure replacement for telnet and ftp. We'll talk about why we call SSH "secure" and how to do remote login and file transfer using the programs in the OpenSSH package.
<p>
Dave is a self-taught programmer, system and network administrator, and Linux enthusiast. He has been dabbling in Linux since 1995 and is finally starting to understand a little of it.
</div>
<p>
<div class="presentation">
<h4>10 August 2004</h4>
<b>Main Topic:</b> How to Hack Wireless Networks with John Hamilton
<p>
If you use wireless networks, learn why you should be concerned about security. John will demonstrate a number of the Open Source tools that are being used to hack into wireless networks. He will also present suggestions on what you can do to secure your wireless network against these hacks.
<p>
Professionally John is a digital IC design engineer for a biomedical company called Medtronic where he designs integrated circuits using a Linux workstation. Personally, he's been a Linux enthusiast for about 6 years. John also volunteers at a local elementary school where a group of people have created a complete network infrastructure based on Linux. This includes a wireless network, which is where he gained most of his experience with wireless networks.
<p>
<a href="presentations/how_to_hack_wireless.sxi">Presentation Slides</a> [138K Impress]
<p>
<b>KISS Session:</b> Do You Speak SQL? with David Jenne
<p>
The volume of digital data is growing rapidly each year and much of that data is stored in relational databases.  Many of these are now available on Linux platforms.  Structured Query Language (SQL) is the primary tool for getting data into and out of relational databases.  In this presentation, David Jenne will demonstrate the basics of SQL and how it can be used to retrieve and manipulate relational data.
<p>
David Jenne is an Oracle Certified Professional DBA but has also worked with MySQL. He works as a database consultant and teaches classes in SQL and database design, development, and administration.
</div>

<div class="presentation">
<h4>14 September 2004</h4>
<b>Main Topic:</b> Open Technology in Local Government with Anthony Fortenberry
<p>
One of the most important trends in government is the migration to free / open source software (F/OSS).  However, at the local government level there are substantial barriers to innovation.  Anthony Fortenberry will discuss the <a href="http://www.techdenver.com/news-12864-516.html">open source initiatives at the City of Northglenn</a>, difficulties encountered, and his strategy for accelerating adoption of F/OSS in city and county government.
<p>
Anthony Fortenberry joined the City of Northglenn in 2002 as the Director of Technology. In 2004, he founded Open Solutions For Government (ogov.org), a non-profit organization providing education and technology in the public interest. He is currently Executive Director of ogov.org, and a strategic adviser to the City Manager and Council at Northglenn.
<p>
<b>KISS Session:</b> Matt Gushee Demonstrates the Open Source Desktop Publishing Tool, <a href="http://www.scribus.net/">Scribus</a>
</div>
<p>
<div class="presentation">
<h4>12 October 2004</h4>
<b>Main Topic:</b> A Linux Security Sampler with Kevin Fenzi
<p>
There are a number of new and exciting developments in Security in Linux, as well as tried and true systems and tactics. In this talk we will touch on some of the new Security developments out there (selinux, vpns, etc) and also go over some of the best things you can do to secure your networks and machines from threats (ssh, firewalls, updates, etc). Kevin's slides are <a href="http://www.tummy.com/Community/Presentations/SecuritySampler.pdf">here</a> (PDF).
<p>
Kevin has been working with Linux since 1995. He is the Co-Author of the Linux-Security-HOWTO. In 1999 he started build the <a href="http://www.tummy.com/krud">KRUD distribution</a>. Since 1999 he has been working for <a href="http://www.tummy.com/">tummy.com</a> doing Linux consulting and System Administration.
<p>
<b>KISS Session:</b> Linux Q & A with a CLUE tech. panel
<p>
Is there something about Linux that you don't understand? How about that stupid question that you're just too embarrassed to ask in front of others? Now is your chance to resolve those issues, get your system running again or impress your friends with your new-found knowledge.
<p>
For the October KISS session, a panel of experts, or maybe even the entire audience, will pool their collective open minds and provide insightful reasoning to help you get your system in order. 
<p>
Please submit your burning questions to the Admin group at <a href="mailto:clue-admin@clue.denver.co.us">the CLUE admin list</a>. We will bring the top questions (and maybe some answers) to the October 12 meeting. Don't worry; your name will not be included with the questions (unless you want the credit). In any case, attend the next meeting to learn the answer to your question and to others that you may not even know you had. Please include the subject line: KISS QUESTION in your email and submit it by Friday, October 8.
</div>
<div class="presentation">
<h4>9 November 2004</h4>
<b>Main Topic:</b> Open Source Telephony using <a href="http://asterisk.org/">Asterisk</a> with Tom Poindexter
<p>
Asterisk is a telephony platform that provides full PBX functionality, voice
mail, conferencing, and call forwarding. Asterisk is also programmable so
that specialized applications such as Interactive Voice Response and
Automated Call Distribution can be quickly developed. Asterisk runs
entirely in software but also interfaces with a number of protocols and
hardware: Voice over IP (VOIP), as well as traditional digital and analog
telephony devices are supported. Asterisk is primarily developed on Linux,
but also runs on *BSD and Mac OSX, and enjoys a very active developer and
user community.
<p>
The CLUE presentation will include the usual boring slide show and hopefully
a live demonstration. A very special door prize will be given away to one
lucky Asterisk wannabe.
<p>
Tom first booted and installed Linux 0.94 and has been a software
developer/sysadmin/DBA for longer than he likes to admit.  Tom develops and
contributes to a number of open source projects.  He has also been a past
speaker at CLUE.
<p>
<b>KISS Session:</b> Connecting Linux to Windows via <a href="http://www.samba.org/">Samba</a> with Jeff Cann
<p>
Jeff has been a Linux user since 1995. He has particular interest in GNU/Linux software used in web environments and advocates it whenever possible.
</div>
<div class="presentation">
<h4>14 December 2004</h4>
<b>Main Topic:</b> More Cryptography with <a href="http://users.frii.com/thag/">Jed Baer</a>
<p>
The cryptography talk which starts off in the KISS session will continue.
<p>
<b>KISS Session:</b> Introduction to Cryptography with <a href="http://users.frii.com/thag/">Jed Baer</a>
<p>
Interested in how cryptography works, and how it can benefit you? Jed will present an overview and demonstration of cryptography, using the <a href="http://www.gpg.org/">Gnu Privacy Guard</a> suite of crypto tools.
<p>
Jed is an IT veteran who started working in the computing industry in 1982. His expertise ranges from programming to database development to system administration. His interest in cryptography stems from a keen sense of individual rights, including privacy.
<p>
<a href="presentations/crypto_sylpheed.sxi">Presentation Slides]</a> [500K Impress]
</div>
