<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>12 February 2013</h4>
<p><b>Topic:</b> <a href="http://jenkins-ci.org/">Jenkins</a></p>
<p>Chris Hirsh and Griz Bates talk about the Jenkins continuous integration server.  Slides
are available at: <a href="presentations/Jenkins.pdf">Jenkins.pdf</a></p>
</div>


</div> <!-- content -->
</div> <!-- block -->
