<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>10 January 2006</h4>
<b>Main Topic:</b> Virtual Private Networking with Dale Laushman from <a href="http://www.theuptimegroup.com/">The Uptime Group</a>
<p>
Interactive dialogues on the theory and applications of VPN and associative technologies and packages available for use on the Linux platform, IPSEC, OpenVPN, PPTP, IPTables.
<p>
Dale Laushman is a Programmer/Engineer/SysAdm/Consultant/LinuxEnthusiast and also the CTO of The Uptime Group.
</div>

<div class="presentation">
<h4>07 February 2006</h4>
<b>Main Topic:</b> Writing about open source, with Joe "Zonker" Brockmeier.
<p>
Zonker will discuss technology journalism, what kind of opportunities exist, how open source has affected journalism and publishing, and how to write about Linux and open source for fun and profit.
<p>
Joe 'Zonker' Brockmeier is the editorial director for <a href="http://linux.com/">Linux.com</a>, and has a long history of writing about Linux and open source technology. Zonker has written for Linux.com, <a href="http://newsforge.com/">NewsForge.com</a>, <i>IT Manager's Journal</i>, <a href="http://www.lwn.net/">Linux Weekly News</a>, <i>Linux Magazine</i>, IBM developerWorks, <a href="http://unixreview.com/">UnixReview.com</a>, <i>Sys Admin Magazine</i>, <i>Enterprise Linux Magazine</i>, <i>ComputorEdge</i>, ZDNet, and a number of other publications. Zonker has also written and contributed to books on Slackware Linux, DocBook, and Linux networking.
</div>

<div class="presentation">
<h4>07 March 2006</h4>
<b>Main Topic:</b> Linux Laptops for Flattops with Peter Kuykendall
<p>
Peter will talk about a project that he thought up about a month ago. He calls it "Laptops for Flat Tops". The idea is to take used, surplus laptop computers that are currently gathering dust in basements, garages, and closets, and press them into useful service for soldiers overseas. This will enable them to communicate with their friends and families, read the news, play games, and just generally stay connected with the real world. He believes that this can be done with little or no cash outlay, just donations of services such as shipping and equipment such as "obsolete" laptop and desktop PCs.
<p>
One paramount goal of this project is to ensure that no one person needs to contribute a whole lot of time or money or anything else. This makes contributing easy and fun without being overwhelming, which in turn opens the door to a whole lot of participants.  
<p>
We need volunteers who are willing to be leaders in the following areas:
<ul>
<li>Development of software bundles for the laptops and servers. This is really just aggregating existing Linux and other free software.</li>
<li>Acquisition of used laptops. Ancient 1995 vintage is OK for web surfing and email. Newer models allow video phone service!</li>
<li>Acquisition of used desktop machines (Pentium 500 or better, for use as servers)</li>
<li>Acquisition of miscellaneous networking gear (10-base-T, 802.11b, whatever)</li>
<li>Loading of software bundles into used laptops</li>
<li>Shipping (possible shippers include US military, as well as commercial shippers)</li>
<li>Liaison with the US military, so that we can get this stuff allowed on base, along with a place to put it, power, permission to connect to their Internet connection, etc.</li>
<li>People who currently live overseas or are interested in travelling overseas to coordinate installation.</li>
<li>Liaison with existing charities.</li>
</ul>
Some thoughts on likely software bundles: Run a very thin client. The smallest machines will be 486 class, 4 MB RAM, and just a floppy. Amazingly, that's still useful. It would be great to go completely diskless, but I don't *think* that any of the old laptops can initialize a PCMCIA NIC without help from something on a disk.
<p>
Peter is an electrical engineer who has been working mostly in embedded systems for about 25 years. He currently works on satellite TV piracy issues for Comcast.
<p>
<b>DTL101 Session:</b> <a href="http://www.openoffice.org/product/impress.html">OpenOffice Impress</a> with Todd Trichler from <a href="http://www.oracle.com/technology/tech/linux/index.html">Oracle's Linux Technology Center</a>. <a href="presentations/DTL_101_Impress.pdf">Presentation Slides</a> (248K PDF)
</div>

<div class="presentation">
<h4>11 April 2006</h4>
<b>Main Topic:</b> Open discussion: Wireless configuration with Linux
<p>
<b>DTL101 Session:</b> OpenOffice Calc
<p>
<a href="presentations/CLUE_DL101_calc.odp">Presentation Slides</a> (Impress 209K)
</div>

<div class="presentation">
<h4>09 May 2006</h4>
<b>Main Topic:</b> <a href="http://www.cygwin.com/">Cygwin</a> with David Willson
<p>
CygWin is a free set of Linux programs and a Windows compatibility layer, the effect of which is that you can run quite a lot of the Linux software you love on the Windows box you probably use, and you can massively increase your inter-operability, which is what Dave plans to show. Dump off the 3-6 programs you're currently using to provide SSH, X, bash, and whatever. Load up CygWin, and get to work.
<p>
Dave is a network engineer with 12 years of field experience, supporting Windows and a variety of other Microsoft products, and 9 years of experience supporting Samba, PostgreSQL, WU-IMAP, and sendmail on Linux. His favorite distributions are Fedora, Knoppix, and OpenSUSE. He frequently host the hands-on Linux study group known as <a href="http://mailman.thegeek.nu/LinuxFun/">Linux Fun</a>, which was formerly known as Linux Fun-da-mentals.
</div>

<div class="presentation">
<h4>13 June 2006</h4>
<b>Main Topic:</b> <a href="http://www.vmware.com/">VMware</a>
<p>
<b>DTL101 Session:</b> <a href="http://www.openoffice.org/product/writer.html">OpenOffice Writer</a>
<p>
</div>

<div class="presentation">
<h4>11 July 2006</h4>
<b>Main Topic:</b> Building a Laptop with Dennis Perkins
<p>
A few manufacturers are now offering barebone laptops. Decide what kind of laptop you want, select a CPU, hard drive, memory, and wireless card. Assemble it and install Linux. There are tradeoffs and pitfalls to consider... speed and power consumption versus battery life, heat dissipation, etc.
<p>
Dennis is a PLC engineer for an environmental monitoring company. He's been using Linux since 1995 and doing Linux From Scratch for 4 years. Dennis has been building his own computers since 1987, but this is the first time he's built a laptop.
</div>

<div class="presentation">
<h4>08 August 2006</h4>
<b>Main Topic:</b> Objective CAML: Functional Programming for Pragmatists, with <a href="http://matt.gushee.net/">Matt Gushee</a>
<p>
Functional programming has long suffered from a reputation for being overly theoretical. But today's functional languages have begun breaking down the barriers, putting advanced language theory to work in practical systems. Objective CAML (OCaml) is one of the leading functional languages, but it also supports imperative and object-oriented programming styles.
<p>
Should OCaml be your next language?
<p>
CLUE regular and OCaml developer Matt Gushee will discuss the good, the bad, and the ugly aspects of OCaml, while showing off as much code as you can handle.
<p>
<b>KISS Session: </b> <a href="http://en.wikipedia.org/wiki/GNU_LilyPond">LilyPond</a> musical notation with George Bodley
<p>
Music history major, George Bodley will demonstrate how to use <a href="http://lilypond.org/web/">LilyPong</a> an open source music notation and freely downloadable program that runs on many platforms. Because of Lilypond's high quality output, it is the preferred notation program of many professional composers, and is even the program of choice of Macintosh owners. George will show how music manuscript can be prepared for publication, with the magic of Lilypond, using only a basic text editor and Lilypond running in a terminal window on the widely used, and affordable, Linux platform.
</div>

<div class="presentation">
<h4>12 September 2006</h4>
<b>Main Topic:</b> Ubuntu with <a href="https://wiki.ubuntu.com/JoeyStanford">Joey Stanford</a>
<blockquote>
"I'm very passionate about the Free/Open Source software movements and am a strong believer in using such software as the foundation of all computing. (<a href="https://wiki.ubuntu.com/MarkShuttleworth">Mark</a> said this best: <i>We're committed to reinventing everything we need until the free software stack is a genuinely complete computing universe.</i>) I am also a big advocate (and part-time activist) for GNU/Linux on the desktop and as such am a strong supporter of my favourite distribution, Ubuntu."
</blockquote>
</div>

<div class="presentation">
<h4>10 October 2006</h4>
<b>Main Topic:</b> <a href="http://www.xensource.com/">Xen</a> virtualization with Michael Friesenegger
<p>
Michael Friesenegger, datacenter/workgroup technical specialist for Novell, will present an in-depth presentation on XEN Virtualization. He will also update everyone on SUSE Linux Enterprise 10 (server and desktop) and will bring evaluation kits of SUSE Linux Enterprise 10. <a href="presentations/clue_xen_10_10_2006.pdf">Presentation slides</a> (1.5MB PDF)
<p>
</div>

<div class="presentation">
<h4>14 November 2006</h4>
<b>Main Topic:</b>
<p>
</div>

<div class="presentation">
<h4>12 December 2006</h4>
<b>Main Topic:</b> Open Source Project Management Tools with Jeff Cann
<p>
Did you know there are over 30 open source applications now available for you to understand, plan, and manage your Information Technology [IT] projects?
<p>
Whether you lead IT projects or are a member of the team that does the work, you can use many of these tools to better understand the details of your IT projects. You will also learn the top 4 things you can do to immediately change how you manage IT projects. Finally, understand how to build and retain team knowledge to survive team turnover.
<p>
Jeff has worked in Information Technology for the past 10 years. He has worked as a developer, consultant, web guru, architect, and system engineer. He is currently a Director of Global Information Technology at the McGraw-Hill Companies where he chairs the Linux architecture team. He is a certified Project Management Professional. <a href="presentations/open_source_project_mgmt.pdf">Presentation Slides</a> (9.8MB PDF)
</div>
</div>
