<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>13 January 2009</h4>
<b>Topic:</b>  Watch the movie <a href="http://www.revolution-os.com/">Revolution OS</a>
<p>
REVOLUTION OS tells the inside story of the hackers who rebelled against the proprietary software model and Microsoft to create GNU/Linux and the Open Source movement.
<p>
On June 1, 2001, Microsoft CEO Steve Ballmer said "Linux is a cancer that attaches itself in an intellectual property sense to everything it touches."
<p>
Microsoft fears GNU/Linux, and rightly so. GNU/Linux and the Open Source & Free Software movements arguably represent the greatest threat to Microsoft's way of life. Shot in cinemascope on 35mm film in Silicon Valley, REVOLUTION OS tracks down the key movers and shakers behind Linux, and finds out how and why Linux became such a potent threat.
<p>
REVOLUTION OS features interviews with Linus Torvalds, Richard Stallman, Bruce Perens, Eric Raymond, Brian Behlendorf, Michael Tiemann, Larry Augustin, Frank Hecker, and Rob Malda.
<p>
Revolution O.S. is director J.T.S. Moore's first feature length documentary. Moore previously has worked as a screenwriter for Walt Disney Studios. He earned his B.A. in history from Stanford University and his M.A. in film production from the University of Southern California's School of Cinema/Television. Moore's previous film, the Civil War action-drama SHOOTING CREEK, premiered at the Telluride Film Festival and later was licensed by Starz-Encore. Moore was born and raised in Atlanta and currently resides in Los Angeles.
<p>
To purchase a copy of the movie, and other schwag, please visit the links at the <a href="http://www.revolution-os.com/store1.html">REVOLUTION OS Store</a>.
</div>

<div class="presentation">
<h4>10 February 2009</h4>

</div>

<div class="presentation">
<h4>10 March 2009</h4>

</div>

<div class="presentation">
<h4>14 April 2009</h4>

</div>

<div class="presentation">
<h4>12 May 2009</h4>

</div>

<div class="presentation">
<h4>9 June 2009</h4>

</div>

<div class="presentation">
<h4>14 July 2009</h4>

</div>

<div class="presentation">
<h4>11 August 2009</h4>

</div>

<div class="presentation">
<h4>8 September 2009</h4>

</div>

<div class="presentation">
<h4>13 October 2009</h4>

</div>

<div class="presentation">
<h4>10 November 2009</h4>

</div>

<div class="presentation">
<h4>8 December 2009</h4>

</div>

</div> <!-- content -->
</div> <!-- block -->
