<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>12 February 2008</h4>
Dennis Perkins on Licensing, particularly the <a href="http://www.gnu.org/licenses/quick-guide-gplv3.html">GPL v.3</a>
</div>

<div class="presentation">
<h4>11 March 2008</h4>
<b>Topic:</b> David Rudder talks about his experiences as a software consultant
<p>
IT people tend to be an independent lot, which leads a lot of people to start their own companies. While Dave hasn't made his millions as an application vendor yet, he's been doing well as a contractor. In this talk, Dave will talk about some of his experiences, where to get new work, what kind of expenses to expect, and what hasn't worked for him. There's a lot of work for local technical people, whether it's as "web guy" or "IT guy" or "DB guy", and Dave will talk about getting past the first few steps.
<p>
David Rudder is a software developer, entrepreneur and freelance contractor. Over the past half-decade, he's moved from the corporate world of reliable paychecks and cubicle walls to the frenetic life of the self-employed. He's been using, and developing for, Linux since 1995. His product, <a href="http://reliableresponse.net/">Reliable Response Notification</a>, is designed to help IT teams respond quicker to outages. His contracting gigs have included video surveillance front-ends, payroll systems, accounting systems, portal integration, and B2B engines. <a href="presentations/clue_consulting_presentation.ppt">Presentation slides</a> (70K Powerpoint &#151; Open with OpenOffice.org Presentation)
</div>

<div class="presentation">
<h4>08 April 2008</h4>
<b>Topic:</b> David Willson on Linux Gaming
</div>

<div class="presentation">
<h4>13 May 2008</h4>
<b>Topic:</b> <a href="http://www.xen.org/about/spotlight/danmagenheimer.html">Dan Magenheimer</a> on Linux Virtualization

<ul>
    <li>Why is virtualization such a hot commodity?</li>
    <li>What use case scenarios make the most sense?</li>
    <li>What are some of the current approaches to implementing virtualization on Linux, and where are they headed?</li>
    <li>How can I help the linux virtualization effort?</li>
  </ul>

<p>Dan Magenheimer is a consulting developer for Oracle Corporation working from his home in Fort Collins, Colorado, USA, on "<a href="http://www.oracle.com/technology/tech/virtualization/index.html">Oracle VM</a>", Oracle's Xen-based virtualization product.</p>

<p>Prior to Oracle, Dan worked for HP for over 25 years, most recently as a principal research scientist at HP Labs. Dan began at HP as a member of the processor architecture team that developed PA-RISC; he wrote the first PA-RISC simulator, remote debugger, object-code emulator (for the 16-bit HP3000), integer multiplication algorithm, and linker. During the later 1980's and the 1990's, he managed various R&D teams in HP's software, server, and storage divisions. In 2001, Dan joined an HP Labs team investigating security and virtualization on the Itanium platform; this team developed vBlades, the first Itanium virtual machine monitor. When Xen was announced in 2003, Dan commenced a port of Xen to Itanium (Xen/ia64), utilizing the lessons learned in vBlades and also directly leveraging Linux/ia64 code. This effort grew to involve a multi-company, worldwide team of Itanium experts that completed the port, such that Itanium is the only fully-functional non-x86 architecture in the Xen source tree.</p>

<a href="/presentations/CLUE-oraclevm-13may08.pdf">Presentation Slides</a> [PDF &#151; 3.6MB]

</div>

<div class="presentation">
<h4>10 June 2008</h4>
<b>Topic:</b> Dennis Perkins on the Asus EeePC
</div>

<div class="presentation">
<h4>08 July 2008</h4>
<b>Topic:</b> George Bodley will give a talk on <a href="http://audacity.sourceforge.net/">Audacity</a>, the Free, Open-Source software for recording and editing sound.
<p>
George has been an exclusive user of the Linux Operating System for nearly a decade. He will demonstrate how he uses Audacity, and other open source programs  to edit wav and mp3 files.
<p>
Audacity is a free, easy-to-use audio editor and recorder for open source Linux distributions, and the more costly proprietary operating systems.
<p>
<a href="http://audacity.sourceforge.net/about/features">Audacity: Features</a>
<p>
He will also go over converting audio CD's to mp3  format with <a href="http://www.k3b.org/">K3B</a>, and applying the mp3 ID tags with <a href="http://easytag.sourceforge.net/">Easy Tag</a>.
</div>

<div class="presentation">
<h4>12 August 2008</h4>
<b>Topic:</b> Rick Burton on <a href="http://gimp.org">The GIMP</a>
<p>
The GIMP - lessons learned over the last year of beginning my journey into astrophotography and image processing. A brief demo of unsharp masking, color processing, layer modes, and greyscale levels.
</div>

<div class="presentation">
<h4>09 September 2008</h4>
<b>Topic:</b> 
</div>

<div class="presentation">
<h4>14 October 2008</h4>
<b>Topic:</b> 
</div>

<div class="presentation">
<h4>11 November 2008</h4>
<b>Topic:</b> <a href="http://www.zimbra.com/">Zimbra</a> with David Willson
<p>
Need to go beyond email?  Looking for instant messaging, calendar, tasks, document and file sharing, <i>and</i> threaded email in an attractive, open-source, cross-platform, server-based solution that's reasonably secure by default?  Leaving Microsoft Exchange behind or avoiding it altogether?  Check out the Zimbra demo at CLUE
<p>
Dave Willson is a network engineer with 14 years of field experience, supporting Windows and a variety of other Microsoft products, and 9 years of experience supporting Samba, PostgreSQL, WU-IMAP, and sendmail on Linux. His favorite distributions are Fedora, Knoppix, and OpenSUSE.
</div>

<div class="presentation">
<h4>09 December 2008</h4>

</div> <!-- content -->
</div> <!-- block -->
