<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>11 January 2005</h4>
<b>Main Topic:</b> Home Automation using Powerline Carrier Technology with Terry Bollinger and Gary Koenig
<p>
Universal Powerline Bus, UPB, is a new standard for powerline carrier technology. The speakers will discuss what home control is, some of the advantages of home automation and lighting control, various carrier standards, and alternatives to powerline carrier technology. The presentation will include discussions of IP-based home control, security issues, how to integrate IP with traditional home control systems and how devices can be managed with an intelligent Linux-based whole home server. There will also be a demonstration of UPB, digital audio/video, and a residential server. <a href="presentations/universal_powerline_bus.sxi">Presentation slides</a> (283K, Impress)
<p>
<b>KISS Session:</b> Using apt and synaptic with Dennis Dallas
<p>
Dennis Dallas will present the apt / synaptic package manager and how to make a local apt repository. <a href="presentations/apt_for_rpm.sxi">Presentation slides</a> (672K Impress)
</div>

<div class="presentation">
<h4>08 February 2005</h4>
<b>Main Topic:</b> Linux in Education with John Hamilton
<p>
John will present on how Lois Lenski Elementary School is using Linux to provide student accounts, file sharing, file backups, printer services, controlled internet access, secure wireless networking, and more. He will talk about how they have been able to do this with the help of teenage and adult volunteers and how they have created an entire network infrastructure based on Linux. <a href="presentations/lenski_teen_tech.sxi">Presentation Slides</a> (763K Impress)
<p>
John is a digital IC design engineer for a biomedical company called Medtronic where he designs integrated circuits using a Linux workstation. Personally, he's been a Linux enthusiast for about 6 years. John also volunteers at a local elementary school where he and a group of people have created the Linux network infrastructure that he will be talking about.
<p>
<b>KISS Session:</b> The <a href="http://www.ltsp.org/">LTSP</a> in South Africa with Elizabeth Spruill
<p>
Elizabeth Spruill, from the <a href="http://www.rmsel.org/">Rocky Mountain School of Expeditionary Learning</a>, will give a presentation on her recent trip to South Africa. She visited schools using K12LTSP and Linux terminals as their primary computer systems.
</div>

<div class="presentation">
<h4>08 March 2005</h4>
<b>Main Topic:</b> Multimedia on Linux with Mike Melanson
<p>
Multimedia plays an increasingly important role on the everyday PC desktop. Users expect to be able to play CDs and DVDs as well as all manner of multimedia files available on the internet. This presentation will describe and demonstrate a timeline of multimedia and its support on Unix and Linx platforms, where the technology has been, where it is now, and what challenges Linux users can expect to face in this arena in the future.
<p>
Mike Melanson is an open source/free software developer from Colorado Springs, CO. His primary obsession is multimedia technology and making sure that Linux/Unix users can experience all types of multimedia on their desktops.
<p>
<b>KISS Session:</b> Remastering Knoppix with Dennis Dallas
<p>
Dennis created a custom version of a Knoppix live CD. With the help of O'Reilly's "Knoppix Hacks" and the Knoppix web site, Dennis was able to to add and remove packages and create his own custom version. <a href="presentations/remastering_knoppix.sxi">Presentation Slides</a> (17K Impress)
</div>

<div class="presentation">
<h4>12 April 2005</h4>
<b>Main Topic:</b> Practical implications and legal risks of using open source software with Jason Haislmaier<
<p>
In general, the presentation will cover the following:
<ul>
<li>What is the legal justification for open source software?
<li>What legal risks arise when organizations use and distribute open source software?
<li>What have the existing court cases told us about open source software (SCO v. IBM and beyond ...)? What is on the horizon?
<li>What are the best practices for dealing with open source software within an organization? 
</ul>
<p>
Jason Haislmaier is a Partner in the Intellectual Property Group of the law firm of <a href="/http://www.hro.com">Holme Roberts Owen</a>. He is also a Professor of Copyright Law at the University of Colorado Law School in Boulder, Colorado. He concentrates his practice on representing emerging and established technology companies in technology and intellectual property issues, with a special area of emphasis on open source software licensing and compliance issues. He has helped clients in the U.S. and abroad develop and implement open source software compliance strategies and contend with open source compliance inquiries. He has lectured in the US and Europe on technology and intellectual property issues, including the practical and legal issues surrounding the interpretation of open source software licenses under the copyright and intellectual property laws of the US and EU.
<p>
<b>KISS Session:</b> Input and Output Redirection with David Jenne
<p>
If you think &lt, &gt, and | mean "greater than", "less than", and "such that", you're correct but you're not speaking Linux. This presentation will cover the basics of redirecting command output to files or other commands.
<p> 
David Jenne has been working with UNIX systems for 12 years. He now works as a database administrator for InfoNow Corporation.
</div>

<div class="presentation">
<h4>10 May 2005</h4>
<b>Main Topic:</b> Breaking Eggs And Making Omelettes: Intelligence Gathering For Open Source Software Development with <a href="http://www.multimedia.cx/">Mike Melanson</a><
<p>
There is an ongoing information war raging on in the software world. Despite free software developers' best efforts, new proprietary software continues to proliferate. New techniques must be developed to efficiently reverse engineer closed data formats so that free, interoperable solutions can be deployed under Linux. This talk focuses on intelligence-gathering for developing software algorithms, regardless of their difficulty or perceived legality.
<p>
Mike Melanson is an open source/free software developer from Colorado Springs, CO. His primary obsession is multimedia technology and making sure that Linux/Unix users can experience all types of multimedia on their desktops.
<p>
<b>KISS Session:</b> Linux in Business with Jeff Cann
<p>
Jeff has been a Linux user since 1995. As a professional software developer, he has experienced the superiority of <a href="http://www.gnu.org/philosophy/">Free Software</a>. He has particular interest in Linux software used in web environments and advocates <a href="http://www.gnu.org/">GNU</a> software whenever possible. His efforts to introduce GNU software have led to the successful integration of SAMBA, CVS, and the GNU development tools at his current employer.
</div>

<div class="presentation">
<h4>14 June 2005</h4>
<b>Main Topic:</b> IBM's new OpenPower Family of Linux-only platforms with Phillip Greer of <a href="http://www.ibm.com/">IBM</a>
<p>
Philip will discuss the Power5 (RISC) architecture and its performance and technical attributes. The presentation will include a demonstration of the Power5 virtualization capabilities and a discusssion of how Linux has been incorporated into this technology.
<p>
Philip Greer is a senior systems engineer with Paragon Solutions Group. He has also served as a technical specialist and computer instructor. Philip has implemented infrastructure solutions, HA clustering, and storage and SAN deployments.
<p>
<b>KISS Session:</b> <a href="http://www.cacert.org/">CACERT</a> with Jeffrey Brown
<p>
CAcert is an organization that provides free SSL (X509) certificates. The organization is based on the concept of a Web-of-Trust (WoT) similar to PGP (Pretty Good Privacy) in which individuals verify one another's identity in order to create information assurance. CAcert's WoT is based upon a point system and points are awarded from other assurers (someone who has had their identity verified by others). Here is a link describing the points and certificate types: <a href="http://www.cacert.org/index.php?id=19">http://www.cacert.org/index.php?id=19</a>.
<p>
CLUEbies who wish to participate and have their identity verified should bring 2 forms of photo ID. There will be at least four assurers (perhaps more) attending the session who will be available to assure anyone interested. Interested parties, for assurance, are encouraged to fill out four or five forms located here: <a href="http://www.cacert.org/docs/CAP.pdf">http://www.cacert.org/docs/CAP.pdf</a>.
</div>

<div class="presentation">
<h4>12 July 2005</h4>
<b>Main Topic:</b> Todd Trichler from Oracle Corporation</b>
<p>
Todd will present an abbreviated version of his keynote presentation from LinuxWold - South Africa, covering: trends leading to adoption of Linux in the enterprise, a case study of Oracle's internal usage of Linux, and Linux on the Coporate Desktop — Do's and Don'ts.
</div>

<div class="presentation">
<h4>09 August 2005</h4>
<b>Main Topic:</b> Linux Acceptance in a Large Corporate Environment &#151; A True Story with Jeff Cann
<p>
Jeff Cann will discuss his experience as a member of a enterprise architecture team whose task was to research and present Linux as a standard operating system to his corporate IT architecture council. The experience sheds light on real-world uses of Linux [both authorized and unauthorized] and how to combat FUD.
<p>
Jeff has been a Linux user since 1995. As a professional software developer, he has experienced the superiority of <a href="http://www.gnu.org/philosophy/">Free Software</a>. He has particular interest in Linux software used in web environments and advocates <a href="http://www.gnu.org/">GNU</a> software whenever possible. His efforts to introduce GNU software have led to the successful integration of SAMBA, CVS, and the GNU development tools at his current employer.
</div>

<div class="presentation">
<h4>13 September 2005</h4>
<b>Main Topic: </b>Monitoring, Responding and Disaster Recovery
Network Maintenance with Nagios &#151; David Rudder
<p>
Reducing downtime and system errors is critical to the success of a network administrator. This speech will introduce the concept of automated monitoring, talk about some of the features and lacks of popular monitoring packages, and give a detailed overview of the Nagios monitoring package. Nagios is an open source software package that competes with many expensive commercial monitoring packages. <a href="presentations/nagios_rudder.sxi">Presentation Slides</a> (95K Impress)
<p>
David Rudder is the President of <a href="http://www.reliableresponse.net/">Reliable Response, LLC</a>, a maker of IT notification software. He's been using Linux and maintaining Linux networks since 1995. He's the author of the 1st revision of the Linux Firewalling and Proxy Server HOWTO, circa 1996, and has been involved in various Linux users groups and online communities since. David has been using Nagios for almost 2 years with commercial and personal networks.
</div>

<div class="presentation">
<h4>11 October 2005</h4>
<b>Main Topic:</b> <a href="http://www.asterisk.org/">Asterisk</a> Voice-Over-IP with Dale Laushman and Eric Alexander from <a href="http://www.theuptimegroup.com/">The Uptime Group</a>
<p>
With the burgeoning demand for VOIP phone service, Asterisk is the hottest thing in open source software. Asterisk is a complete software-based PBX that runs on Linux, BSD and MacOSX and provides all of the features you would expect from a PBX and more. Asterisk can interoperate with almost all standards-based telephony equipment using relatively inexpensive hardware.
<p>
We have implemented the software in local businesses, and now we're going to show you how to configure your own Asterisk system to eliminate sales calls during dinner. Yes, we are trained professionals, but YOU CAN DO THIS AT HOME! Learn how to set up Asterisk step-by-step with a proven selection of operating systems and packages. <a href="http://www.theuptimegroup.com/documents/asteriskThwartingTelemarketers.pdf">Presentation</a> (PDF 118K)
<p>
The Uptime Group is your Denver/Boulder outsourced information technology
department. From computer networking to phone systems to ongoing maintenance
and support, we deliver the most cost-effective, reliable and secure IT
solutions by innovatively integrating the best of traditional and
Linux/open-source software with existing systems "where it makes sense.
<p>
<b>KISS Session:</b> <a href="http://www.gnu.org/software/rcs/rcs.html">RCS</a> with Dennis Dallas
<p>
RCS (revision control system) is an easy to use tool to manage changes to small project source code files and comes with most major distributions.  It maintains a record of code changes and enables branches and reverting to older versions.  There is little learning curve or setup needed. The presentation will briefly cover concepts and commands and show how RCS can be used on a simple project. Presentation slides: <a href="presentations/rcs_presentation092405.pdf">PDF 74K</a>, <a href="presentations/rcs_presentation092405.sxi">Impress 65K</a>
</div>

<div class="presentation">
<h4>08 November 2005</h4>
<b>Main Topic:</b> Linux Clusters with Steve Senator
</div>

<div class="presentation">
<h4>13 December 2005</h4>
<b>Main Topic:</b> <a href="http://www.jabber.org/">Jabber</a> with Peter Saint-Andre
<p>
Jabber is a set of open technologies for streaming XML, instant messaging, and presence. Peter will discuss the history, present state, and future direction of the Jabber open-source projects, commercial adoption by the likes of Google, Apple, HP, and Sun, the impact of IETF standardization, and fun things you can do with Jabber technologies.
<p>
Peter Saint-Andre is Executive Director of the Jabber Software Foundation, Chair of the Jabber Council, and JEP Editor in charge of the JSF's standards process. He has been contributing to the Jabber/XMPP community since late 1999, where he has focused on protocol documentation and development as document editor of the XMPP RFCs and author of countless XMPP protocol extensions. He also writes the Jabber Journal and keeps a weblog, which is syndicated at Planet Jabber.
</div>

</div>
</div>
