<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>09 January 2007</h4>
</div>

<div class="presentation">
<h4>13 February 2007</h4>
Oracle Linuxfest with Todd Trichler from <a href="http://www.oracle.com/technology/tech/linux/index.html">Oracle's Linux Technology Center</a>
</div>

<div class="presentation">
<h4>13 March 2007</h4>
<b>Topic:</b> GPL'd "Ingress 2006" with John Murphy from Ingres Corporation
<br><br>
The presentation will introduce you to the newest Open Source (GPL) database system for your use on LINUX &#151; "INGRES 2006" (<a href="http://www.ingres.com/">www.ingres.com</a>).
<br><br>
Unlike MySQL or Postgres, Ingres 2006 Delivers a Unique Solution: the power of an enterprise strength database (comparable to Oracle) coupled with the low cost and ease of use of open source software. Ingres has evolved from one of the first available relational database management systems (RDBMS). It has earned a reputation for being extremely dependable in supporting mission-critical applications.
<br><br>
John will also discuss openly some of the dificulties DBA's have in migrating from one DB to another.
<br><br>
The Open source community needs new members, if you have contributed to a Database or Data Warehousing tool, please consider joining our group. Recent improvements have come from University and individual participation.
<br><br>
John will explain how you can download the Source, GPL version or a trial version at <a href="http://www.ingres.com/">www.ingres.com</a>.
<br><br>
John Murphy is a Client Services Engineer from the Ingres Corporation. He has been at Ingres for two years helping introduce the "newest" Open Source database for LINUX. Prior to Ingres John has 25 years experience working for TIBCO, Oracle, Informix, and IBM. He has hands-on experience with Sybase, MySQL and MS SQL as well.
</div>

<div class="presentation">
<h4>10 April 2007</h4>
<b>Topic:</b> Warren Turkal on Wireless
</div>

<div class="presentation">
<h4>08 May 2007</h4>
<b>Topic:</b> <a href="http://www.openoffice.org/">OpenOffice.org</a> with <a href="http://openoffice.blogs.com/about.html">Solveig Haugland</a>
<p>
Solveig will present a short overview of OpenOffice.org 2.2, then cover essentially the "cool" advanced topics and hacks she's come across in the program. Topics include PDF options; configuring toolbars, menus, and keyboard shortcuts; conditionally including content; triggering the next record in a database; and basic database imports and queries. She will also briefly cover the potential problems in converting a non-technical organization to OpenOffice.org, and techniques for dealing with these issues.
<p>
Solveig Haugland has been an OpenOffice.org instructor, course developer, and author since 1999. She is the author of the StarOffice 5.2 Companion, StarOffice 6 Companion, OpenOffice.org 1.0 Resource Kit, and the current <a href="http://www.amazon.com/exec/obidos/ASIN/0974312029/1n9867a-20">OpenOffice.org 2 Guidebook</a>. Prior to her entry into the world of open source, she worked as a technical writer and course developer for Microsoft Great Plains, Sun Microsystems, and BEA. She is an enthusiastic swing dancer, hiker, and poker player. Solveig's blog is <a href="http://openoffice.blogs.com">OpenOffice.org Training, Tips, and Ideas</a>, and her business site is <a href="http://www.getopenoffice.org">GetOpenOffice.org</a>.
</div>

<div class="presentation">
<h4>12 June 2007</h4>
<b>Topic:</b> Eric Stromberg on <a href="http://www.bakbone.com/">BakBone</a>
</div>

<div class="presentation">
<h4>10 July 2007</h4>
<b>Topic:</b> Panel on Content Management Systems [CMS]
<p>
David Willson, Mike Fatica, and Greg Knaddison talked about Open Source Content Management Systems.
<p>
Greg Knaddison is a Web Developer, Programmer and Systems Administrator with <a href="http://pingv.com/">pingVision</a>. Greg has been contributing to Open Source projects since 1999. A graduate of the University of Pennsylvania’s Wharton School with a degree in Information Systems, Greg’s technology experience spans the gamut from profitability models built with Excel macros to web-based decision engines built on top of Oracle. He has worked for large firms, including Arthur Andersen and Price Waterhouse Coopers, as well as for Azure Solutions and Charter Communications.
<p>
After years of building web applications inside the intranets of the world’s telecommunications companies, Greg now creates interactive websites enabling easy publishing and community interaction. Greg (who is known on <a href="http://www.drupal.org/">Drupal.org</a> as "greggles") is an expert in Drupal, Linux, PHP, Python/Jython and MySQL
<p>
Dave Willson is a network engineer with 13 years of field experience, supporting Windows and a variety of other Microsoft products, and 9 years of experience supporting Samba, PostgreSQL, WU-IMAP, and sendmail on Linux. His favorite distributions are Fedora, Knoppix, and OpenSUSE. He frequently host the hands-on Linux study group known as <a href="http://mailman.thegeek.nu/LinuxFun/">Linux Fun</a>, which was formerly known as Linux Fun-da-mentals.
<p>
<a href="http://knaddison.com/book/export/s5/475">Greg's Drupal Presentation</a>
</div>

<div class="presentation">
<h4>14 August 2007</h4>
<b>Topic:</b> Carl Richell, <a href="http://system76.com/">System 76</a></li>
</div>

<div class="presentation">
<h4>11 September 2007</h4>
<b>Topic:</b> Nokia N800 : Debian-based PDA with Dennis Perkins

<p>Convergence on small, portable computerlike devices has been underway for some time: PDAs, Blackberry, the iPhone, the Sony VAIO UX, and the Nokia N800 are but a few examples.

<p>Nokia bills its N800 as an Internet tablet. It is that and more. You can access your email, play games, and even use a spreadsheet. The N800 uses Maemo, which is based on Debian. It is small and lightweight and can use either Wifi or Bluetooth to connect to the Internet.
</div>

<div class="presentation">
<h4>09 October 2007</h4>
<p>
<b>Topic:</b> Multi-threaded Linux Development with Sun Studio 12, by Dave Hagerty Brad Lewis of <a href="http://www.sun.com/">Sun Microsystems</a>
<p>
The trend toward multi-core systems places an increasing importance on multi-threaded applications.  Developing multi-threaded applications is known to be a difficult. Sun Studio 12 provides C, C++, and Fortran compilers for Linux in an IDE with tools to ease the development and tuning of multi-threaded applications for free.
<p>
Dave Hagerty has a Bachelor degree from the University of Colorado in Computer Science. He has been in the Computer industry for 23 years in various roles including System Administrator, Network administrator, Software developer and technical support person. His current role is the build master and system administrator for the Performance Library (Perflib), which is part of Sun Studio.
<p>
Brad Lewis works in the Sun Performance Library Group developing highly tuned mathematical software.  He has 13 years of experience specializing HPC and developer tools. He has a MS degree in Computer Science from the South Dakota School of Mines and Technology.
</div>

<div class="presentation">
<h4>13 November 2007</h4>
</div>

<div class="presentation">
<h4>11 December 2007</h4>
</div>

</div> <!-- content -->
</div> <!-- block -->
