<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>12 January 2010</h4>

</div>

<div class="presentation">
<h4>09 February 2010</h4>

</div>

<div class="presentation">
<h4>09 March 2010</h4>

</div>

<div class="presentation">
<h4>13 April 2010</h4>
<p><b>Topic:</b> <a href="http://www.instiki.org/">Instiki</a></p>
<p>Instiki is a simple, Ruby-based wiki that can be set up in a few minutes. It can be used as a public wiki, but it is also gaining popularity as a desktop wiki as a way to keep notes, etc. It provides a simple markup language for formatting. With the proper browser add-on, it can even display mathematical formulas.</p>
</div>

<div class="presentation">
<h4>11 May 2010</h4>
<p><b>Topic:</b> Using Free Software to Access Linux from Windows
<p>Stephen Herr will talk about Linux in a Windows world: the use of <a href="http://www.cygwin.com/">Cygwin</a>, <a href="http://www.tightvnc.com/">VNC</a>, and <a href="http://openssl.org/">SSH</a> to connect to Linux Servers.</p>
</div>

<div class="presentation">
<h4>08 June 2010</h4>
<b>Topic:</b> NoSQL Basics Using <a href="http://www.mongodb.org/">MongoDB</a></p>
<p>Rick Burton will talk about <a href="http://en.wikipedia.org/wiki/Nosql">NoSQL</a> databases and MongoDB</p>
<p>MongoDB, used by The New York Times, Joomla Ads, SourceForge, and many other companies, is a document-based, highly flexible, NoSQL database that presents a new conceptual model for data storage.</p>
<p><b>About Rick:</b><blockquote>I'm Rick Burton, married, 5 kids, 3 2/3 grandkids, software engineer, amateur astronomer, and incurable geek. I've worked for ISPs, consulting companies, software developers (Lockheed Martin being the most well-known) and currently run Data Pathways along with my wife, Patti. I became a Linux enthusiast with Slackware 2.0 in the early 90s.</blockquote></p>
</div>

<div class="presentation">
<h4>13 July 2010</h4>
<b>Topic:</b> Continuing NoSQL Operations Using <a href="http://www.mongodb.org/">MongoDB</a></p>
<p>Rick Burton will present a follow-on to last month's talk about <a href="http://en.wikipedia.org/wiki/Nosql">NoSQL</a> databases and MongoDB. This month, he'll be exploring document add/edit/delete, collections of documents, and searches with a bit of regular expressions tossed in.</p>
<p>MongoDB, used by The New York Times, Joomla Ads, SourceForge, and many other companies, is a document-based, highly flexible, NoSQL database that presents a new conceptual model for data storage.</p>
<p><b>About Rick:</b><blockquote>I'm Rick Burton, married, 5 kids, 3 2/3 grandkids, software engineer, amateur astronomer, and incurable geek. I've worked for ISPs, consulting companies, software developers (Lockheed Martin being the most well-known) and currently run Data Pathways along with my wife, Patti. I became a Linux enthusiast with Slackware 2.0 in the early 90s.</blockquote></p>
</div>

<div class="presentation">
<h4>10 August 2010</h4>
<p>This month's topic is TrueCrypt. TrueCrypt runs on Linux, Macintosh and Windows and can be used to encrypt your partitions or virtual partitions (files that can be mounted as partitions). Keep the data on your thumb drives and SD chips secure.</p>
</div>

<div class="presentation">
<h4>14 September 2010</h4>
<b>Topic:</b> A decade in the life of a Linux/Unix System Administrator</p>
<p>Mark Henry will talk about various Linux topics including:
<ul>
	<li>Backup/restore technologies Bacula and Storix</li>
	<li>Open source cloning software Clonezilla</li>
	<li>OpenAFS on Linux and AIX</li>
	<li>Linux Certifications</li>
	<li>Virtualization with Xen</li>
	<li>Little bit of gentoo</li>
</ul>
</p>
<p>Mark Henry has worked for InfoPrint Solutions, a Ricoh Company (formerly IBM Printing Systems) in Boulder for 10 years. As a software engineer with multiple Linux/Unix certifications he works supporting and securing systems in a development environment. Recent accomplishments include setting up distributed compiling on multiple gentoo systems and implementing FIFO in his sock drawer at home.</p>
</div>

<div class="presentation">
<h4>12 October 2010</h4>
<b>Topic:</b> Modern Perl with Chris Fedde</p>
<p>Or, what happened to Perl while you were sleeping</p>
</div>

<div class="presentation">
<h4>09 November 2010</h4>
<b>Topic:</b> VM shootout</p>

</div>

<div class="presentation">
<a name="december"><h4>14 December 2010</h4></a>
<p><b>Topic:</b>State of CLUE</p>

<p>Please come participate in a lively discussion about CLUE's direction for the
coming year.  What have we done this past year?  What are we doing now?  What
should we do in the next year?  Who will help us do it?</p>

<p>There are some things that we've not done as well as we could.  There are
some resources we have that we aren't using.  There is some coordination needed
to make a group like this successful.</p>

<p><b>You can help!</b>  Come and tell us what you like and what you don't.
Come hear what others are saying.  This is your chance to get involved and make
your ideas happen!</p>

<p>Highlights:</p>
<ul>
	<li>Web site face lift (can Drupal save the day?)</li>
	<li>The fate of VPSLink</li>
	<li>Finding the One True List (and selling the others on eBay)</li>
	<li>Will Hillary challenge the standing President?</li>
</ul>
<p>This is a <b>Free Meeting</b>, just like we have Free Software and Free
Lunch.  There will be a meeting.  All are welcome to partake.  All are invited
to contribute according to their means.  Some will schedule, some will speak,
some will record, some may bring refreshments, some may even bring cash.  And
many may just lurk.  But there will be a meeting that you may use, modify, and
redistribute it as you like.</p>

</div>

</div> <!-- content -->
</div> <!-- block -->
