<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">
<p><font color="#549CD4"><b>Meeting Month: </b></font><b>December 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<!-- main talk -->
<b>Practical TCP/IP, Part II with
<a href="mailto:anselmi@americanisp.net">David Anselmi</a> </b></p>

<!-- abstract -->
<p>Using Linux means using TCP/IP networking. This talk will help you understand how TCP/IP works so you can configure and troubleshoot your Linux system more easily. We will discuss the ethereal and netcat tools and use them to troubleshoot a UDP service. We will also discuss DNS, the service that underlies most others on the Internet. <a href="presentations/tcp_talk2/index.html">View slide show</a> <a href="presentations/tcp_talk2/tcp-talk2.tar.bz2">Presentation Slides</a> [27K bzipped tarball]

<!-- speaker bio -->
<p>Dave Anselmi is the CLUE webmaster. He is a self-taught programmer, system and network administrator, and Linux enthusiast. He has been dabbling in Linux since 1995 and is finally starting to understand a little of it. 

<!-- kiss talk -->
<p><font color="#549CD4"><B>KISS Session Topic: </B></font>
<b>Coyote Linux</a> with <a href="mailto:warren@guano.org">Warren</a></b></p> 

<!-- abstract -->
<p>Coyote Linux is a simple-to-use and simple-to-administer firewall derived from the Linux Router Project.  It boots and runs from a floppy.

<HR ALIGN="center" NOSHADE>

<!-- main talk -->
<p><font color="#549CD4"><b>Meeting Month: </b></font><b>November 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font><b>Spam Tools that Work
with Barb Dijker</b></p>

<!-- abstract -->
<p>The volume of spam that both users and ISPs must deal with is increasing at an astronomical rate. There are many tools to help curtail the flow of spam ranging from DNS-based blacklists to mail client-based filtering schemes. This talk will provide an overview of the latest tools and techniques for managing spam, focusing on one tool that really works: SpamAssassin. 

<p>SpamAssassin can be installed and used by one person or integrated into sendmail to block spam for an entire site. It uses a rule base to assign a probability that a message is spam. It is over 99% effective at identifying spam. The talk will go into detail about how to install, use, and customize SpamAssassin. 

<!-- speaker bio -->
<p>Barb Dijker (barb at netrack.net) has been fighting and analyzing spam for many years as a consultant, and is involved with two local ISPs, <a href="http://www.netrack.net">Netrack, Inc.</a>, and <a href="www.coop.net">Colorado Internet Coop</a>. She has given talks on spam around the globe and has served as an expert witness in a legal case involving spam.

<!-- kiss talk -->
<p><font color="#549CD4"><B>KISS Session Topic: </B></font>
<b><a href="wlan-talk/wlan.html">Setting up a Wireless LAN</a> with <a href="mailto:match@dimensional.com">Match Grun</a></b></p> 

<!-- abstract -->
<p>How I set up a wireless LAN with a LinkSys PCMCIA card and a Wireless Access Point.
<a href="presentations/wlan-talk/wlan.html">View slide show</a> <a href="presentations/wlan-talk/wlan-talk.tar.bz2">Presentation Slides</a> [578K bzipped tarball]
<!-- speaker bio -->
<p>Match is a programmer for the Slypheed project (among others) and a long time CLUE member.

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>October 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<b><a href="presentations/tcp_talk/index.html">Practical TCP/IP</a>
with <a href="mailto:anselmi@americanisp.net">David Anselmi</a></b></p>
<p>Using Linux means using TCP/IP networking. This talk will help you understand how TCP/IP works so you can configure and troubleshoot your Linux system more easily. <a href="presentations/tcp_talk/index.html">View slide show</a> <a href="presentations/tcp_talk/tcp-talk.tar.bz2">Presentation Slides</a> [25K bzipped tarball]
</p>
<p>Dave Anselmi is the CLUE webmaster. He is a self-taught programmer, system and network administrator, and Linux enthusiast. He has been dabbling in Linux since 1995 and is finally starting to understand a little of it.</p> 

<p><font color="#549CD4"><B>KISS Session Topic: </B></font>
<b><a href="blog_talk/index.html">Create Your Own Weblog</a> with
<a href="mailto:thag@frii.com">Jed Baer</a></b></p> 
<!-- abstract -->
<p>Blogging is the latest craze to hit the world wide web. From the mega discussion sites like <a href="http://slashdot.org/">Slashdot</a> and <a href="http://Kuro5hin.org/">Kuro5hin</a>, to personal blogs like <a href="http://magickalmusings.net/muse/index.php">Magickal Musings</a>, blogs are popping up all over. There are even blogs about blogs. <a href="http://phpweblog.org/">phpweblog</a> is just one of many software packages available for publishing a weblog. See how to install and configure it.  <a href="presentations/blog_talk/index.html">View slide show</a> <a href="presentations/blog_talk/clue-blogging.tgz">Presentation Slides</a> [101K gzipped tarball]
<!-- speaker bio -->
<p>Jed is an IT veteran, currently an Oracle developer and DBA. He's been using Linux for 4 years, and just started up his own weblog, <i>Cosmic Skidmark</i> (now defunct).

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>September 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font><b>Linux in Education with <a href="mailto:john@sanoke.com">John Hamilton</a></b></p>
<p>How a volunteer goup of teens and adults has been using Linux at a local elementary school (Lenski Elementary, Centennial, CO) to provide user accounts, file sharing, email service, backups, controlled internet access, web serving, etc. Additionally, we are deploying a Linux Terminal Server that utilizes donated PC's that are booted as X Windows terminals connecting to an <a href="http://www.ltsp.org/index.php">LTSP</a> server.
</p>
<p>John is a Principal IC Design Engineer for Medtronic in Minneapolis, MN. He works remotely from an office in Parker, CO., designing digital circuits for implantable pacemakers and defibrillators. He has a degree in Computer Science from Penn State and he has been a computer hobbiest since the mid 70's.</p> 

<p><font color="#549CD4"><b>KISS Session Topic: </b></font><b>LILO and Linux Boot Loaders with Dave Hahn and Roy Johnston</b>
</p>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>August 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font><b><a href="ldap-talk/ldap.html">LDAP Tips, Tricks and Programming</a> with <a href="mailto:match@dimensional.com">Match Grun</a></b>
</p>
<!-- abstract -->
<p>
Lightweight Directory Access Protocol (LDAP) allows directory information to be accessed across a network. OpenLDAP has been presented at a previous CLUE meeting (November 2001).
</p>
<p>
However, there is much more to LDAP that still remains to be covered. Match will cover programming with LDAP with C. Also, covered will be some other tools that make use of LDAP. <a href="presentations/ldap_talk/ldap.html">View slide show</a> <a href="presentations/ldap_talk/ldap-pres.tar.gz">Presentation Slides</a> [44K gzipped tarball]
</p>
<!-- speaker bio -->
<p>
Match is a professional software developer and has been a Linux user since 1996. He is also one of the maintainers of the <a href="http://sylpheed-claws.sourceforge.net" target="_blank">Sylpheed (Claws)</a> open source E-Mail client hosted at SourceForge.
</p>

<p><font color="#549CD4"><b>KISS Session Topic: </b></font><b>Burning CDs with <a href="mailto:davep@kinaole.org">John Price</a></b>
</p>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>July 2002</b>

<p align="center"><B><fontsize=+1>CLUE Auction Night</fontsize></B></p>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>June 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font><b>GPL with <a href="mailto:mfporter@c-creature.com">Matthew Porter</a></b>
</p> <p>
Free software is important -- but how does it remain free? One thing that helps is the GNU General Public License (the GPL).
</p> <p>
This talk will cover the basics of copyright law and software licensing, and then explore in detail the provisions of the GPL and how they use copyright law to promote free and open software. We will also take a look at recent developments relating to the GPL, and discuss questions from the audience.
</p> <p>
Matthew Porter is an attorney based in Golden, Colorado, specializing in litigation and technology-related matters. He has a background in computer science, and received his J.D. degree from New York University. He has used Linux enthusiastically since 1998.
</p>
<p><font color="#549CD4"><b>KISS Session Topic: </b></font><b>Extremely User Friendly Button Menu for IceWM</b> with <b><a href="mailto:joelinux@earthlink.net">George Bodley</a></b></p>
<p>
George will demonstrate a user friendly button menu system for the speedy ICE Windowing Manager and explain how to configure and personalize it for your own needs.
</p>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>May 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font><b>Firewalls with <a href="mailto:dhahn@techagle.com">Dave Hahn</a> and <a href="mailto:rjohnston@techangle.com">Roy Johnston</a></b>
<p>
Dave and Roy are the technical gurus of <a href="http://www.techangle.com">TechAngle</a>, offering products and services to the Linux community. Their past presentations have been as entertaining as they have been informative.
</p>
<p><font color="#549CD4"><b>KISS Session Topic: </b></font>
<b><a href="lvm-talk/">LVM </a>with
<a href="mailto:kehellman@yahoo.co">Keith Hellman</a></b>
</p>
<p>
Logical Volume Management - allows you to group multiple disks together and have a linux box think it's just one drive. LVM is implemented in the kernel (userland control apps); it is filesystem independent, drive interface independent (SCSI,EIDE,IDE), and lets you dynamically reconfigure your 'virtual partitions' (one of many goodies).  LVM is downright cool. <a href="presentations/lvm_talk/">View slide show</a> <a href="presentations/lvm_talk/lvm_talk.tar.bz2">Presentation Slides</a> [2368K bzipped tarball] </p>
<p>
Keith is the one who quips too much during the Linux meetings, and is looking forward to everyone getting a chance to quip back. Keith started programming with Coherent, but has a little bit of experience on more modern OSs such as Solaris, AIX, IRIX, and much to his delight, Linux.
</p>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>April 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font><b>Linux Certification with <a href="mailto:crawford.rainwater@itec-co.com">Crawford Rainwater</a></b>
</p>
<p>Linux Certified?
Take control of your career and your future in the IT industry!  You've thought it. You may have even said it out loud once or twice. "If only I could get inside this system, I could fix this problem and make it better."
</p>
<p>Now is your chance. Linux is the fastest growing, most stable OS in the world today. It's a standard option on all major hardware platforms and leading software developers are quickly realizing its benefits and providing Linux versions of their products. And best of all, it's open-source. The hood's open and the keys are in the ignition. All you have to do is get behind the wheel. Learn to harness this dynamic, powerful, and yet incredibly reliable system. Take this opportunity to create new opportunities for yourself. Put your skills and expertise to the test...become Linux Certified today.
</p>
<p>Crawford Rainwater is the current CEO and President of The Information Technology Education & Consulting Company (a.k.a. The I.T.E.C. Company), as well as a SAIR Linux and GNU Linux Certified Professional. Mr. Rainwater has been consulting in the information technology field for the past eight years, with Linux being his main focus for the past two. He holds a Masters of Science in Electrical Engineering from the University of Colorado.
</p>

<p><font color="#549CD4"><b>KISS Session Topic: </b></font>
<B>SSH with
<a href="mailto:anselmi@americanisp.net">Dave Anselmi</a></b>
</p>
<p>SSH, the Secure SHell, is a secure replacement for telnet and ftp.  We'll talk about why we call SSH "secure" and how to do remote login and file transfer using the programs in the OpenSSH package.
</p>
<p>Dave Anselmi is the CLUE webmaster. He is a self-taught programmer, system and network administrator, and Linux enthusiast. He has been dabbling in Linux since 1995 and is finally starting to understand a little of it.
</p>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>March 2002</b>
<p><font color="#549cd4"><b>main session topic: </b></font><b>Legal Advice for the Independant Contractor with <a href="mailto:emarrs@attbi.com">EmilyAnne Marrs </a></b>
</p>
<p>An open discussion with an attorney who administers the retention and utilization of independant contractors for an international software company. Emilyanne will cover the following issues:
<ul>
        <li>Establishing professional boundaries.</li>
        <li>Overcoming dread of contracts.</li>
        <li>Protecting and maintaing of intellectual property.</li>
        <li>Limiting liability and indemnification.</li>
        <li>Arbitration and litigation.</li>
</ul>
</p>

<p><font color="#549cd4"><b>KISS Session Topic: </b></font><b>Installing Software w/ <a href="mailto:davep@kinaole.org">Dave Price</a></b>
</p>
<p>Dave is a a freelance computer consultant in the Denver area. In addition to using Linux almost exclusively for personal tasks, he has installed, configured and run various distributions for business and ISP applications.
<p>
Besides computers, Dave is interested in music, and plays around with audio applications under linux (and sometimes windows).

<hr align="center" noshade>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>February 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font><b>XML with
 <a href="mailto:mgushee@hypermall.net">Matt Gushee</a></b>
</p>
<p>This presentation will introduce practical techniques for using XML on the World Wide Web.  Over the last 2-3 years, XML has made inroads into virtually every area of computing. It is being used today for everything from insurance claims to RMI (remote method invocation), sometimes with questionable results. XML was originally conceived, however, as a key technology for implementing the "Semantic Web". In this role, it can help provide more intelligent and flexible access to information.
</p>
<p>Following a brief review of the basics of XML syntax and processing techniques, we will explore two key technologies for web applications: XSLT and RDF.
</p>
<p>XSLT, eXtensible Stylesheet Language Transformations, is a versatile tool for generating dynamic HTML from XML documents or databases.
</p>
<p>RDF, the Resource Description Framework, is a simple but powerful syntax for managing metadata, and can serve as a basis for intelligent linking and indexing.
</p>
<p>The presentation will close with a demonstration of a real-world web application built with XSLT and RDF.
</p>
<p>Matt Gushee is an XML consultant with <a href="http://www.fourthought.com/">Fourthought, Inc</a>.
</p>

<p><font color="#549CD4"><b>KISS Session Topic: </b></font><b>Cron with
 <a href="mailto:rburton@pcisys.net">Rick Burton</a></b>
</p>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><B>Meeting Month: </B></font><B>January 2002</b>
<p><font color="#549CD4"><B>MAIN Session Topic: </B></font><B>Qmail with <a href="mailto:jafo@tummy.com">Sean Reifschnieder</a></b>
<p>Qmail is currently the number three most used Mail Transfer Agent used on the Internet today, behind Sendmail and Exchange. Qmail was designed from the ground up to be secure, and has not had any root exploits found in the 5 or so years since it was released. In contrast to Sendmail, Qmail is a bunch of small programs working together to achieve a very flexible system - much like Unix itself. This session will give the attendees a feeling for why they may or may not want to use Qmail.
</p>
<a href="mailto:jafo@tummy.com">Sean Reifschneider</a> is a Member of Technical Staff at tummy.com, ltd &#151; a local Linux consultancy. Committed to open source software as a community as well as a business, Sean has a number of open source projects and is the maintainer of the Python2 RPMs.
</p>

<p><font color="#549CD4"><B>KISS Session Topic: </B></font><B>Stupid Font Tricks with <a href="mailto:mgushee@hypermall.net">Matt Gushee</a></b>
</p>
<p>Almost every Linux user has had trouble with fonts at one time or another. Although X11 font support is gradually improving, issues such as poor rendering, obscure configuration methods, and lack of standardization continue to plague even experienced users.
</p>

<p>The goal of this presentation is to provide a basic understanding of how fonts work under XFree86, and what to do when they don't work.
</p>

<p>We will begin with a brief overview of fonts themselves, and how they are installed and configured. We will then look at several useful tools for working with fonts. The presentation will close with a demonstration of some common font problems and their solutions.
</p>

<p>Matt Gushee is an XML consultant with <a href="http://www.fourthought.com/">Fourthought, Inc</a>. He has been struggling with fonts on Linux since 1997.
</p>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><B>Meeting Month: </B></font><B>December 2001</b></br>
<p><font color="#549CD4"><B>MAIN Session Topic: </B></font><B>DHTML with <a href="mailto:DLWillson@thegeek.nu">David Willson</a></b><br>
<p> DHTML is Dynamic HTML, a combination of <a href="http://www.w3.org/Style/CSS/">CSS</a> (Cascading Style Sheets), <a href="http://www.ecma.ch/ecma1/STAND/ECMA-262.HTM">Java/ECMAScript</a>, the <a href="http://www.w3.org/DOM/">DOM</a> (Document Object Model), and of course HTML. DHTML can be used to create attractive and interactive web-documents without serious programming effort. The presentation will be more demonstrative than theoretical.
</p>
<p>David is a geek with a lot of love for (and a little knowledge of) Linux. He does full-time web-database-development in a 100% Microsoft environment, but he looks anxiously forward to gaining enough Linux knowledge to bring his first server in the &quot;back door&quot;. He also looks forward to doing a little pseudo-development in Linux to prepare material for this presentation!
</p>

<p><font color="#549CD4"><B>KISS Session Topic: </B></font><B>DHCP with <a href="mailto:rjohnston@techangle.com">Roy Johnston</a> and <a href="mailto:dhahn@techangle.com">David Hahn</a></b><br><br>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><B>Meeting Month: </B></font><B>November 2001</b></br>
<p><font color="#549CD4"><B>MAIN Session Topic: </B></font><B>Open LDAP with <a href="mailto:jccann@home.com">Jeffery Cann</a></b><br>
<p><a href="http://www.openldap.org/">OpenLDAP</a> is an open source implementation of the Lightweight Directory Access Protocol (LDAP). Its development is sponsored by the non-profit OpenLDAP Foundation. Jeff will discuss the problem domain for successful LDAP implementations, the origins of LDAP from X.500, and the history of the OpenLDAP project. Finally, he will demonstrate web site user authentication on a Linux server using OpenLDAP suite, <a href="http://www.apache.org">Apache</a>, and <a href="http://www.perl.org">PERL</a>.
</p>
<p>Jeff has been a Linux user since 1995. As a professional software developer, he has experienced the superiority of '<a href="http://www.gnu.org/philosophy/">free</a>' software.  He has particular interest in Linux software used in web environments and advocates <a href="http://www.gnu.org/">GNU</a> software whenever possible. His efforts to introduce GNU software has led to the successful integration of SAMBA, CVS, and the GNU development tools at his current employer.
</p>

<p><font color="#549CD4"><b>KISS Session Topic: </B></font><B>Compiling the Kernel w/<a href="mailto:coronadh@coronasolutions.com">Dan Harris</a></b><br><br>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><B>Meeting Month: </B></font><B>October 2001</b></br>
<p><font color="#549CD4"><B>MAIN Session Topic: </B></font><B>End to End Monitoring with <a href="mailto:www.systems-integrators.com">Rob Raphael</a></b><br> End- to -End monitoring is the monitoring and management or performance view of each process and sub-process that makes up your application environment. The environment consists of all hardware,software as well as any other network and telephony components.
<p>
<a href="mailto:www.systems-integrators.com">Rob Raphael</a> is a Senior Engineer for ESI. His focus is Enterprise Management using tools like BMC Patrol, HPOW, CA and Tivoli. He has done several large scale deployments and written many complex Knowledge Modules. He has worked as an SA, Network Tech and DBA and teaches the Admin and Developer class for BMC Software.</p>
	
<p><font color="#549CD4"><b>KISS Session Topic: </B></font><B>How to Install a Dialup Modem Using Linux</b>
<br>Installing a dialup modem for the first time can be a frustrating experience for a Linux user accustomed to Microsoft Windows Plug-n-Play installation ease. This is especially true if you choose to configure Linux manually rather than make use of a nifty Linux dialup utility to get your modem up and running with your ISP. 
<A HREF="MAILTO:jimintriglia@hotmail.com">Jim Intriglia</A> will walk through the process of selecting, installing and testing an internal modem card under Linux.<BR><BR> 

<HR ALIGN="center" NOSHADE>
						
<p align="center"><B>September 11th, 2001<br>meeting cancelled</B></p>

<HR ALIGN="center" NOSHADE>
						
<p><font color="#549CD4"><B>Meeting Month: </B></font><B>August 2001</b></br>
						
<p><font color="#549CD4"><B>MAIN Session Topic: </B></font><B>Linux Arcana with <a href="mailto:tgibson@kaivo.com">Todd A. Gibson</a></b><br>
Jump into the rabbit hole. Linux, and UNIX before it have evolved over decades into its current form. Because of this evolution, there are tips, tricks, and curiosities to be found in everything from the simplest user command to the deepest shadows of the C++ language.<br><br>
This presentation will attack a variety of quirks from the Linux/UNIX genre in an attempt to answer for each the question, "Why?". There is something for everybody as quirks examined range from those a casual user would encounter to those a programmer would appreciate. <br><br> 

Todd is an independent consultant who has been working with UNIX systems for over 10 years. Todd has been passionate about Linux and Open Source since 1997.

<p><font color="#549CD4"><b>KISS Session Topic: </B></font><b>MP3 rip &amp burn demo with <a href="mailto:scott.marlowe@ihs.com">Scott Marlowe</a></b><br>Learn how to rip mp3s and burn CDs in this introductory presentation.<br><br>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><B>Meeting Month: </B></font><B>July 2001</b></br>

<p><font color="#549CD4"><B>MAIN Session Topic: </B></font><B>Python with <a href="mailto:jafo@tummy.com">Sean Reifschneider</a></b><br>

A gentle introduction to the Python programming language. Python is a conceptually simple and elegant, yet powerful and complete programming language. Python is a very high-level language and has been described as "executable pseudo-code".<br><br>

<p><font color="#549CD4"><b>KISS Session Topic: </B></font><B>Open Source GIS Software and Data</b><br> <a href="mailto:tpoindex@nyx.net">Tom Poindexter</a> will discuss what a Geographical Information System (GIS) is, things you might want to do with one, types of GIS data and sources, open source GIS software, and give a brief demo. 
</p>

<HR ALIGN="center" NOSHADE>

<b><font color="#549CD4">Meeting Date: </font>12 June 2001</b><br>

<p><b><font color="#549CD4">Main Topic: </font><a href="ipstorage.pdf"> IP-SANs, Shared Storage for the Masses </a></b>

<p><i>Storage Area Networks (SANs) based on Fibre Channel technology has enabled corporations to build large scale shared storage solutions, but the cost of entry into a SAN solution is beyond what most small to medium size business can afford. A traditional Fibre Channel based SAN can cost tens to hundreds of thousand of dollars to implement.</i></p>

<p><i> With the advent of Internet Engineering Task Force iSCSI specification, which allows block level storage to be directly connected to an IP network, it is now possible to assemble a SAN based on inexpensive Ethernet components. Direct iSCSI attached RAID storage devices are already available from IBM and 3ware, and with iSCSI interface products from companies like Cisco Systems and Nishan Systems, iSCSI is quickly becoming a main stream technology.</i></p>
<p><i>
This talk covered the basics of a traditional Storage Area Network, and gave detailed information on what iSCSI is, what its advantages are, and how it can be used to connect two or more Linux systems, to a centralized storage system. The talk concluded with an IP-SAN technology demonstration.
</i></p>
<p><i>
About the presenter: <a href="mailto:eeastman@cisco.com"> Eric Eastman</a> is a Technical Marketing Engineer for Cisco Systems, where he works for their new Storage Router Business Unit.  Eric has worked for several UNIX focused companies on their storage based products over the last eight years, and has been a Linux enthusiast for more than 6 years.</i></p>

<p><b><font color="#549CD4">KISS Session Topic: </font>ReiserFS and Journaling Filesystems</b>
<br>

<a href="mailto:jafo@tummy.com">Sean Reifschneider</a> will introduce ReiserFS,
a journaling filesystem for Linux. </i></p>

						
<HR ALIGN="center" NOSHADE>
<p><b><font color="#549CD4">Meeting Date: </B></font><B>8 May 2001</B></br>
						
<p><font color="#549CD4"><b>MAIN Session Topic: </B></font><B>PostgreSQL</b><br>
 <a href="mailto:grant@amadnsor.com">Grant Johnson</A> will discuss his favorite open source database.</p>

<p><b><font color="#549CD4">KISS Session Topic: </font>IRC -- Internet Relay Chat</b><br>
Learn about the original global chat system and how to use it for research and fun, with <a href="mailto:rburton@henge.com">Rick Burton</a>. 
</p>
						
<HR ALIGN="center" NOSHADE>

<p><b><font color="#549CD4">Meeting Date: </B></font><B>10 April 2001</B></br>
						
<p><font color="#549CD4"><b>MAIN Session Topic: </B></font><B>Case Study: Total Cost of Ownership</b><br>
<a href="mailto:otis_lamar@yahoo.com">Otis Lamar</A> will discuss Linux and TCO, based on his work experiences as a Project Manager in a corporate IT department as a Case Study.</p>
						
<HR ALIGN="center" NOSHADE>

<b><font color="#549CD4">Meeting Date: </font> 13 March 2001</b><br>

<p><b><font color="#549CD4">Main Topic: </font>What is PHP? </b>
<br><a href="mailto:smarlowe@ihs.com">Scott Marlowe</a>:

<p><i>
PHP stands for PHP: Hypertext Preprocessor, and is a server-side, cross-platform, HTML embedded scripting language. Much of its syntax is borrowed from C, Java and Perl with couple of unique PHP-specific features thrown in. The goal of the language is to allow web developers to write dynamically generated pages quickly. 
</p></i>

<p><i>
PHP provides database connectivity via the following native and abstract APIs: Adabas D, Ingres, Oracle (OCI7 and OCI8), dBase, InterBase, Ovrimos, Empress, FrontBase, PostgreSQL, FilePro, mSQL, Solid, Hyperwave, Direct, MS-SQL, Sybase, IBM DB2, MySQL, Velocis, Informix, ODBC, Unix dbm
</p></i>

<p><i>
It also supports standard web protocols such as IMAP, SNMP, NNTP, POP3, including raw network sockets to "roll your own" protocols.
</p></i>

<p><i>
PHP can be installed as a module under Apache, AOLServer, netscape, fhttpd, phttpd, thttpd, Zeus, Roxen, or Pi3Web under Unix. Under Windows operating systems, PHP can be used with Apache, IIS, Xitami, PWS, or OmniHTTPd.
</p></i>

<p><i>
A partial list of sites running on PHP can be found at <a href="http://www.php.net/sites.php">http://www.php.net/sites.php</a>
</p></i>

<p><i>
</p></i>

<p><b><font color="#549CD4">KISS Session Topic: </font> GNU General Public License</b>
<p><a href="mfporter@mindspring.com">Matthew Porter</a> discussed the GNU General Public License, 
and how it uses copyright law to keep free software free.

<hr NOSHADE WIDTH="100%">

<b><font color="#549CD4">Meeting Date: </font> 13 February 2001</b><br>

<p><b><font color="#549CD4">Main Topic: </font>A Tour of Linux Distributions </b>
<br><a href="mailto:cool@lwn.org">Elizabeth Coolbaugh</a>:

<p><i>
Some people are unaware of just how numerous and diverse Linux distributions are. Others fear that the availability of multiple varieties of Linux will fracture the Linux market and keep vendors from choosing to support it. In this talk, we'll examine the breadth and diversity of Linux distributions, through well-known ones such as Red Hat, Slackware, Debian, etc., to over a hundred lesser known ones. We'll look at the reasons numerous distributions have come into being and how to choose between them. Then we'll finish up with a look at the advantages and disadvantages that the diversity of Linux distributions brings and what the Linux community is doing to control the disadvantages while enjoying the advantages.</p>
</i></p>

<p><i>About the speaker: Elizabeth O. Coolbaugh is the co-founder of LWN.net, also known as the "Linux Weekly News", an on-line magazine that has been reporting on the Linux Community since January, 1998. Ms. Coolbaugh has worked in computer systems administrations since 1981, with Unix since 1985 and with Linux since 1997.</i></p>

<p><b><font color="#549CD4">KISS Session Topic: </font> Intro to Regular Expressions</b>
<p><a href="jccann@home.com">Jeffery Cann</a> introduced Regular Expressions.

<hr NOSHADE WIDTH="100%">
<b><font color="#549CD4">Meeting Date: </font> 9 January 2001</b><br>

<p><b><font color="#549CD4">Main Topic: </font><a href="http://www.jabber.org">Jabber</a>: Getting the Message</b>
<br><a href="mailto:stpeter@jabber.org">Peter Saint-Andre</a>:

<p><i>What is Jabber? Some see it as an open-source replacement for IM services like ICQ and AIM. However, while Jabber fills that role and fills it pretty well, Jabber is about much more than Internet chat.  Fundamentally, it's an XML-based system and protocol for real-time communications. With the spread of Linux into the embedded space, Jabber has the potential to act as a router of structured information between any two devices or applications that can connect to the Internet.</i></p>

<p><i> In this session we explored where Jabber came from, where it is today, where it's going, and the impact it might have in the Linux and open-source communities.</i></p>

<p><b><font color="#549CD4">KISS Session Topic: </font> Linux man pages</b>
<p><a href="kevincu@orci.com">Kevin Culls</a> discussed Linux man(ual) pages.

<hr NOSHADE WIDTH="100%">

<b><font color="#549CD4">Meeting Date: </font> 12 December 2000</b><br>

<p><b><font color="#549CD4">Main Topic: </font> Open. For Business. (7:15 pm)</b>
<br>Brian Cabral and Todd Gibson:
<p><i>The GNU/Linux and Open Source revolution is proceeding at lightning speed. As businesses hear about and begin to learn about GNU/Linux and other Open Source tools, their first question is "Why Bother?" and their second question is "What's in it for us?".</i></p>

<p><i>This talk looked at how businesses make their IT decisions and why they should be choosing GNU/Linux and Open Source solutions.</i></p>

<p><i>Although the talk was not the typical CLUE "tech talk", it presented some valuable ideas about how to promote the use of GNU/Linux and Open Source solutions in your business and your customers' businesses.</i></p>


<p><b><font color="#549CD4">KISS Session Topic: </font> Small Linux Distros</b>
<br>Tom Poindexter answered these questions about Small Linux Distros:
<ul>
<li>Why might you ever want to do such a silly thing?
<li>Floppy to the rescue!
<li>Building a useful router/firewall machine out of a 'junker' 386.
<li>How does one squeeze Linux onto one floppy, including applications?
<li>Notable floppy based distributions.
</ul>

<hr NOSHADE WIDTH="100%">

<b><font color="#549CD4">Meeting Date: </font> 14 November 2000</b><br>

<p><b><font color="#549CD4">Main Topic: </font> Debian GNU/Linux</b>
<p>Bdale Garbee explained the Debian packaging system for system admins and aspiring Debian developers. He spoke about relevant Debian policies and philosophies, and touched on a variety of moderate to advanced Debian system administration topics. 

<p><b><font color="#549CD4">KISS Session Topic: </font> What's Cool about Debian? (6:30 pm)</b>
<p>Bdale Garbee presented a brief overview of what Debian is and why it's cool. He walked through a typical install process, and ended with a few common admin tasks and where to go for more info.
<hr NOSHADE WIDTH="100%">

<b><font color="#549CD4">Meeting Date:</font> 10 October 2000</b>
<br>
<b><font color="#549CD4">Main Topic: </font> Advanced Apache</b>

<p>Roy Johnston discussed advanced Apache web server topics.

<p><b><font color="#549CD4">KISS Session Topic: </font> RPM</b>
<br>Dave Hahn discussed how to set up PPP connections. PPP is the software protocol 
used to connect computers to the internet using a modem.

<hr NOSHADE WIDTH="100%">
<b><font color="#549CD4">Meeting Date:</font> 11 September 2000</b>
<br>
<b><font color="#549CD4">Main Topic: </font> CVS</b>

<p>Ken Weinert spoke on CVS:

<p>
<i>CVS (Concurrent Versions System) is an open source development tool that is a layer built on top of RCS (Revision Control System.)
<p>
I gave brief background on CVS, where to obtain it, installing it on your system, and reasons why you should use it (even if you are an individual developer.)
<p>
I discussed some of the common commands like logging in, importing existing software, creating new projects, and keeping the repository in sync. Mention will be made of some common situations with multiple developers and the best way to work together.
<p> 
I briefly covered platforms other than Linux, and some front ends to CVS to make it easier on the 
novice user.</i>

<p><b><font color="#549CD4">KISS Session Topic: </font> RPM</b>
<br>Rick Burtong will discuss file permissions -- <i>Using the chown & chmod commands
--Linux file ownership and modes. Reading, writing, and execution, groups and users.</i>

<hr NOSHADE WIDTH="100%">

<b><font color="#549CD4">Meeting Date:</font> 8 August 2000</b>
<br>
<b><font color="#549CD4">Main Topic: </font> Introduction to Apache Web Server</b>
<br>Roy Johnston talked about Apache.

<p><font color="#549CD4">KISS Session Topic: </font>RPM</b>
<br>Jim Intriglia discussed the Red Hat Package Manager

<hr NOSHADE WIDTH="100%">

<b><font color="#549CD4">Meeting Date:</font> 11 July 2000</b>
<br>
<b><font color="#549CD4">Main Topic: </font> Tool Command Language (tcl)</b>

<br>Tom Poindexter talked about Tcl: 
<ul>
<li>significant Tcl applications</li>
<li>Tcl history, present state and futures</li>
<li>language features</li>
<li>web applications with Tcl</li>
<li>how folks might want to use Tcl</li>
<li>Tcl resources: books, web, software</li>
</ul>

<b><font color="#549CD4">KISS Session Topic: </font>3-D Gaming - HongKongPhooey</b>
<p>Ed Meyer answered these questions about Linux Gaming: 

<ul>
<li>What does it take for PC Gaming?</li>
<li>What hardware should you upgrade?</li>
<li>What games can you play in Linux?</li>
<li>Where can you get Linux games?</li>
<li>Where can you get support?</li>
<li>Where can you play with other people?</li>
</ul>


<hr NOSHADE WIDTH="100%">
<b><font color="#549CD4">Meeting Date:</font> 9 May 2000</b>
<br>
<b><font color="#549CD4">Main Topic: </font> Setting Up and Using the SGI XFS Filesystem on Linux (7:15 pm)</b>

<p>Eric Eastman said:

<p><i>This talk will cover how to download, build, and use the Linux version of SGI's XFS filesystem and will go over the advantages of XFS as compared to the Linux EXT2 filesystem. The XFS filesystem is a World-Class high performance 64-bit filesystem that was originally developed for SGI's IRIX version of UNIX that has now been released as Open Source software under the GPL, and is currently in early beta for Linux. With the XFS, "fsck" checks are a thing of the past, as XFS uses journaling technology to enable sub-second filesystem recovery after a system crash. XFS is designed for heavy production use and scales to support filesystems and file sizes of millions of terabytes.</i>

<p>Eric Eastman has been a System Engineer with SGI since 1996, specializing in large disk and tape storage systems. Eric has a BS in Mathematics from Metropolitan State College of Denver and first started using LINUX 1995.

<p>
<b><font color="#549CD4">KISS Session Topic: </font>VMWare</b>
Matt Durrell discussed the VMWare emulator. It allows you to run many operating systems within Linux.

<hr NOSHADE WIDTH="100%">

<b><font color="#549CD4">Meeting Date:</font> 11 April 2000</b>
<br>

<b><font color="#549CD4">Main Topic: </font> XML (Extensible Markup Language)</b>

<p>Uche Ogbuji said:

<i>
<p>If you duck past all the hype about XML, you will find that it truly brings about the potential to revolutionize information exchange. This is not because of any intrinsic merit in angle brackets and the like, but for a more fundamental reason that Linux users are especially likely to appreciate: openness.

<p>XML is all about opening up the rules and formats involved in processing data. This is of particular interest to Linux users because proprietary data-formats have long closed off many important applications to Linux. XML and its related technologies are a powerful tool in making Linux as serious a data-processing environment as any other.

<p>In my talk I shall give a very brief overview of XML. Then I shall talk in rather more detail about some of the key technolgies surrounding XML, such as XSLT, RDF and XLink. Finally I shall cover a selection of Linux and OSS projects making use of XML, including Mozilla, GNOME and Cocoon.</i>

<p><a href="mailto:uche@dollar.fourthought.com">Uche Ogbuji</a> is co-founder of Fourthought, Inc. a software-development consultancy specializing in middleware applications using open technologies, including Linux, XML, Python and CORBA. Uche Ogbuji has given many presentations on Linux, Python, XML and database programming, and has written many articles on these topics, especially in LinuxWorld. He is currently working on a book, <u>The Linux Database Bible</u>.

<p>
<b><font color="#549CD4">KISS Session Topic: </font>Linux Initialization</b> Lynn Danielson discussed Linux initialization.


<hr NOSHADE WIDTH="100%">
<b><font color="#549CD4">Meeting Date:</font> 14 March 2000</b>
<br>
<b><font color="#549CD4">Main Topic: </font> An Evening with Perl</b>

<p>Tony Foiani covered the very basics of PERL, and provided home and work examples It was in some ways designed to "replace" tools like awk, sed, and shell scripting, so we covered the advantages (and disadvantages) in that light. Also, we discussed some of the most common and powerful extensions. Finally, we talked a bit about the culture that has grown up around around Perl.

<p><b><font color="#549CD4">KISS Session Topic: </font>What can I do with my Linux command line utilites?</b>
Jeffery Cann covered use of Linux filesystem, filesystem utilities and pipes combined to produce the application <a href="http://www.linux.it/~carlos/nosql/">NoSQL</a>. The presentation slides are available at <a href="http://members.home.net/jccann/NoSQL">http://members.home.net/jccann/NoSQL</a>.
</i>

<hr NOSHADE WIDTH="100%">
<b><font color="#549CD4">Meeting Date:</font> 8 February 2000</b>
<br>
<b><font color="#549CD4">Main Topic: </font>Security and Firewalling</b>
<p>
The main presentation was presented by Kevin Fenzi of Linux Security HOWTO fame and KRUD. He discussed Firewalling with Linux:
<p>
Firewalling with linux: An overview of what firewalls are and do, and then a discussion of ipfwadm (2.0.x kernels), ipchains (2.2.x) and the upcoming iptables (2.4.x). We also discussed firewall tools and scripts that make setting up a linux firewall a snap!

<p><b><font color="#549CD4">KISS Session Topic:</font></b>
Philip Rotherman discussed Linux system administration issues.

<hr NOSHADE WIDTH="100%">

<b><font color="#549CD4">Meeting Date:</font> 11 January 2000</b>
<br>
<b><font color="#549CD4">Main Topic:</font> TCP/IP - Part 3: Bezerkly Socket Programming </b>

<p>Eric Gustafson presented TCP/IP, Part 3 of 3. He approached TCP/IP from the application programmer's view. This session covered the basics of using the standard Berkeley Socket Interface, "sockets". Initial coverage was made using the C library API for TCP based connections.

<hr NOSHADE WIDTH="100%">
<b><font color="#549CD4">Meeting Date:</font> 14 December 1999</b>
<br>
<b><font color="#549CD4">Main Topic:</font> Linux Software Development </b>

<p>Jeff Cann described the unique opportunities of using Linux as a platform for software development. Hi covered software development methods and tools available for the Linux developer.

<p>Jeff is the CLUE web master and a Senior Developer for Standard and Poor's in Englewood, Colorado. He has been a profesional software developer for 5 years, working on UNIX and Linux.

<p>Refer to Jeff's <a href="http://members.home.net/jccann/LinuxDev">web site</a> for presentation slides.

<p>
<b><font color="#549CD4">KISS Session Topic:</font> </b> Jim Intriglia will present an Introduction to Java on Linux provides an overview of the popular object-oriented programming language and system platform, as well as strategies for getting started developing Java software applications.

<p>Refer to Jim's <a href="http://www.jimintriglia.com/Professional%20Svcs/javaonli.htm">web site</a>
for additional presentation information.

<hr NOSHADE WIDTH="100%">

<b><font color="#549CD4">Meeting Date:</font> 9 November 1999</b>
<br>
<b><font color="#549CD4">Main Topic: </font><font color="#330000">Installing Oracle 8.0.5 on Linux</font></b>
<p>Rick Helmich described how to install Oracle 8.0.5 on Linux systems. He presented a check list of requirements for hardware and software as well as a few shell and sql scripts that will make living with an Oracle DB easier. Rick is a CLUE member and Oracle DBA.

<p>
<b><font color="#549CD4">KISS Session Topic: </b></font>
Rick Burton talked about mount/umount, fstab, mkfs, mkbootdisk, repairing lilo, and the difference between the msdos floppy filenames and the ISO9660 CD filenames.

<hr NOSHADE WIDTH="100%">

<b><font color="#549CD4">Meeting Date:</font> 12 October 1999</b>
<br>
<b><font color="#549CD4">Main Topic: </font><font color="#330000">Linux Tape Drives</font></b>

<p>Kelly Beavers of <a href="http://www.ecrix.com">Ecrix</a> presented the new VXA tape drive. The VXA tape drive uses new tape reading and writing technology to improved speed, quality and reliability. The VXA tape drives have been used successfully in Linux systems.

<p>
<b><font color="#549CD4">KISS Session Topic: </b></font>Jeffery Cann discussed the MySQL database.

<hr NOSHADE WIDTH="100%">

<b><font color="#549CD4">Meeting Date:</font> 14 September 1999</b>
<br>
<b><font color="#549CD4">Main Topic: </font><font color="#330000">Linux Games</font></b>

<p>The motto on the Loki Entertainment web site is "Loki - the games that Linux people play". Scott Draeker of Loki Entertainment Software discussed Loki's recent entry in the Linux game market. 

<p>If you attended the August CLUE meeting, you saw the game "CIV: Call to Power" demonstrated on a Linux machine. Loki has announced that "Myth II The Slaughter", "Railroad Tycoon II" and "Eric's Ultimate Solitaire" are being ported to Linux.

<p>
<b><font color="#549CD4">KISS Session Topic: </b></font>Joe Brockmeier discussed the Top Ten Linux commands.

<hr NOSHADE WIDTH="100%">
<b><font color="#549CD4">Meeting Date:</font> 10 August 1999</b>
<br>
<b><font color="#549CD4">Main Topic: </font><font color="#330000">TCP/IP Networking, Part 2 -- UNIX Configuration</font></b> <p><font color="#000000">Part two will built upon the basics of TCP and IP discussed in Part one. The presentation started with a terse presentation of the materials not covered in part one: TCP, protocol layering, and TCP/UDP port numbers.</font>

<p><font color="#000000">The main emphasis of the presntation focused on how the unix "utilities", non-kernel parts of the system, utilize the TCP/IP stack to provide services such as ftp, http, mail, remote file services, etc. Substantial attention was given to 'inetd', the "Inet Super Server", with subsiquent time applied to other common services not covered under the inet umbrella. Basic configurations of 'inetd', as well as a loose discussion of other, non-'inetd' application configurations were also covered.</font>

<p>
<b><font color="#549CD4">KISS Session Topic: </b></font><font color="#000000">Lynn Danielson discussed Windows and Linux networking using <a href="http://www.samba.org">SAMBA</a> Configuration.</font></b>

<hr NOSHADE WIDTH="100%">
<b><font color="#549CD4">Meeting Date:</font> 13 July 1999</b>
<br>
<b><font color="#549CD4">Main Topic: </font>TCP/IP Protocol Fundamentals and Packet Switching.</b>
<p>Eric Gustafson discussed the basics needed to understand the TCP/IP protocol suite. The discussion started with the basics of packet switched networks, including a short description of Ethernet and other packet switched technologies. Building on packet switching the internet protocol (IP) was introduced and it's relation to packet switching and Local Area Networks (LANs). The discussion of IP included addressing, internetwork architecture, and routing with in that architecture.
<p>
<b><font color="#549CD4">KISS Session Topic: </b></font>Dave Hahn discussed Linux PPP Configuration

<hr NOSHADE WIDTH="100%">
<b><font color="#549CD4">Meeting Date:</font> 8 June 1999</b>

<br><b><font color="#549CD4">Main Topic: </font>Using Linux in a corporate environment.</b>
<p>John Carpenter of SKLD Information Services discussed the use of Linux (Red Hat distribution) in SKLD's computing environment.</p>

<p>John is the Information Systems manager for SKLD. He has worked with the UNIX operating system since 1983, and has over five years experience managing the largest real estate title database in Colorado. John also manages an information technology group that processed and stored over 3,700,000 document images during 1998. He is currently managing the conversion of ~22,000,000 document pages to digital images. Many of John's database and imaging projects have utilized Red Hat Linux based on its cost, reliability, and support via net news.</b>
</div>
</div>
