<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<b>When: </b><strike>Second Tuesday of each month</strike><br>
<table border=0>
<tr>
  <td><b>Time:</b></td>
  <td>6:30 - 7:00 PM: Social/Setup time</td>
</tr><tr>
  <td></td>
  <td>7:00 - 9:00 PM: Meeting</td>
</tr>
</table>
<br>
<b>Where: </b>Sorry, CLUE currently has no meeting space so we are not having
meetings. You can have a look at the <a
href="http://cluedenver.org/mailman/listinfo">mailing list</a> instead.

<!--
<p>
  This month's meeting will be at the McAfee
  <a href="<?php echo $mapurl; ?>">Inverness office</a>,
  10700 E Geddes Ave, Englewood, CO 80112.
</p>
<p>Parking and the elevators to the 3rd floor should be straightforward.</p>

<p>
  If you'll be late, let someone know.  We're still working on the security
  arrangements and we don't want someone to have to spend the meeting manning the
  doors.
</p>
-->

<p>Thank you to McAfee and Chris Hirsch for sponsoring our previous meeting location.</p>
<p>
<b>Meeting Presentations</b><br>
You can read about past and future presentations
<a href="display.php?node=dtc_2014">here</a>.
<p>
<b>Meeting Format</b><br>
6:30 - 7:00 Social/Setup time<br>
7:00 - 7:15 Introduction and Announcements<br>
7:15 - 8:15 Main presentation<br>
8:15 - 8:30 Q&amp;A<br>
8:30 - 9:00 Group socializing, clean up and break down
</div>
</div>
