<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">
<b><font color="#549CD4">Meeting Month: </font>December 2003</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<!-- main talk -->
<b>Special Screening of the movie <a href="http://www.revolution-os.com/">Revolution OS</a></b>

<!-- abstract -->
<p>
REVOLUTION OS tells the inside story of the hackers who rebelled against the proprietary software model and Microsoft to create GNU/Linux and the Open Source movement.
<p>
On June 1, 2001, Microsoft CEO Steve Ballmer said "Linux is a cancer that attaches itself in an intellectual property sense to everything it touches."
<p>
Microsoft fears GNU/Linux, and rightly so. GNU/Linux and the Open Source & Free Software movements arguably represent the greatest threat to Microsoft's way of life. Shot in cinemascope on 35mm film in Silicon Valley, REVOLUTION OS tracks down the key movers and shakers behind Linux, and finds out how and why Linux became such a potent threat.
<p>
REVOLUTION OS features interviews with Linus Torvalds, Richard Stallman, Bruce Perens, Eric Raymond, Brian Behlendorf, Michael Tiemann, Larry Augustin, Frank Hecker, and Rob Malda. To view the trailer or the first eight minutes go to the <a href="http://www.ifilm.com/ifilm/product/film_multimedia/0,4470,2419320,00.html">ifilm</a> website for REVOLUTION OS. 
<!-- speaker bio -->
<p>
Revolution O.S. is director J.T.S. Moore's first feature length documentary. Moore previously has worked as a screenwriter for Walt Disney Studios. He earned his B.A. in history from Stanford University and his M.A. in film production from the University of Southern California's School of Cinema/Television. Moore's previous film, the Civil War action-drama SHOOTING CREEK, premiered at the Telluride Film Festival and later was licensed by Starz-Encore. Moore was born and raised in Atlanta and currently resides in Los Angeles.
<p>
To purchase a copy of the movie, and other schwag, please visit the links at the <a href="http://www.revolution-os.com/store1.html">REVOLUTION OS Store</a>. It's also available at <a href="http://store.yahoo.com/softpro/info.html">Softpro Books</a>.

<HR ALIGN="center" NOSHADE>

<b><font color="#549CD4">Meeting Month: </font>November 2003</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<!-- main talk -->
<b>Installing Slashcode</b> with <a href="http://dissociatedpress.org/">Joe "Zonker" Brockmeier</a>
<p>
Zonker will discuss laying the groundwork for <a href="http://slashcode.com/">Slash</a>, and the installation and
customization of Slashcode on Debian GNU/Linux systems. Zonker runs his personal website (<a href="http://dissociatedpress.org">dissociatedpress.org</a>) on Slash 2.2.6.
<!-- speaker bio -->
<p>Zonker is the co-author of Linux Routing, published by New Riders, and writes regularly for Linux Magazine, UnixReview.com, ComputorEdge and other publications.
<p>
<p><font color="#549CD4"><b>KISS Session Topic: </b></font>
<!-- kiss session -->
<b>Managing Groups and File Permissions</b> with Rick Burton
<!-- Abstract -->
<!-- Speaker Bio -->
<HR ALIGN="center" NOSHADE>
<font color="#549CD4"><b>Meeting Month: </b></font><b>October 2003</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<!-- main talk -->
<b>The Future of GNU/Linux and Free Software with <a href="http://www.perens.com">Bruce Perens</a></b>
<!-- abstract -->
<p>Noted Open Source advocate and contributor Bruce Perens will talk about some of the issues confronting us (Linux Users) &#151; software patents, trusted systems, competitive and technical issues, SCO (if you haven't already heard too much), etc.
<!-- speaker bio -->
<p>Bruce Perens is a leader in the Free Software and Open Source community. He is creator of the <a href="http://perens.com/Articles/OSD.html">
    Open Source Definition</a>,
    the manefesto of
    the Open Source movement in Software. He's founder or co-founder of the
    <a href="http://www.opensource.org/">Open Source Initiative</a>,
    The <a href="http://www.linuxbase.org/">Linux Standard Base</a>,
    <a href="http://www.spi-inc.org">Software in the Public
    Interest</a>, and <a href="http://www.nocode.org/">
    No-Code International</a>. Perens released his first Free Software
    program, <i>Electric Fence,</i> in 1987. He is creator of
    <a href="http://www.busybox.net/">Busybox</a>, which has
    spawned its own development community and is part of most commercial
    devices using embedded Linux.
    <p>Perens is series editor of the <a href="http://www.phptr.com/perens/"><i>Bruce Perens' Open Source Series</i></a>
    line of books with Prentice Hall PTR publishers. The books 
    sell well in retail stores, even though their texts are released under an
    Open Source license.
    Perens is Senior Research
    Scientist for Open Source with George Washington University's <a href="http://www.cpi.seas.gwu.edu/">Cyber Security
    Policy Research Institute</a>. Through his own research organization, Perens
    has a $50,000/year grant to work 1/4
    time on the patent policy issues of standards organizations. He is an
    elected director of Software in the Public Interest, Inc.<p>
    Perens previously spent two years with HP as Senior Global Strategist for
    Linux and Open Source, and was president of Linux Capital Group, a venture
    fund that specialized in Linux.
    <p>Perens spent 20 years in the computer graphic animation industry,
    12 of them at <a href="http://pixar.com/">Pixar Animation Studios</a>.
    He has a credit on the films
    <i>A Bug's Life</i> and <i>Toy Story II.</i>
<HR ALIGN="center" NOSHADE>
<p><font color="#549CD4"><b>Meeting Month: </b></font><b>September 2003</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<!-- main talk -->
<b>"Stupid GIMP Tricks" with <a href="http://rockchucker.com">Jed Baer</a></b>
<!-- abstract -->
<p>
Jed will demonstrate various strange and/or interesting things you can do with
<a href="http://gimp.org">The GIMP</a>. The Gimp is <i>The Gnu Image Manipulation
Program</i> &#151; a raster image manipulation program, styled after Photoshop&trade;.
<!-- speaker bio -->
<p>In addition to being the CLUE webmaster, Jed is a veteran Linux user.
<!-- kiss talk -->
<p><font color="#549CD4"><B>KISS Session Topic: </B></font>
<b>Introduction to The GIMP with Jeff Cann</b>
<!-- abstract -->
<p>Jeff will present the basics of working with <a href="http://gimp.org">The GIMP</a> &#151 The GNU Image Manipulation Tool.

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>August 2003</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<!-- main talk -->
<b>Starting an Open Source Project with Art Reisman</b>
<!-- abstract -->
<p>
Art will discuss his experiences with starting an open source project --
<a href="http://www.bandwidtharbitrator.com/">Bandwidth Arbitrator</a>: how this project evolved, why he chose Linux
and the GPL, risks involved and opportunities for revenue.
<!-- speaker bio -->
<p>
Art has been doing Unix things since 1991, from custom Kernel Mods
and drivers for ATT Bell Labs communication equipment, to his present
obsession with using Linux systems as a bandwidth control solution.
Art has a computer Science Degree from the University California at
Riverside and did graduate computer science work at the Florida Institute
of Technology.
<!-- kiss talk -->
<p><font color="#549CD4"><B>KISS Session Topic: </B></font>
<b>Matt Porter discusses the SCO claims of copyright infringement.</b>
<!-- abstract -->
<p>Unlike the rest of us, Matt does not have to start an email with IANAL,
because he is a lawyer. Matt has previously discussed the GPL at CLUE.
<!-- speaker bio -->
<p>Matthew Porter is an attorney based in Golden, Colorado, specializing in
litigation and technology-related matters. He has a background in computer
science, and received his J.D. degree from New York University. He has used
Linux enthusiastically since 1998. 
<p>
<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>July 2003</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<!-- main talk -->
<b>fwbuilder with <a href="mailto:">Dave Hahn</a> and <a href="mailto:">Roy Johnston</a></b></p> 
<!-- abstract -->
<p>
System security is as important as system stability for internet connected
machines.  However, the world of routing and iptables can be confusing even
for an experienced system administrator.  fwbuilder is the answer.
fwbuilder is a GTK application that allows the user to create rule sets for
Linux machines, BSD machines and Cisco PIX firewalls, all from the same,
easy to use application.  The Roy & Dave show will demonstrate what you need
to know to get going with fwbuilder to secure anything from your personal
machine to a corporate LAN.  The talk will include not only fwbuilder
specific information but, general firewalling and security principles as
well.
<!-- speaker bio -->
<p>Dave and Roy are the technical gurus of <a href="http://techangle.com">TechAngle</a>, offering products and services to the Linux community, and <a href="sponsors.html">Premier Sponsors</a> of CLUE. Their past presentations have been as entertaining as they have been informative.
<!-- kiss talk -->
<p><font color="#549CD4"><B>KISS Session Topic: </B></font>
<b>MyDNS with Dave and Roy from TechAngle</b>
<!-- abstract -->

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>June 2003</b>
<!-- main talk -->
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<b>Linux Routing with <a href="mailto:jzb@dissociatedpress.net">Joe "Zonker" Brockmeier</a></b></p>
<!-- abstract -->
<p>Zonker will discuss the basics of Linux routing, setting up a home router/gateway, and give some tips for those just getting started.
<!-- speaker bio -->
<p>Zonker is the co-author of Linux Routing, published by New Riders, and writes regularly for Linux Magazine, UnixReview.com, ComputorEdge and other publications.
<!-- kiss talk -->
<p><font color="#549CD4"><B>KISS Session Topic: </B></font>
<b>Database comparison with Scott Marlow</b>
<!-- abstract -->
<p>Scott talks about the differences among PostgreSQL, MySQL, and Interbase, and cases where one may be preferred over the others.
<p>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>May 2003</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<!-- main talk -->
<b>DNS with <a href="mailto:">Cricket Liu</a></b></p>
<!-- abstract -->
<p>Cricket will speak on some combination of threats to DNS, securing BIND, and
upgrading to BIND 9.</p>
<!-- speaker bio -->
<p>Cricket Liu is the co-author of all of O'Reilly & Associates Nutshell
Handbooks on the Domain Name System, <i>DNS and BIND</i>, <i>DNS on Windows
NT</i>, and <i>DNS on Windows 2000</i>, and was the principal author of
<i>Managing Internet Information Services</i>.  He has extensive experience
consulting, managing, and training on the Domain Name System.  He recently
finished the fourth edition of <i>DNS and BIND</i>, to cover BIND versions 8.2.3
and 9.1.0.</p>
<a href="presentations/threats_to_dns.pdf">Presentation Slides</a> [409K PDF].

<!-- kiss talk -->
<p><font color="#549CD4"><B>KISS Session Topic: </B></font>
<b>Ronald Kuetemeier talks about Ximian Evolution</b>
<p>
<a href="presentations/evolution_talk.pdf">Presentation Slides</a> [177K PDF].

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>April 2003</b>
<p><i>Please join us at CLUE's new DTC location -- the Radisson Hotel
Denver Southeast at I-225 & Parker Rd.</i>

<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<!-- main talk -->
<b>OpenOffice.org with <a href="mailto:">Solveig Haugland</a></b></p>
<!-- abstract -->
<p>OpenOffice.org is a multi-platform, international office productivity suite.
It includes the key desktop applications, such as a word processor,
spreadsheet, presentation manager, and drawing program, with a user interface
and feature set similar to other office suites and works transparently with a
variety of file formats, including those of Microsoft Office.</p>

<p>Solveig will discuss some of the differences between OpenOffice and Star
Office and demonstrate a few tips and tricks for using this sophisticated and
flexible open source product.</p>

<!-- speaker bio -->
<p>Solveig Haugland is coauthor of the Sun Star Office Companion books and the
soon to be published OpenOffice.org Resource Kit.

<!-- kiss talk -->
<p><font color="#549CD4"><B>KISS Session Topic: </B></font>
<b>Z shell (zsh) </a>with <a href="mailto:">Kevin Fenzi</a></b></p>
<!-- abstract -->
<!-- <p> -->

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>March 2003</b>
<!-- Intel talk -->
<p><b>Intel's <a href="mailto:">Jeremy Lu</a></b></p>
<p>This session, designed for the Linux community, will present an overview of
Intel's server processor technology, roadmap, end-user benefits, and platform
solution for 2003.  The discussion includes the Intel&reg; Xeon&trade; processor
family and the Intel&reg; Itanium&reg; processor family.  This presentation will
provide a snapshot of current open source (Linux&trade;) technologies development on
Intel platforms, and capabilities.

<!-- IBM talk -->
<p><b>IBM's <a href="mailto:">David Schroeder</a></b></p>
<p>This presentation will introduce you to the IBM xSeries server product
family.  xSeries is IBM's Intel server product and is part of the eServer brand
from IBM.  The discussions will include IBM's award winning technology
blueprint, also known as X-Architecture, an introduction to the servers that
make up the product portfolio, a look at systems management including IBM
Director 4.1 and IBM's commitment to Linux.

<!-- Q&A session -->
<p><b>Q &amp A session</b></p>
<p><a href="mailto:">Mark Murphy</a> from the IBM Linux Team will be joining
Jeremy and Dave for a period of questions and answers.</p>

<HR ALIGN="center" NOSHADE>

<p><font color="#549CD4"><b>Meeting Month: </b></font><b>February 2003</b>
<!-- main talk -->
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<b>Jefferson County Linux Desktop Rollout with <a href="mailto:olamar@jeffco.us">Otis Lamar</a></b></p>
<!-- abstract -->
<p>Learn more about <a href="http://www.eweek.com/print_article/0,3668,a=32323,00.asp">Jeffco's decision to make Linux a choice on the desktop</a> and what effect their Novell environment has had on that project.
<!-- speaker bio -->
<p>

<!-- kiss talk -->
<p><font color="#549CD4"><B>KISS Session Topic: </font>
Linux in Western Australia - a consulting firm's experience
with <a href="mailto:arrona@myway.com">Arron Arntzen</a></b></p> 
<!-- abstract -->
<p>Why clients started to ask for Linux, how it snowballed to installing servers at nearly 2,000 client sites, and how Windows XP forced a client into Mandrake Linux 8.1 Desktops.
<!-- speaker bio -->

<HR ALIGN="center" NOSHADE>

<p><b><font color="#549CD4">Meeting Month:&nbsp;</font>January 2003</b><br>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<b>The State of the PostgreSQL Union with <a href="mailto:scott.marlowe@ihs.com">Scott Marlowe</a></b> 
<!-- abstract -->
<p>Get the news on PostgreSQL.  Where it came from, where it is now (v7.3) and where it is going.  If you haven't joined the PostgreSQL revolution yet, it is time to realize the error of your ways.
<!-- speaker bio -->
<p>

<p><font color="#549CD4"><B>KISS Session Topic: </B></font>
<b>Configuring Kmail</a> with <a href="mailto:president@<?php echo _BASE_DOMAIN; ?>">Jeff Cann</a></b></p> 
<!-- abstract -->
<p>Learn how to configure and use advanced features of KMail, the KDE mail client, to manange your email account(s).

<hr align="center">

<h3>Prior Years' Presentations</h3>

<a href="display.php?node=dtc_old">Presentations from prior years</a>
</div>
</div>
