<div class="block">
<h3>CLUE Installfests</h3>
<div class="content">
<p>CLUE holds installfests regularly in Westminster and the Denver Tech Center.  The goal is every other month, alternating between north and south locations.  Dates are requested right after the previous installfest and posted here when they are confirmed.
</p>
<p>Announcements are sent to the <a href="<?php echo MAILMAN; ?>/clue">CLUE mailing list</a> when the details are known.  Please subscribe there if you want reminders.
</p>
<p>
The next CLUE Installfest is planned for:
<!--
<?php include _BASE_PATH.'/pages/'.INSTALLFEST.".html" ?>
-->

<table>
<tr>
    <td><b>Date:</b></td> <td>March 3, 2012</td>
</tr>
<tr>
    <td><b>Time:</b></td> <td>10AM to 3PM</td>
</tr>
<tr>
    <td><b>Location:</b></td> <td><a href="http://www.denhac.org">Denhac</a></td>
</tr>
<tr>
    <td><b>Address:</b></td> <td>975 E 58th Ave, Unit N<br> Denver</td>
</tr>
</table>
<br>

<p>
<b>Logistics:</b>
<ul>
<li>Monitors, keyboards, mice, network cables, power cords, and wired network will be available (they come with the room).

<ul>
    <li>We have our own wireless (802.11b/g only).  DeVry's wireless requires Bluesocket.
    <li>We have 2 adapters to connect PS-2 mouse/keyboard to USB.
    <li>We have 700MB CD-Rs, 16x DVD-Rs, and envelopes, to burn whatever distro you need.
    <li>We have 2 adapters to connect DVI video to a VGA monitor.
</ul>

<li>Distros to be provided for others to copy include recent versions of SuSE, Fedora, Knoppix, *buntu, and Debian. Others can be provided upon request (please contact <?php print EVENTS ?> ... if I can find it, I will attempt to bring it). 

<li>I usually have a switch and some patch cables.  If you think you need something else tell <?php print EVENTS ?>.

</ul>
<p>
No food or drink (other than in capped bottles) is permitted in the lab. There is a student commons just down the corridor, so if you want to bring a lunch, or order out, you can eat there.  We may order pizza, or burritos, or ... if there's enough interest.
<p>
If you want help with a specific issue please post it to the <a href="<?php echo MAILMAN; ?>/clue">CLUE mailing list</a> so we know whether anyone can help you.  We might also be able to suggest preparation you can do or things to bring to make it easier to get you taken care of.
<p>
If you're an experienced hand at Linux, this is a great opportunity to help others get their Linux boxen up and running.  If you are new to Linux this is a great opportunity to leave with a working box you can experiment with at home.  If you're in between, surely you need a few hours alone with your computer to get a project done, right?
<p>
For more information, contact <?php print EVENTS ?>.
<hr width="80%" noshade>
An 'Installfest' is a social gathering where folks interested in Linux share knowledge about Linux installation and configuration. Often, those new to or interested in Linux will bring their computers for installation assistance. Others have already installed Linux and wish to try out new configurations or software. Typically, the CLUE installfests last for most of a weekend day.
</div>
</div>
