<div class="block">
<h3><?php print $pagetitle; ?></h3>
<div class="content">
<a href="http://www.gimp.org"><img src="objects/wilber_the_gimp2.png" border="0" align="left"></a>
Logos were generated using the GNU Image Manipulation
Program (<a href="http://www.gimp.org">GIMP</a>).
The GIMP image files (xcf format) are available for download. Shown
below are the corresponding images converted to png from GIMP xcf files. Please copy the images and post them liberally around your web sites!
<br clear="all"><br>
<p>Here are the specifications of colors and fonts:
<ul>
<li>The `CLUE' word in all logos is the <b>Roostheavy</b> font.</li>
<li><span class="logocolor"><b>BLUE</b></span> - Red 120, Green 138, Blue 174 (256 scale) or hex #788aae.</li>
</ul>
If you would like to build and contribute CLUE logos, please send the
submissions and images to the <?php print WEBMASTER ?>. To preserve layers
and formatting, we prefer GIMP xcf files, rather than flattened png, jpg or gif.
</p>
<hr NOSHADE WIDTH="100%">
<p><img src="objects/CLUE_logo_text.png" border="1"></p>
<p><a href="objects/CLUE_logo_text.xcf.gz">CLUE text image as a GIMP XCF file</a></p>
<hr NOSHADE WIDTH="100%">
<h3>Older CLUE Banner</h3>
The banner is 458 x 68 pixels.
The `Colorado Linux Users...' words in this logo is the <b>Geometr706 md bt</b> font.</li>

<p>
<img src="objects/cluebanner.png" border="1">
</p>

Click <a href="objects/cluebanner.xcf.gz">here</a> to download the GIMP xcf file.

<hr NOSHADE WIDTH="100%">
<h3>CLUE Box</h3>
The box is 184 x 150 pixels.

<p>
<img src="objects/cluebox.png" border="0">
</p>
Click <a href="objects/cluebox.xcf.gz">here</a> to download the GIMP xcf file.


<hr NOSHADE WIDTH="100%">
<h3>CLUE Button</h3>
The button is 184 x 72 pixels.

<p>
<img src="objects/cluebutton.png" border="0">
</p>

Click <a href="objects/cluebutton.xcf.gz">here</a> to download the GIMP xcf file.

</div>
</div>
