<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">
<font color="#549CD4">Meeting: </font><b>December 2003</b>
<br>
<b>Special Screening of the movie <a href="http://www.revolution-os.com/">Revolution OS</a></b>

<!-- abstract -->
<p>
REVOLUTION OS tells the inside story of the hackers who rebelled against the proprietary software model and Microsoft to create GNU/Linux and the Open Source movement.
<p>
On June 1, 2001, Microsoft CEO Steve Ballmer said "Linux is a cancer that attaches itself in an intellectual property sense to everything it touches."
<p>
Microsoft fears GNU/Linux, and rightly so. GNU/Linux and the Open Source & Free Software movements arguably represent the greatest threat to Microsoft's way of life. Shot in cinemascope on 35mm film in Silicon Valley, REVOLUTION OS tracks down the key movers and shakers behind Linux, and finds out how and why Linux became such a potent threat.
<p>
REVOLUTION OS features interviews with Linus Torvalds, Richard Stallman, Bruce Perens, Eric Raymond, Brian Behlendorf, Michael Tiemann, Larry Augustin, Frank Hecker, and Rob Malda. To view the trailer or the first eight minutes go to the <a href="http://www.ifilm.com/ifilm/product/film_multimedia/0,4470,2419320,00.html">ifilm</a> website for REVOLUTION OS. 
<!-- speaker bio -->
<p>
Revolution O.S. is director J.T.S. Moore's first feature length documentary. Moore previously has worked as a screenwriter for Walt Disney Studios. He earned his B.A. in history from Stanford University and his M.A. in film production from the University of Southern California's School of Cinema/Television. Moore's previous film, the Civil War action-drama SHOOTING CREEK, premiered at the Telluride Film Festival and later was licensed by Starz-Encore. Moore was born and raised in Atlanta and currently resides in Los Angeles.
<p>
To purchase a copy of the movie, and other schwag, please visit the links at the <a href="http://www.revolution-os.com/store1.html">REVOLUTION OS Store</a>. It's also available at <a href="http://store.yahoo.com/softpro/info.html">Softpro Books</a>.
<p>

<HR ALIGN="center" NOSHADE>
<br>

<font color="#549CD4">Meeting: </font><b>November 2003</b>
<br><b>Linux Hacking Society Meeting, Open Forum</b>
<p>
This will be a "hacking society" style meeting in the sense noted on the
<a href="http://www.hackingsociety.org">Hacking Society</a> website.  Available for public usage will be a
WAP and 16 port switch.  Please bring your own power strip and (long)
network cables as needed.
<p>

<HR ALIGN="center" NOSHADE>
<br>

<font color="#549CD4">Meeting: </font><b>October 2003</b>
<br>
<b>Ronald Kuetemeier talks about Ximian Evolution</b>
<!-- abstract -->
<p>Ronald will talk about, and demonstrate, using Evolution to publish and
schedule meetings in a small business environment, using Outlook and an
Evolution extension to send calendar notifications via Mail or SMS (future
feature). The talk will include some limited technical overview. Ronald will
also explain why he uses Evolution.
<!-- speaker bio -->
<p>Ronald has been using Unix since AT&Tv5r2, and Linux since 92/93. He has written
extensions to Samba, which are included in the main distribution and has worked
on and off on kernel issues, mostly with Alan Cox. He has published a few
documents about OSS and have contributed some distributed systems to OSS. He
believes the next "big thing" is code generation on massive parallel systems
which for the first time in Computer history is economically feasible, thanks
to Linux.
<p>

<HR ALIGN="center" NOSHADE>
<br>

<b><font color="#549CD4">Meeting: </font>September 2003</b>
<br>
<b><a href="http://www-math.cudenver.edu/ccm/beowulf/">The Beowulf Cluster at the University of Colorado at Denver</a></b>
with Jan Mandel and Russ Boice
<!-- abstract -->
<p>
This talk will give an overview of the cluster, namely
<ul>
<li>the hardware and software configuration
<li>what the choices were and why we ordered what we did
<li>what burned and why we did not make Top 500
<li>what eventually worked and how long it took
<li>what software projects we have
<li>what we would do the next time
</ul>
</p>
<!-- speaker bio -->
<p>
Jan Mandel got his PhD in Numerical Mathematics in 1983 from the Charles
University, Prague, Czechoslovakia, and has been a Professor of Mathematics at
the University of Colorado at Denver since 1986. He has been the Director of
the Center for Computational Mathematics since 2001.
<p>
Russ Boice Earned BSEET and MSSE degrees while working as an Electronics
Specialist at Colorado State University - Pueblo. He enjoys figuring out how
all kinds of things work and has been fortunate enough to be employed where he
has had a chance to pursue this. He has followed the advancements in Computer
technology from its inception.
<p>
Slides from the presentation are available
<a href="http://www-math.cudenver.edu/~jmandel/slides/">here</a>.
<p>
<hr align="center" noshade>
<br>

<b><font color="#549CD4">Meeting: </font>August 2003</b>
<br>
<b>Securing and Hardening Your Linux Box with Crawford Rainwater</b>
<!-- abstract --> <p>
Securing and hardening that newly installed Linux box from by hand to using <a
href="http://www.bastille-linux.org/">Bastille</a> and/or <a
href="http://www.nsa.gov/selinux/index.html/">SE Linux</a> add ons.
<p>
This will be an interactive presentation, so feel free to bring a laptop as
well to try things out.
<p>
WiFi access will be available, and potentially a multi-port hub/switch and
some power strips.
<p>
Crawford Rainwater is the CEO of the <a href="http://www.itec-co.com/">ITEC
Company</a> and holds the Linux+, LCP, LPIC-1, and RHCT Linux certifications.
He has been consulting in the information technology field for the past eight
years, with Linux being his main focus for the past four. He holds a Masters of
Science in Electrical Engineering from the University of Colorado, and a
Bachelors of Engineering in Electrical Engineering, Computer Science, and
Mathematics from Vanderbilt University.
<p>

<hr align="center" noshade>
<br>

<b><font color="#549CD4">Meeting: </font>July 2003</b>
<br><b>WiFi Hands-On</b>
</p>
<!-- abstract -->
<p>
There is no planned major presentation.  There will be some 
mini-presentations regarding wireless
technology.   There will be a wireless router and some wireless clients 
to play around with.
Bring your laptops, etc. that you want to try wireless on. Bring your 
war stories. We will have fun hacking.
<p>
We will have on hand:
<ul>
<li>Lucent Tech Silver PCMCIA card &#151; 802.11b
<li>SMC 7004VWBR wireless router &#151; 802.11b
<li>Buffalo Tech WLI-USB-L11G USB wireless client &#151 802.11b
<li>Apple Airport Extreme &#151; 802.11g
</ul>
</p>

<HR ALIGN="center" NOSHADE>
<br>

<b><font color="#549CD4">Meeting: </font>June 2003</b>
<br>
<b>Jefferson County Linux Desktop Rollout with <a href="mailto:olamar@jeffco.us">Otis Lamar</a></b></p>
<!-- main talk -->
<!-- abstract -->
<p>Learn more about <a
href="http://www.eweek.com/print_article/0,3668,a=32323,00.asp">Jeffco's
decision to make Linux a choice on the desktop</a> and what effect their Novell
environment has had on that project.   Also see some of this work with a real
time tour/demonstration at the Jefferson County Government Building.</p>
<p>

<HR ALIGN="center" NOSHADE>
<br>

<b><font color="#549CD4">Meeting: </font>15 May 2003</b>
<br><b> The <i>Bandwidth Arbitrator</i> with Art Reisman</b></p>
<!-- main talk -->
<p>Art Reisman, a software architect with Avaya, will give a primer on the
<i>Bandwidth Arbitrator</i>.  The <i>Bandwidth Arbitrator</i> is a bandwidth
shaping tool developed on Linux.</p> 
<p>Art will cover<br>
<ul>
<li>The birth of the <i>Bandwidth Arbitrator</i>;</li> <li>Why Linux was the
platform of choice;</li>
<li>What happens to your bandwidth when people share a trunk;</li> 
<li>What the <i>Bandwidth Arbitrator</i> does, why it is different/similar to
other bandwidth limiting/shaping tools;</li>
<li>Examples of turn key scaling;</li>
<li>How the state of Washington is using it;</li> 
<li>How he uses it at home with DSL; and </li>
<li>How it is used with dial-up connections.</li>
</ul>
<!-- <b> <a href="mailto:"> </a></b></p> -->
<!-- abstract -->
<!-- <p> -->
<!-- speaker bio -->
<p>
Art Reisman is the Lead Architect for the Avaya Interactive Response product
line, a Solaris based product that automates customer service.  He was the Unix
point person/developer/troubleshooter with Bell Labs for several product lines
during the early to mid 1990's.</p>
<p>Art holds patents for automotive diagnostic tools, encryption, and web security.
He has served as Technology Director for <a href="http://www.eworldtrack.com">eworldtrack</a>, 
a company that specializes in
safety tracking devices for children....all the while running a neighborhood
wi-fi network.</p> 
<p>

<HR ALIGN="center" NOSHADE>
<br>

<b><font color="#549CD4">Meeting:&nbsp;</font>17 April 2003</b>
<!-- main talk -->
<br><font color="#549CD4"><b>MAIN Session Topic: </b></font>
&nbsp;<b> An OpenOffice Primer with Solveig Haugland</b>
<!-- abstract -->
<p>Solveig Haugland, Author of the "StarOffice Companion" and "OpenOffice.org
Resource Kit," will give a presentation on OpenOffice.org. She will cover the
differences between StarOffice and OpenOffice.org, a brief overview of the
applications within OpenOffice.org, interaction with other document formats, as
well as a demo and some power user tips and tricks.</p>
<!-- speaker bio -->
<p>Solveig Haugland has 12 years of experience as a technical writer and course
 developer for companies such as Great Plains Software, Sun, and BEA. She is
 now an independent technical author and instructor and maintains the site
 <a href="http://www.getopenoffice.org/">http://www.getopenoffice.org</a>. Her
 office suite books include the "StarOffice Companion" for versions 5.2 and 6.0
 and the "OpenOffice.org Resource Kit." She is currently writing an overview of
 J2EE technologies and architecture, packed with pithy insights and Buffy
 quotes, coming in June from Manning. She believes in Peace, Love, and Linux,
 though she does not actually know much about Linux at all.</p>
<!-- kiss talk -->
<!-- <b> </a> with <a href="mailto:"></a></b></p> -->
<!-- abstract -->
<p>

<HR ALIGN="center" NOSHADE>
<br>

<b><font color="#549CD4">Meeting:&nbsp;</font>27 February 2003</b>
<br><font color="#549CD4"><b>MAIN Session Topic:</b></font>
<b>&nbsp Practical TCP/IP with <a href=mailto:anselmi@americanisp.net>Dave Anselmi</a></b>
</p>
<!-- abstract -->
<p>
Using Linux means using TCP/IP networking. This talk will help you
understand how TCP/IP works so you can configure and troubleshoot your
Linux system more easily.
</p>
<!-- speaker bio -->
<p>
Dave Anselmi is the CLUE webmaster. He is a self-taught programmer,
system and network administrator, and Linux enthusiast. He has been
dabbling in Linux since 1995 and is finally starting to understand a
little of it.
</p>

<HR ALIGN="center" NOSHADE>
<br>

<b><font color="#549CD4">Meeting:&nbsp;</font>23 January 2003</b>
<br><font color="#549CD4"><b>MAIN Session Topic:</b></font>
<b>&nbsp Hacking Society: &nbsp; <i>An Introduction &amp; Show and Tell</i></b>
</p>
<!-- abstract -->
<p>
This Thursday instead of having a set speaker for our meeting, CLUE-
North will be hosting a Linux "Hacking Society" meeting.  People are
welcome to bring in projects he/she might be working on and encouraged
to demonstrate or "show off" these projects to others.  This is another
first for CLUE-North, and we hope that it will be a nice success.
Sean Reifschneider (Northern Colorado Hacking Society) and Ed Hill
(Golden Hacking Society) plan on attending to help introduce everyone
to this setting.  Also, Hacking Society tees will be on sale via Sean
Reifschneider.
</p>
<p>
The goal of the Hacking Society is to foster geek community-building
through the shared experience of hacking. Of course, by "hacking",
I mean the more historic meaning of working on interesting projects
(Jargon File "hack" entry, sense 6). Not the "script kiddies trying to
compromise boxes" meaning which has become what most people think of in
relation to the term.
</p>
<p>
It's meant to be a sacred place full of positive hacking energy, if you
will.  Hacking by osmosis...
</p>
<p>
Hacking Society is primarily meant for you to come and work on your own
projects, as opposed to soliciting others to solve your problems (which is
usually more what goes on at an Install Fest or at the main NCLUG
meetings).
</p>
<p>
More information on Hacking Society, including some ideas for projects to
work on there, can be found at: &nbsp; &nbsp; <a href="http://www.hackingsociety.org">http://www.hackingsociety.org/</a>
</p>
<p>
Available will be at least one switch/router for ethernet connections,
as well as potentially a WiFi access point to Regis's DHCP network.  Details
will be provided at the day of the event.
</p>
<!-- speaker bio -->
<p>
Sean Reifschneider is a Member of Techhnical Staff for tummy.com, ltd.,
where he develops and supports Linux-based solutions for clients.  Sean
has been using Unix since the mid 80's and Linux since 1994, both
professionally and personally.
</p>
<p>
Ed is a post-doctoral researcher with the Environmental Science and 
Engineering Division at the Colorado School of Mines in Golden, CO. His 
interests include:<br>
<ul>
<li>theoretical and experimental aspects of subsurface flow and transport,</li>
<li>X-ray and gamma-ray attenuation techniques for experimental measurement of porous media fluid mechanics,</li>
<li>subsurface NAPL remediation,</li>
<li>computational methods for simulation and analysis of the above-mentioned processes, and</li>
<li>all manner of Linux, Unix, Free Software, and Open-Source computing.</li>
</ul>
</p>
</tr>
</table>
</div>
</div>
