<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<b>When:</b> Fourth Monday of each month
<br><b>Time:</b> 7:00 - 8:30 pm
<br><b>Where:</b> <a href="http://devry.edu/westminster/">DeVry University</a>, Room 300
<br>1870 West 122 Avenue
<br>Westminster, CO 80234

<h4>Meeting Format</h4>
7:00 - 8:00 Main presentation
<br>8:00 - 8:15 Q&amp;A
<br>8:15 - 8:30 Group socializing
<p>
Typically, internet access is available via wireless and/or cable. The WiFi network is named "linksys" on channel 6, no WEP, 802.11b. Cable ports, when available, will usually have an assigned IP address, labeled at the jack.
<p>
The DeVry Campus is located just north and west of 120th Avenue and Pecos St.
<a href="http://www.mapquest.com/maps/map.adp?country=US&countryid=250&addtohistory=&address=1870+West+122nd+Avenue&city=Westminster&state=CO&zipcode=80234&submit=Get+Map">Here's a map.</a>

</div>
</div>
