<table>
<tr>
	<td><b>Date:</b></td>
	<td><?php echo IFESTDATE; ?></td>
</tr>
<tr>
	<td><b>Time:</b></td>
	<td>8:30am - 1:30pm (we may go to lunch after)</td>
</tr>
<tr>
<td><b>Location:</b></td>
	<td><a href="http://maps.yahoo.com/pmaps?addr=1870+W+122nd+Ave&csz=Denver%2C+CO+80234-2010&state=CO&uzip=80234&ds=n&name=&desc=&lat=39.920619&lon=-105.009297&mlt=39.920619&mln=-105.009297&zoomin=yes&BFKey=&resize=l&mag=2&trf=0">DeVry University</a></td>
</tr>
<tr>
	<td><b>Address:</b></td>
	<td>
		1870 West 122 Avenue<br>
		Westminster, CO 80234<br>
	</td>
</tr>
<tr>
	<td><b>Directions:</b></td>
	<td>Look at the map, getting there is pretty easy.
		<p>The building entrance is in the center.  We'll be in room 120, which is off the central hallway.
		<p>There should be signs up, or follow someone lugging a computer.
	</td>
</tr>
</table>
