<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>24 March 2008</h4>
<b>Topic:</b> Embedded Linux with Zach Giezen
<p>I will be going over OpenWRT<br>
I will show you how to hack into a LaFonera and replace it's os with Linux<br>
I will have other embedded devices we can load Linux onto and play with.</p>

<p>I will go over advanced wireless networking with OpenWRT and how to customize your images.</p>
</div>

<div class="presentation">
<h4>28 April 2008</h4>
<b>Topic:</b> Nagios
</div>

<div class="presentation">
<h4>26 May 2008</h4>
<b>Topic:</b> 
</div>

<div class="presentation">
<h4>23 June 2008</h4>
<b>Topic:</b> 
</div>

<div class="presentation">
<h4>28 July 2008</h4>
<b>Topic:</b> 
</div>

<div class="presentation">
<h4>25 August 2008</h4>
<b>Topic:</b> 
</div>

<div class="presentation">
<h4>22 September 2008</h4>
<b>Topic:</b> 
</div>

<div class="presentation">
<h4>27 October 2008</h4>
<b>Topic:</b> 
</div>

<div class="presentation">
<h4>24 November 2008</h4>
<b>Topic:</b> 
</div>

</div>
</div>
