<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">
<div class="presentation">
<h4>15 January 2004</h4>
<b>Meeting Topic: Kernel Compilation 101 with Crawford Rainwater</b>
<p>
Linux itself revolves around a central keystone called the kernel. This
is the core that allows various software applications to communicate
between one another and with the existing hardware of the system. 
Compiling a kernel becomes a key aspect of learning, customizing, and
eventually optimizing Linux distributions. This presentation will go
into the basics of why, followed by a "how to" compile the Linux kernel
from TUI to GUI methods.
<p>
Crawford Rainwater is the CEO of <a href="http://linux-etc.com/">Linux Etc.</a> and holds the Linux+, LCP, LPIC-1, and RHCT Linux certifications. He has been consulting in the information technology field for the past nine years, with Linux being his main focus for the past five. He holds a Masters of Science in Electrical Engineering from the University of Colorado, and a Bachelors of Engineering in Electrical Engineering, Computer Science, and Mathematics from Vanderbilt University.
</div>
<p>
<div class="presentation">
<h4>23 February 2004</h4>
<b>Meeting Topic: Implementing Netsaint/Nagios for network monitoring using Mandrake 8.0
with George Boutwell.</b>
<p>
What is Netsaint/Nagios? An open source host, service and network monitoring
program. Who uses it? Lots of people, including many big name companies and
organizations. Where can I get more details on it? Right here.
<p>
George Boutwell is currently Sr. Programmer for Valley Hope Association, an
Alcohol & Drug treatment company in Norton, KS.  He has been tinkering with and
implementing Linux as a solution to various problems for 4+ years. He's tried
or worked with numerous distributions including RedHat, Mandrake, Debian,
Knoppix, and Xandros.  He's currently trying to complete is BS in Computer
Science.
</div>
<div class="presentation">
<h4>22 March 2004</h4>
<b>Meeting Topic: Linux And Laptops with Kevin Fenzi</b>
<p>
How Linux works on laptops, including APM/ACPI power management, wireless
networking, and how to choose a laptop thats Linux compatible and other pitfalls
to running Linux on your laptop.
<p>
Kevin Fenzi is the co-author of the Linux Security HOWTO, and has been using
Linux both professionally and personally for almost 10 years. Kevin works for
<a href="http://tummy.com/">Tummy.com</a>, LTD, a Linux consulting firm based
in Fort Collins.
</div>
<div class="presentation">
<h4>26 April 2004</h4>
<b>Meeting Topic: Rescheduled</b>
</div>
<p>
<div class="presentation">
<h4>24 May 2004</h4>
<b>Meeting Topic: Oracle on Linux Installfest with Todd Trichler from <a href="http://otn.oracle.com/tech/linux/index.html">Oracle Corporation</a></b>
<p>
Todd Trichler from Oracle will be there to assist and distribute Oracle 10g and other Oracle goodies at the meeting. People are encouraged to bring in their laptops and try to get Oracle up and running.
<p>
We will have internet access (WiFi as well as CAT5) thanks to DeVry.
</div>
<p>
<div class="presentation">
<h4>28 Jun 2004</h4>
<b>Meeting Topic: A Tour of Linux Distributions with Evelyn Mitchell</b>
<p>
With the introduction of Red Hat Fedora, the Linux distributions landscape has shifted. This talk will be a brief tour of a variety of distributions and their target markets. It's designed to be an introduction to the things to consider when choosing a distribution.
<p>
Evelyn Mitchell is co-founder and managing partner of <a href="http://tummy.com/">tummy.com</a>, ltd., a Linux consultancy based in Fort Collins. 
</div>

<div class="presentation">
<h4>26 July 2004</h4>
<b>Meeting Topic: Linux Certifications with Crawford Rainwater</b>
<p>
The present day IT market is always a highly competitive field from the individual consultant to the consulting business. With the increasing demand for knowledgeable Linux consultants comes the need for qualification of Linux skill sets. From the opposite end, end clients and companies want to be able to quickly assess their potential Linux resources to find "the perfect fit". The solution, Linux certifications. This presentation will discuss about the past, present, and future of Linux certifications.
<p>
Crawford Rainwater is the President and CEO of <a href="http://www.linux-etc.biz">The Linux ETC Company</a>, a Linux training and consulting firm.  He currently holds Comptia's Linux+, SAIR's Linux Certified Professional ("LCP"), Linux Professional Institute Level 1 Certification ("LPIC-1"), and RedHat's Certified Technician ("RHCT") as well as a Master Of Science in electrical engineering, and a Bachelors Of Engineering in electrical engineering, computer science, and mathematics.
</div>
<p>
<div class="presentation">
<h4>23 August 2004</h4>
<b>Meeting Topic: <a href="http://user-mode-linux.sourceforge.net">User Mode Linux</a> ("UML") with George Boutwell</b>
<p>
In the same computing space as VMWare and Bochs, but with a slightly different approach is User-Mode-Linux.  With an goal to run Linux inside Linux, it offers and interesting technology for a variety of situations. This talk will introduce you to User-Mode-Linux, highlight several typical uses, then go into the details of configuring a host, configuring a guest, and general use of User-Mode-Linux.  
<p>
George P. Boutwell is the principal behind Boutwell Software & Services the primary source of Linux and Software Development solutions in NW KS (primarily Norton, KS).
</div>
<p>
<div class="presentation">
<h4>27 September 2004</h4>
<b>Meeting Topic: <a href="http://www.apache.org/">Apache</a> on Linux</a> with Dave Anselmi</b>
<p>
<a href="http://www.apache.org/">Apache</a> is the most widely used web server on the Internet. We'll talk about how web servers work (HTTP) and how to configure Apache by looking at a real example that covers basic and intermediate features. Your Linux distribution should make installing Apache easy, but if you need 
<p>
Dave is a self-taught programmer, system and network administrator, and Linux enthusiast. He has been dabbling in Linux since 1995 and is finally starting to understand a little of it. (He's also quite modest.)
</div>
<p>
<div class="presentation">
<h4>25 October 2004</h4>
<b>Main Topic: How to Hack Wireless Networks with John Hamilton</b>
<p>
If you use wireless networks, learn why you should be concerned about security. John will demonstrate a number of the Open Source tools that are being used to hack into wireless networks. He will also present suggestions on what you can do to secure your wireless network against these hacks.
<p>
Professionally John is a digital IC design engineer for a biomedical company called Medtronic where he designs integrated circuits using a Linux workstation. Personally, he's been a Linux enthusiast for about 6 years. John also volunteers at a local elementary school where a group of people have created a complete network infrastructure based on Linux. This includes a wireless network, which is where he gained most of his experience with wireless networks.
</div>
<p>
<div class="presentation">
<h4>29 November 2004</h4>
<b>Mini FixFest</b>
<p>
CLUE-North will be hosting a "mini FixFest".  What is a mini FixFest you
ask?  We recently held an InstallFest and figured that people had the
basics installed on their systems, but there are probably a few minor
items that need to be worked out or "tweeked".  So this is an
opportunity for people to work things out with a few Linux savvy folks
around.
<p>
Monitors, keyboards, mice, and internet connectivity (wired and
wireless) will be provided thanks to DeVry.
</div>
<div class="presentation">
<h4>December 2004</h4>
<b>No CLUE-North meeting this month, due to the holidays</b>
</div>
</td>
</tr>
</table>
</div>
</div>
