<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">
<b><font color="#549CD4">Meeting:</font> 19 December 2002</b>
<br><font color="#549CD4"><b>MAIN Session Topic:</b></font>
<b>Remote Access Linux by Sean Reifschneider</b>
</p>
<!-- abstract -->
<p>
A discussion and demonstration of different types of remote access
for Linux, discussing shared terminal and disconnected session
access with "screen", accessing remote X sessions with VNC, and
using x2x to give one keyboard/mouse access to multiple displays
(poor-mans multi-head).
</p>
<!-- speaker bio -->
<p>
Sean Reifschneider is a Member of Techhnical Staff for tummy.com, ltd.,
where he develops and supports Linux-based solutions for clients.  Sean
has been using Unix since the mid 80's and Linux since 1994, both
professionally and personally.
</p>

<HR ALIGN="center" NOSHADE>
<br>

<!-- main talk -->
<p><font color="#549CD4"><b>Meeting Month: </b></font><b>November 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<b>Web Programming by Matt Gushee</b>
</p>
<!-- abstract -->
<p> 
   The Python language offers a wealth of tools for web development.
   In addition to the standard libraries, which include simple HTTP
   client and server support, there are a number of third-party     
   packages available. This presentation will compare three web 
   application toolkits, each representing a very different approach:<br>
<ul> 
<li>
    <b>Zopei</b><br>
     The Zope application server provides a powerful object 
     framework and a simple web-based management interface, 
     allowing developers to rapidly assemble complex applications 
     from a variety of custom and pre-built components. 
</li>
<li>     
     <b>4Suite</b><br>
     4Suite is a Swiss army knife for XML developers, offering a 
     portable data repository and advanced support for XSLT, RDF, and 
     other XML-related standards.
</li>
<li>
     <b>Quixote</b><br>
     While perhaps less ambitious than the other two products, Quixote 
     may be a good choice for developers who just want to get some work  
     done. It uses a Python-based template language to generate pages.
</li>
</ul>
</p> 
<p>
   We will then examine a useful application developed with one of these 
   toolkits.
</p> 
<!-- speaker bio -->
<p>
   Matt Gushee is an XML and Web Services consultant. He has been     
   working with Python for four years and has been a member of the
   4Suite development team. He lives with his wife, Taeko, and son, 
   Kazuki, in the pleasantly bland suburb of Englewood.  
</p>


<HR ALIGN="center" NOSHADE>
<br>

<font color="#549CD4"><b>Meeting Month: </b></font><b>October 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<b>Linux for Your Lab by Edward H. Hill III, PhD</b>
</p>
<!-- abstract -->
<p>
This talk will present various examples demonstrating how Linux and other Free 
and/or Open Source projects can be used in academic/research or engineering 
laboratory settings.  The talk will focus on Linux uses that are not common in 
typical office or business settings (eg. the talk is not about email/print/file
/web servers). Examples will be drawn from:</p>
<ul>
<li>data acquisitiona and porces automation;</li>
<li>data analysis and visualization;</li>
<li>scientific computing and grid-like ("idle worksation");</li>
<li>authoring papers and presentations (examples with LaTeX and BibTeX).</li>
</ul>
<!-- speaker bio -->
<p>
Ed is a post-doctoral researcher with the Environmental Science and Engineering
Division at the Colorado School of Mines in Golden, CO. His interests include:
</p>
<ul>
<li>theoretical and experimental aspects of subsurface flow and transport,</li>
<li>X-ray and gamma-ray attenuation techniques for experimental measurement of 
porous media fluid mechanics,</li>
<li>subsurface NAPL remediation,</li>
<li>computational methods for simulation and analysis of the above-mentioned 
processes, and</li>
<li>all manner of Linux, Unix, Free Software, and Open-Source computing.</li>
</ul>

<HR ALIGN="center" NOSHADE>
<br>

<font color="#549CD4"><b>Meeting Month: </b></font><b>September 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font>
<b>Linux Certification with 
<a href="mailto:crawford.rainwater@itec-co.com">Crawford Rainwater</a>
</b></p>
<p>
Thinking of earning your Linux certification or want more to learn
more about Linux training and education?
</p>
<p>
Crawford Rainwater, CEO of the ITEC Company will discuss this topic 
during the CLUE North main session.  Mr. Rainwater is a SAIR Linux 
and GNU Linux Certified Professional.  He has been consulting in the 
information technology field for the past eight years, with Linux 
being his main focus for the past three.  He holds a Masters of 
Science in Electrical Engineering from the University of Colorado.
</p> 


<HR ALIGN="center" NOSHADE>
<br>

<font color="#549CD4"><b>Meeting Month: </b></font><b>August 2002</b>
<p><font color="#549CD4"><b>MAIN Session Topic: </b></font><b>
Linux on the IBM Mainframe by <a href="mailto:dpitts@cozx.com">Dave Pitts</a>
</b>
</p>
<!-- abstract -->
<p>
Linux on the IBM Mainframe? What is this beast? Where did it come from?
I'll have answers to these questions and more. I'll also demo the RedHat version running
under the Herculesemulator.
</p>
<!-- speaker bio -->
<p>
Dave has been a software developer since 1973 and working with Linux since
1995. In 1992 I began working on the i370 version of GCC which became the
basis of the current s390 version that begat Linux. The i370 version still runs
on OS/390.
</p>
</tr>
</table>
</div>
</div>
