<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>24 January 2005</h4>
<b>Open Technology in Local Government with Anthony Fortenberry</b>
<p>
One of the most important trends in government is the migration to free / open source software (F/OSS).  However, at the local government level there are substantial barriers to innovation.  Anthony Fortenberry will discuss the <a href="http://www.techdenver.com/news-12864-516.html">open source initiatives at the City of Northglenn</a>, difficulties encountered, and his strategy for accelerating adoption of F/OSS in city and county government.
<p>
Anthony Fortenberry joined the City of Northglenn in 2002 as the Director of Technology. In 2004, he founded Open Solutions For Government (ogov.org), a non-profit organization providing education and technology in the public interest. He is currently Executive Director of ogov.org, and a strategic adviser to the City Manager and Council at Northglenn.
</div>

<div class="presentation">
<h4>28 February 2005</h4>
<b>A Linux Security Sampler with Kevin Fenzi</b>
<p>
There are a number of new and exciting developments in Security in Linux, as well as tried and true systems and tactics. In this talk we will touch on some of the new Security developments out there (selinux, vpns, etc) and also go over some of the best things you can do to secure your networks and machines from threats (ssh, firewalls, updates, etc). Kevin's slides are <a href="http://www.tummy.com/Community/Presentations/SecuritySampler.pdf">here</a> (PDF).
<p>
Kevin has been working with Linux since 1995. He is the Co-Author of the Linux-Security-HOWTO. In 1999 he started building the <a href="http://www.tummy.com/krud">KRUD distribution</a>. Since 1999 he has been working for <a href="http://www.tummy.com/">tummy.com</a> doing Linux consulting and System Administration.
</div>

<div class="presentation">
<h4>28 March 2005</h4>
<b>Introduction to Cryptography with <a href="http://users.frii.com/thag">Jed Baer</a></b>
<p>
Interested in how cryptography works, and how it can benefit you? Jed will present an overview and demonstration of cryptography, using the <a href="http://www.gpg.org/">Gnu Privacy Guard</a> suite of crypto tools.
<p>
Jed is an IT veteran who started working in the computing industry in 1982. His expertise ranges from programming to database development to system administration. His interest in cryptography stems from a keen sense of individual rights, including privacy. <a href="/crypto-sylpheed-talk/pkc-talk-nc.sxi">Presentation slides</a> (500K Impress)
</div>

<div class="presentation">
<h4>25 April 2005</h4>
<b>Taking back your mailbox: Anti-Spam with Linux, with <a href="http://tummy.com/journals/users/jafo">Sean Reifschneider</a></b>
<p>
The Unsolicited Commercial E-mail problem won't really be solved until it's viewed as the attack on the Internet that it is. In the meantime, there are many different techniques for blocking these unwanted messages. In this presentation, Sean Reifschneider of tummy.com, ltd. will discuss some of the more common techniques, their benefits and drawbacks, and give some real-world examples of how they can be used.  
<p>
Sean Reifschneider is a Member of Techhnical Staff for <a href="http://tummy.com/">tummy.com, ltd.</a>, where he develops and supports Linux-based solutions for clients. Sean has been using Unix since the mid 80's and Linux since 1994, both professionally and personally.
</div>

<div class="presentation">
<h4>23 May 2005</h4>
<b>LPI-101 Exam review with Crawford Rainwater</b>
<p>
This will be an overview of the LPI (Linux Professional Institute) exam process along with a review of the LPI-101 exam objectives in preparation for the upcoming Linux Cert-Fest being offer by LPI-US tentatively at the next CLUE InstallFest in August. For more on the LPI Certification please visit <a href="http://www.lpi.org">www.lpi.org</a>.
<p>
Crawford Rainwater is the CEO of <a href="http://linux-etc.com/">Linux Etc.</a> and holds the Linux+, LCP, LPIC-1, and RHCT Linux certifications. He has been consulting in the information technology field for the past nine years, with Linux being his main focus for the past five. He holds a Masters of Science in Electrical Engineering from the University of Colorado, and a Bachelors of Engineering in Electrical Engineering, Computer Science, and Mathematics from Vanderbilt University.
</div>

<div class="presentation">
<h4>27 June 2005</h4>
<b>vPostMaster: A Postfix Mail Server, with <a href="http://tummy.com/journals/users/jafo">Sean Reifschneider</a></b>
<p>
There are many tools out there which, when combined, result in an extremely nice e-mail server for handling virtual e-mail domains. Gone are the days when you can just set up an SMTP server and hook it up to some mailboxes with POP. Todays mail server needs to handle IMAP, SMTP AUTH, Webmail, encryption, anti-spam, anti-virus, and more. vPostMaster is an easy-to-install yet comprehensive e-mail server. The installation and administration will be demonstrated, followed by a "behind the scenes" view of the mechanisms within Postfix which are used to make it all happen. Sean Reifschneider of tummy.com, ltd. will demonstrate the results, and then dive into a technical discussion of Postfix policy filters and transports which make it happen.
<p>
Sean Reifschneider is a Member of Techhnical Staff for <a href="http://tummy.com/">tummy.com, ltd.</a>, where he develops and supports Linux-based solutions for clients. Sean has been using Unix since the mid 80's and Linux since 1994, both professionally and personally.
</div>

<div class="presentation">
<h4>25 July 2005</h4>
<b>Topic: LPI-102 Exam review with Crawford Rainwater</b>
<p>
This will be an overview of the LPI (Linux Professional Institute) exam process along with a review of the LPI-102 exam objectives in preparation for the upcoming Linux Cert-Fest being offer by LPI-US tentatively at the next CLUE InstallFest in August. For more on the LPI Certification please visit <a href="http://www.lpi.org">www.lpi.org</a>.
<p>
Crawford Rainwater is the CEO of <a href="http://linux-etc.com">Linux Etc.</a> and holds the Linux+, LCP, LPIC-1, and RHCT Linux certifications. He has been consulting in the information technology field for the past nine years, with Linux being his main focus for the past five. He holds a Masters of Science in Electrical Engineering from the University of Colorado, and a Bachelors of Engineering in Electrical Engineering, Computer Science, and Mathematics from Vanderbilt University.
</div>

<div class="presentation">
<h4>22 August 2005</h4>
<b>Topic: Monitoring, Responding and Disaster Recovery
Network Maintenance with Nagios &#151; David Rudder</b>
<p>
Reducing downtime and system errors is critical to the success of a network administrator. This speech will introduce the concept of automated monitoring, talk about some of the features and lacks of popular monitoring packages, and give a detailed overview of the Nagios monitoring package. Nagios is an open source software package that competes with many expensive commercial monitoring packages. <a href="presentations/nagios_rudder.sxi">Presentation Slides</a> (95K Impress)
<p>
David Rudder is the President of <a href="http://www.reliableresponse.net/">Reliable Response, LLC</a>, a maker of IT notification software. He's been using Linux and maintaining Linux networks since 1995. He's the author of the 1st revision of the Linux Firewalling and Proxy Server HOWTO, circa 1996, and has been involved in various Linux users groups and online communities since. David has been using Nagios for almost 2 years with commercial and personal networks.

</div>

<div class="presentation">
<h4>26 September 2005</h4>
<b>Topic:</b> Hacking Society
<p>
What is a <a href="http://www.hackingsociety.org/">Hacking Society</a>?<blockquote>The goal of the Hacking Society is to foster geek community-building through the shared experience of hacking.  Of course, by "hacking", I mean the more historic meaning of working on interesting projects (<a href="http://www.catb.org/~esr/jargon/html/H/hack.html">Jargon File "hack" entry, sense 6</a>).  Not the "script kiddies trying to compromise boxes" meaning which has become what most people think of in relation to the term.  The WikiPedia also has a good definition of the word <a href="http://en.wikipedia.org/wiki/Hacker">Hacker</a>.</blockquote>

Do you have a little hacking project that could use some input from like-minded CLUE-bies? Then bring it up to the CLUE-North meeting this month.
</div>

<div class="presentation">
<h4>24 October 2005</h4>
<b>Topic:</b> <a href="http://www.asterisk.org/">Asterisk</a> Voice-Over-IP with Dale Laushman and Eric Alexander from <a href="http://www.theuptimegroup.com/">The Uptime Group</a>
<p>
With the burgeoning demand for VOIP phone service, Asterisk is the hottest thing in open source software. Asterisk is a complete software-based PBX that runs on Linux, BSD and MacOSX and provides all of the features you would expect from a PBX and more. Asterisk can interoperate with almost all standards-based telephony equipment using relatively inexpensive hardware.
<p>
We have implemented the software in local businesses, and now we're going to show you how to configure your own Asterisk system to eliminate sales calls during dinner. Yes, we are trained professionals, but YOU CAN DO THIS AT HOME! Learn how to set up Asterisk step-by-step with a proven selection of operating systems and packages. <a href="http://www.theuptimegroup.com/documents/asteriskThwartingTelemarketers.pdf">Presentation</a> (PDF 118K)

<p>
The Uptime Group is your Denver/Boulder outsourced information technology
department. From computer networking to phone systems to ongoing maintenance
and support, we deliver the most cost-effective, reliable and secure IT
solutions by innovatively integrating the best of traditional and
Linux/open-source software with existing systems "where it makes sense."
</div>

<div class="presentation">
<h4>28 November 2005</h4>
<b>Topic:</b> Mini FixFest and Hacking Society combo
<p>
With the recent InstallFest on Saturday, 19 November we figured there
might be some minor bugs and issues that folks would like to have some
help with.  So with that in mind there will be some folks present to
help assist others in some minor repair and/or enhancement work on your
Linux systems.
</div>

</div>
</div>
