<?php include ('show_archive_list.php');?>

<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

<div class="presentation">
<h4>23 January</h4>
<b>Topic:</b> Virtual Private Networking with Dale Laushman from <a href="http://www.theuptimegroup.com/">The Uptime Group</a>
<p>
Interactive dialogues on the theory and applications of VPN and associative technologies and packages available for use on the Linux platform, IPSEC, OpenVPN, PPTP, IPTables.
<p>
Dale Laushman is a Programmer/Engineer/SysAdm/Consultant/LinuxEnthusiast and also the CTO of The Uptime Group.
</div>

<div class="presentation">
<h4>27 February</h4>
<b>Topic:</b> Writing about open source, with Joe "Zonker" Brockmeier.
<p>
Zonker will discuss technology journalism, what kind of opportunities exist, how open source has affected journalism and publishing, and how to write about Linux and open source for fun and profit.
<p>
Joe 'Zonker' Brockmeier is the editorial director for <a href="http://linux.com/">Linux.com</a>, and has a long history of writing about Linux and open source technology. Zonker has written for Linux.com, <a href="http://newsforge.com/">NewsForge.com</a>, <i>IT Manager's Journal</i>, <a href="http://www.lwn.net/">Linux Weekly News</a>, <i>Linux Magazine</i>, IBM developerWorks, <a href="http://unixreview.com/">UnixReview.com</a>, <i>Sys Admin Magazine</i>, <i>Enterprise Linux Magazine</i>, <i>ComputorEdge</i>, ZDNet, and a number of other publications. Zonker has also written and contributed to books on Slackware Linux, DocBook, and Linux networking.
</div>

<div class="presentation">
<h4>27 March</h4>
<b>Topic:</b> Linux Wireless Configuration with Dave Price
</div>

<div class="presentation">
<h4>24 April</h4>
<b>Topic:</b> Linux Laptops for Flattops with Peter Kuykendall
<p>
Peter will talk about a project that he thought up about a month ago. He calls it "Laptops for Flat Tops". The idea is to take used, surplus laptop computers that are currently gathering dust in basements, garages, and closets, and press them into useful service for soldiers overseas. This will enable them to communicate with their friends and families, read the news, play games, and just generally stay connected with the real world. He believes that this can be done with little or no cash outlay, just donations of services such as shipping and equipment such as "obsolete" laptop and desktop PCs.
<p>
One paramount goal of this project is to ensure that no one person needs to contribute a whole lot of time or money or anything else. This makes contributing easy and fun without being overwhelming, which in turn opens the door to a whole lot of participants.  
<p>
We need volunteers who are willing to be leaders in the following areas:
<ul>
<li>Development of software bundles for the laptops and servers. This is really just aggregating existing Linux and other free software.</li>
<li>Acquisition of used laptops. Ancient 1995 vintage is OK for web surfing and email. Newer models allow video phone service!</li>
<li>Acquisition of used desktop machines (Pentium 500 or better, for use as servers)</li>
<li>Acquisition of miscellaneous networking gear (10-base-T, 802.11b, whatever)</li>
<li>Loading of software bundles into used laptops</li>
<li>Shipping (possible shippers include US military, as well as commercial shippers)</li>
<li>Liaison with the US military, so that we can get this stuff allowed on base, along with a place to put it, power, permission to connect to their Internet connection, etc.</li>
<li>People who currently live overseas or are interested in travelling overseas to coordinate installation.</li>
<li>Liaison with existing charities.</li>
</ul>
Some thoughts on likely software bundles: Run a very thin client. The smallest machines will be 486 class, 4 MB RAM, and just a floppy. Amazingly, that's still useful. It would be great to go completely diskless, but I don't *think* that any of the old laptops can initialize a PCMCIA NIC without help from something on a disk.
<p>
Peter is an electrical engineer who has been working mostly in embedded systems for about 25 years. He currently works on satellite TV piracy issues for Comcast.
</div>

<div class="presentation">
<h4>26 June</h4>
</div>

<div class="presentation">
<h4>24 July</h4>
</div>

<div class="presentation">
<h4>28 August</h4>
</div>

<div class="presentation">
<h4>25 September</h4>
</div>

<div class="presentation">
<h4>23 October</h4>
</div>

<div class="presentation">
<h4>27 November</h4>
</div>

</div>
</div>
