<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">

One of the most common questions new Linux users ask is 'where can I get help
with Linux?'. In addition to help from the <a href="<?php print MAILMAN
?>/clue">CLUE email list</a>, we strongly encourage you to use the following
resources to answer questions and provide much information about Linux.
<p>

A great resource for information about Linux and technical aspects is the
<a href="http://www.tldp.org/">Linux Documentation Project</a> (LDP).
The HowTo topics explain how to do some thing with Linux. For example, the
Ethernet-HowTo explains how to configure your Linux system to use ethernet
cards. The LDP also has Frequently Asked Questions, Linux man (manual) pages,
and guides (full length reference books). The best part about the LDP is that
the documents are available in many formats:  HTML, PDF, Post-Script, plain
text. Finally, note that much of the LDP content is delivered with most Linux
distributions, so check your Linux machine in /usr/doc for LDP documents.
<p>

In addition to the LDP, there are numerous Linux newsgroups available. Usenet
newsgroups have been around for nearly 20 years on the internet. They are a
forum for information exchange and there are newsgroups for any topic
imaginable. You can read more about Usenet at their <a
href="http://www2.webmagic.com/usenet.org/">homepage</a>.
<p>

If you are unfamiliar with Usenet newsgroups, please be aware that accepted
newsgroup
<a href="http://www.albion.com/netiquette/corerules.html">etiquette</a> is that
you read or search the newsgroup before you ask your question. The reason for
this is because there is a good chance that someone already has asked your
question and received an answer or suggestion. In addition, some newsgroups
have a FAQ - Frequently Asked Question list. Such FAQs are posted on a weekly
or monthly basis to the newsgroup. Definitely, consult the FAQ for the group of
interest before you post a question. This will spare you the embarassment of
asking a question and receiving a response like 'Your question is answered in
the FAQ. Go read it!'.
<p>

To search newsgroup archives, you can use the
<a href="http://groups.google.com/advanced_group_search?hl=en">Advanced Groups
Search</a> on <a href="http://www.google.com">Google</a> (Google is powered
by Linux). Check the <a href="#help">Linux Help</a> section below for
additional Linux newsgroups. If you do not have a Usenet newsfeed from your ISP
or do not want to set up your Usenet news reader client, you can browse Usenet
news on <a href="http://groups.google.com/">Google</a>.
</div>
</div>

<div class="block">
<h3>Linux Information</h3>
<div class="content">
<ul>
<li><a href="http://www.linux.org/">The Linux Home Page</a></li>
<li><a href="http://www.linux.com/">Linux.com</a></li>
<li><a href="http://www.google.com/linux/">Google's Linux search</a></li>
<li><a href="http://www.lugod.org/">LUGOD: The Linux Users' Group of Davis</a></li>
</ul>
</div>
</div>

<div class="block">
<h3>Linux Certification</h3>
<div class="content">
<ul>
<li><a href="http://www.lpi.org">LPI Certification</a> - Distribution independant certification.</li>
<li><a href="http://www.redhat.com/training/rhce/courses/">RHCE Certification</a> - Red Hat certification.</li>
<li><a href="http://www.linuxcertification.org">SAIR GNU/Linux Certification</a> - Distribution independant certification.</li>
</ul>
</div>
</div>

<div class="block">
<a name="help"><h3>Linux Help</h3>
<div class="content">
<ul>
<li><a href="http://www.tldp.org/">Linux Documentation Project (LDP)</a></li>
<li><a href="http://www.broadbandexpert.com/guides/ultimate-linux-guide/">Broadband Expert</a></li>
<li><a href="news:comp.os.linux.answers">comp.os.linux.answers</a></li>
<li><a href="news:comp.os.linux.help">comp.os.linux.help</a></li>
<li><a href="news:comp.os.linux.questions">comp.os.linux.questions</a></li>
<li><a href="news:comp.os.linux.misc">comp.os.linux.misc</a></li>
<li><a href="news:comp.os.linux.networking">comp.os.linux.networking</a></li>
<li><a href="news:comp.os.linux.security">comp.os.linux.security</a></li>
<li><a href="news:comp.os.linux.setup">comp.os.linux.setup</a></li>
</ul>
</div>
</div>

<div class="block">
<h3>Linux News</h3>
<div class="content">
<ul>
<li><a href="http://groups.google.com/advanced_group_search?hl=en">Advanced Groups Search</a>
<!-- <li><a href="http://www.cs.helsinki.fi/%7Emjrauhal/linux/cola.html">COLA - comp.os.linux.announce</a></li> -->
<li><a href="http://www.lwn.net/daily">Linux Daily News</a></li>
<li><a href="http://www.lwn.net">Linux Weekly News</a></li>
<li><a href="http://www.linuxtoday.com">Linux Today</a></li>
<li><a href="http://www.linuxjournal.com">Linux Journal</a></li>
<li><a href="http://www.linuxworld.com">Linux World</a></li>
<li><a href="http://screaming-penguin.com/">Screaming Penguin</a></li>
</ul>
</div>
</div>

<div class="block">
<h3>Linux Distributions</h3>
<div class="content">
<p>There are many distributions of the GNU/Linux operating system. Here are some of the most popular.
<ul>
<li><a href="http://www.debian.org/">Debian</a></li>
<li><a href="http://fedoraproject.org/">Fedora</a></li>
<li><a href="http://www.gentoo.org/">Gentoo</a></li>
<li><a href="http://www.kubuntu.org/">Kubuntu</a> &#151; a variant of Ubuntu using the <a href="http://kde.org/">K Desktop Environment</a></li>
<li><a href="http://www.mandrakelinux.com/en/">Mandrake</a></li>
<li><a href="http://www.redhat.com/">Red Hat</a></li>
<li><a href="http://www.slackware.com/">Slackware</a></li>
<li><a href="http://www.suse.com/">SuSE</a></li>
<li><a href="http://www.ubuntu.com/">Ubuntu</a></li>
</ul>
</p>
<p>An easy way to try out Linux is by using a "Live CD". Boot your system from the CD, and use Linux without needing to do an install. Most, if not all, of the major distributions listed above have live CD's available. Another one you can try is <a href="http://www.knoppix.org/">Knoppix</a>.
</p>
<p>There are also distributions optimized for small machines, and/or use from a USB flash drive. Here are a couple examples:
<ul>
<li><a href="http://damnsmalllinux.org/">Damn Small Linux</a></li>
<li><a href="http://www.puppylinux.org/">Puppy Linux</a></li>
</ul></p>
<p>For even more information on varieties of the GNU/Linux operating system to use, check out:
<ul>
<li><a href="http://lwn.net/Distributions/">Linux Weekly News Distribution List</a></li>
<li><a href="http://distrowatch.com/">DistroWatch.com</a></li>
</ul>
</div>
</div>

<div class="block">
<h3>Linux Companies</h3>
<div class="content">
<ul>
<li><a href="http://www.oreilly.com/">O'Reilly</a> -- O'Reilly deserves special attention due to the number of contributions to CLUE. Thanks, O'Reilly!</li>
</ul>
</div>
</div>

<div class="block">
<h3>Colorado Linux Companies</h3>
<div class="content">
<ul>
<li><a href="http://linux-etc.com/">The Linux ETC Company</a> &#151; Linux Education and Technical Consulting
<li><a href="http://www.batky-howell.com/">Batky-Howell</a> &#151; Linux Training</li>
<li><a href="http://www.tummy.com/">Tummy.com, ltd.</a> &#151; Linux consultants.</li>
<li><a href="http://www.xigraphics.com/">Xi Graphics</a> &#151; Accelerated X Servers.</li>
</ul>
</div>
</div>

<div class="block">
<h3>Colorado Linux User Groups</h3>
<div class="content">
Generally, CLUE members live in the Denver metro area. You may find other Linux User Groups closer to you.
<ul>
<li><a href="http://lug.boulder.co.us">Boulder Linux Users Group</a></li>
<li><a href="http://cudlug.cudenver.edu/">CU Denver Linux Users Group</a></li>
<li><a href="http://www.nclug.org">Northern Colorado Linux Users Group</a></li>
<li><a href="http://www.pplug.org">Pikes Peak Linux Users Group</a></li>
<!-- add this if we get a good link
<li><a href="http://www.web-wide.net/~plug">Pueblo Linux User's Group</a></li>
-->
</ul>

If your Colorado LUG is not listed, please drop an email to the <?php echo WEBMASTER; ?>.
<p>
A list of LUGs in other states can be found <a href="http://www.linux.org/groups/index.html">here</a>.
</div>
</div>



