<table>
<tr>
	<td><b>Date:</b></td>
	<td><?php echo IFESTDATE; ?></td>
</tr>
<tr>
	<td><b>Time:</b></td>
	<td>9am to 4pm (doors close at 1pm)</td>
</tr>
<tr>
	<td><b>Location:</b></td>
	<td><a href="http://www.devry.edu/locations/campuses/loc_denver_map.jsp">DeVry University</a></td>
</tr>
<tr>
	<td><b>Address:</b></td>
	<td>
		6312 S. Fiddlers Green Cr. Suite 150E<br>
		Greenwood Village, CO 80111<br>
	</td>
</tr>
<tr>
	<td><b>Directions:</b></td>
	<td>Here's a <a href="http://www.devry.edu/locations/campuses/loc_denver_map.jsp">map</a>.
		<p>The DeVry classrooms are in a very cool building at the corner of Greenwood Plaza Blvd and Fiddler's Green Cr.  Greenwood Plaza is the light just west of I-25 on Orchard (the map makes it look like Syracuse Way, but it's Greenwood Plaza--bear left at the first light south of Orchard).
		<p>Please park in the regular spots (not the visitors' spots) in the parking garage to the east of the building.  You can stop to unload on the circle between the building and the parking garage.  Then please go around to the opposite side of the garage (the east side) to park.  If the gates are down the code is 1111#.  
		<p>We'll be in room 117 in the east wing, to the left as you enter the atrium.
		<p>The atrium doors will close at about 1pm.  If you arrive after that you can call Dave at 720-490-9901.
	</td>
</tr>
</table>
