<div class="block">
<h3><?php echo $pagedesc; ?></h3>
<div class="content">
Please refer to our meeting information pages for our <a href="display.php?node=dtc_info">DTC Meetings</a> and our <a href="display.php?node=north_info">North Meetings</a> to read the CLUE meeting structure and how your presentation fits in. Also, the <a href="http://www.usenix.org">USENIX</a> group produced a PDF <a href="documents/slide.guide.pdf">document</a> that is an excellent discussion of slide production and general presentation tips. Please read this!

<H2>Presentation Facilites</H2>
Our current meeting location is an auditorium that seats between 60-70 people. There is a white board at the front of the auditorium. In addition, we generally are able to provide a digital overhead projector that can be plugged into your computer or lap top.

<H2>The Audience</H2>
The Colorado Linux Users and Enthusiasts is a diverse audience with a common interest &#151; the GNU/Linux operating system. The range in experience with Linux is wide; some know little about Linux, others have used Linux for many years. In addition, many hold jobs in technical fields where they use Linux daily, while others simply want a better home computer.

<H2>KISS Presentations</H2>
The content of a KISS (Keep It Simple, Stupid) presentations should be a single Linux topic. The idea is for the speaker to learn about the topic and then present an overview to the group. You need not be an expert Linux user to lead a KISS session, so please contact <?php print SPEAKERS ?> or <?php echo NORTH; ?> to volunteer.

<p>The KISS sessions start at 6:30 pm and end promptly at 7:00 pm. This is generally enough time to go over a 1-2 page handout or about 3-8 overhead slides. The folks who attend the KISS sessions expect to be able to ask questions during the presentation. So, adjust the amount of material you plan to cover to allow for questions during the 30 minute session. Finally, keep your ideas brief so that you will not run out of time!

<p>For the year 2006, we're dedicating the KISS sessions to a "Desktop Linux 101" series, which is designed to give Linux newbies an introduction to commonly used productivity applications available for Linux.

<p>Some examples of KISS sessions are:
<ul>
<li>Top 10 Linux Commands</li>
<li>Linux Initialization</li>
<li>Red Hat Package Manager</li>
<li>Configure dial-up modems for Linux</li>
</ul>

<p>Many KISS presentors have structured the session as a workshop. For example, they briefly introduce the topic, discuss how users can apply the concept, and then extend the concept to new ideas.

<H2>Main Presentations</H2>
The Main Presentation is the feature of the month. It will start at approximately 7:15 pm and should be completed by 8:15 pm, followed by a 5-15 minute question and answer session.  

<H3>Suggested Structure</H3>
Unlike the KISS session, the Main presentations delve deeper into a specific topic. Deeper is a relative term and the inclination of most speakers is to include too much information. Most people will not digest too many facts during a 45 - 60 minute presentation. This is the difference between a successful, well- received talk and one that leaves the audience bewildered and overwhelmed with facts.

<p>We suggest the following guidelines &#151; these are the questions your audience asks themselves during your presentation.
<ul>
<li><b>Brief Overview</b> &#151; Why are you talking about this?  What will you cover?</li>
<li><b>Juicy Details</b> &#151; Give us some details, examples, demonstrations of the topic.</li>
<li><b>Summary</b> &#151; Why did you talk about this?  What were the 'take home' points?</li>
<li><b>Questions</b> &#151; Help us understand some specifics and please answer my question!</li>
</ul>

<p>Do not feel compelled to answer questions immediately as they will often stall the presentation. When someone wants to ask a question during the talk, you can ask them to hold off until the Q&A session. Often, speakers will preface their talk with a statement like 'please hold off questions until the end'.

<H3>Demonstrations</H3>
If you wish to demonstrate an aspect of your topic, then it is a good idea to plan on a 45 minute presentation and allow 15 minutes for the demonstration. Some speakers have started with a demonstration and then structured the presentation around the concepts in the demonstration. This structure is well-received because is it uncommon. Finally, please consider that your demonstration should be well-practiced in case things go awry during your presentation.

<H3>Presentation Slides</H3>
Digital slides are a common way to present information to the audience. Please read the USENIX guidelines for tips on writing useful <a href="documents/slide.guide.pdf">slides</a>. For most talks, a good rule of thumb for the number of slides is about 1 slide every 2-3 minutes. So, if you plan on a 45 minute talk with a 15 minute demonstration, you can guess that 15-20 slides will not cause you to run over time.

<p>There are several ways to produce colorful and informative slides. The Star / Open Office application <a href="http://www.openoffice.org">Impress</a> will create slide show presentations and has many features for layouts, exporting slides to HTML, and templates. In addition, other speakers have written HTML pages and PDF documents to generate slides.

<h3>Presentation Template</h3>

<p>We have a <a href="objects/DTL_101_template.odp">OpenOffice v2 Impress template</a> available for use in OpenOffice.org Impress, which you are welcome to use for your presentation. It's also available as an <a href="objects/DTL_101_template.sxi">OpenOffice v1 Impress file</a>.
</div>
</div>
