<div class="block">
<h3>CLUE Sponsors</h3>
<div class="content">

CLUE would like to acknowledge the following sponsors for their contributions to our Linux User Group. We differentiate the sponsors into two levels based on their contributions: Premier and General. Premier sponsors have made extraordinary contributions to the Colorado Linux Users and Enthusiasts either by innumerable donations or sponsoring our meeting location. General sponsors have contributed donations to one or more CLUE meetings in the past 6 months.
<p>
If you would like to become a sponsor, please contact our Sponsor Coordinator,
<?php print SPONSORS ?> for additional information.</p>
<p>

CLUE has specific policies on the distribution of door prizes. For the details
of the policies, please read our statement on
<a href="display.php?node=vendorpolicies">vendor policies</a>.
</div>
</div>

<div class="block">
<h3>CLUE Premier Sponsors</h3>
<div class="content">

<table class="sponsor" CELLSPACING=5 WIDTH="100%" >

<! ************* Linux ETC ****************** ->
<! Exp Date: None  ->
<tr>
<td class="sponsor_logo"><center><a href="http://linux-etc.com"><img src="objects/Linuxetc.gif" border=0></a></center></td>
<td>The <a href="http://linux-etc.com">Linux ETC</a> company provides Linux education and technical consulting services.
</tr>

<! ************* DeVry University ****************** ->
<! Exp Date: None  ->
<tr>
<td class="sponsor_logo"><center><a href="http://devry.edu/westminster/">DeVry University</a></center></td>
<td><a href="http://devry.edu/westminster/">DeVry University</a> provides meeting space for the CLUE North meetings.
</td>
</tr>

<! ************* Oracle Technology Network ****************** ->
<! Exp Date: None  ->
<tr>
<td class="sponsor_logo"><center><a href="http://www.oracle.com/technology/tech/linux/index.html"><img src="objects/otn_logo_small.gif" border=0 width=144 height=36></a></center></td>
<td><a href="http://www.oracle.com/technology/tech/linux/index.html">Oracle's Linux commitment</a> began in 1998 with the first commercial database on Linux. Today, Oracle is the only major software vendor to collaborate with and provide first-line support for Red Hat, Novell, and Asianux, and all Oracle products are available on Linux.
</td>
</tr>

<! ************* SoftPro ****************** ->
<! Exp Date: None  ->
<tr>
<td class="sponsor_logo"><center><a href="http://www.softpro.com"><img src="objects/softpro.jpg" border=0></a></center></td>
<td><a href="http://www.softpro.com">SoftPro</a> is an independant computer book store featuring a great selection of Linux titles.</td>
</tr>

<! ************* Batky-Howell ****************** ->
<! Exp Date: None  ->
<tr>
<td class="sponsor_logo">
<center>
<a href="http://www.batky-howell.com"><img SRC="objects/batky-howell.gif" BORDER=0></a></td>
</center>
<td>
<a href="http://www.batky-howell.com">Batky-Howell</a> computer education for professionals offers open-enrollment and on-site computer training using a proven curriculum that accelerates migration to object-oriented, client/server, and Web/Internet technologies.
</td>
</tr>

<! ************* O'Reilly ****************** ->
<! Exp Date: None ->
<tr>
  <td class="sponsor_logo">
    <center>
    <a href="http://www.oreilly.com"><img src="objects/oreilly.gif" border=0></a>
    </center>
  </td>
  <td>
    <a href="http://www.oreilly.com">O'Reilly & Associates</a> is the leading publisher of books for UNIX, X, the Internet, and other open systems, as well as a pioneer in online publishing.
    <p>
     <img
       src="http://ug.oreilly.com/graphics_new/safari_bookshelf_logo.gif"
       width=150 height=63 align=left
     >
     <a href="http://www.oreilly.com/safari/ug">Go On Safari</a> with your user group and you can receive FREE O'Reilly gifts and an on-site visit with Tim O'Reilly. With the O'Reilly Network Safari Bookshelf, you have access to over 1,000 of the top technical books online using your web browser. And with Safari's advanced search capabilities, you'll find the answers--and code samples--you need fast.
  </td>
</tr>
</table>
</div>
</div>

<div class="block">
<h3>CLUE General Sponsors</h3>
<div class="content">

<table class="sponsor" CELLSPACING=5 WIDTH="100%" >

<! ************* New Riders ****************** ->
<! Exp Date: None ->
<tr>
<td class="sponsor_logo"><center><a href="http://www.newriders.com"><img src="objects/nr_logo.gif" border=0></a></center></td>
<td><a href="http://www.newriders.com">New Riders</a> is a publisher of books for Voices That Matter.
</td>
</tr>

<! ************* Prentice Hall PTR ****************** ->
<! Exp Date: Mar 2003 ->
<tr>
<td class="sponsor_logo"><center><a href="http://www.phptr.com"><img src="objects/phptrUsrGrp.gif" border=0></a></center></td>
<td><a href="http://www.phptr.com">Prentice Hall PTR</a> publishes high-quality books on many cutting-edge topics in computer science, business, and engineering. 
</td>
</tr>
<! ************* aPress ****************** ->
<! Exp Date: None ->
<tr>
<td class="sponsor_logo"><center><a href="http://apress.com">Apress</a></center></td>
<td><a href="http://apress.com">Apress</a> is a new publishing company devoted to meeting the needs of programming professionals.
</td>
</tr>
<! ************* Linux Journal ****************** ->
<! Exp Date: None ->
<tr>
<td class="sponsor_logo"><center><a href="http://www.linuxjournal.com"><img src="objects/ljlogo.png" width=142 height=69 alt="Linux Journal" border=0></a></center></td>
<td><a href="http://www.linuxjournal.com">Linux Journal</a> is "The Original Monthly Magazine of the Linux Community", since 1994.
</td>
</tr>

</table>

</div>
</div>
