<div class="block">
<h3>CLUE Study Group</h3>
<img SRC="objects/tux5books.jpg" hspace=5 vspace=5 border=0 height=109 width=143 align=right>
<div class="content">

<b>Meeting Schedule:</b> Check mailing list: <a href="<?php echo MAILMAN; ?>/clue/">CLUE</a>.
</div>

<h4>What is the CLUE study group?</h4>
<div class="content">

It's a monthly meeting of CLUE members who wish to increase their knowledge and understanding of Linux. We typically meet on the fourth Monday of each month, but scheduling may change due to holidays and other conflicts. New members are welcome to attend. Even if you cannot attend our meetings, we would welcome your participation in the <a href="<?php echo MAILMAN; ?>/clue/">CLUE</a> mailing list.
<p>
For futher questions about the CLUE study group, contact <?php print PRESIDENT ?>.
</div>
</div>

<div class="block">
<h3>Certification Links</h3>
<div class="content">

<a href="<?php echo MAILMAN; ?>/clue/">CLUE mailinglist</a>
<p>
<a href="http://lug.linuxcertification.org/">Sair User Group Program</a>
<p>
<a href="http://www.lpi.org/">Linux Professional Institute</a>
<p>
<a href="http://www.redhat.com/training/rhce/examprep.html">RHCE Exam Prep</a>
<p>
<a href="http://groups.yahoo.com/group/linux_study">Yahoo linux_study group</a>
</div>
</div>
